@import "./colored";

$primary-hover-text-color: $primary-text-color !default;
$secondary-hover-text-color: $secondary-text-color !default;
$red-hover-text-color: $red-text-color !default;
$orange-hover-text-color: $orange-text-color !default;
$yellow-hover-text-color: $yellow-text-color !default;
$olive-hover-text-color: $olive-text-color !default;
$green-hover-text-color: $green-text-color !default;
$teal-hover-text-color: $teal-text-color !default;
$blue-hover-text-color: $blue-text-color !default;
$violet-hover-text-color: $violet-text-color !default;
$purple-hover-text-color: $purple-text-color !default;
$pink-hover-text-color: $pink-text-color !default;
$brown-hover-text-color: $brown-text-color !default;
$grey-hover-text-color: $grey-text-color !default;
$black-hover-text-color: $black-text-color !default;
