@import './colored';

$primaryHoverTextColor   : $primaryTextColor !default;
$secondaryHoverTextColor : $secondaryTextColor !default;
$redHoverTextColor       : $redTextColor !default;
$orangeHoverTextColor    : $orangeTextColor !default;
$yellowHoverTextColor    : $yellowTextColor !default;
$oliveHoverTextColor     : $oliveTextColor !default;
$greenHoverTextColor     : $greenTextColor !default;
$tealHoverTextColor      : $tealTextColor !default;
$blueHoverTextColor      : $blueTextColor !default;
$violetHoverTextColor    : $violetTextColor !default;
$purpleHoverTextColor    : $purpleTextColor !default;
$pinkHoverTextColor      : $pinkTextColor !default;
$brownHoverTextColor     : $brownTextColor !default;
$greyHoverTextColor      : $greyTextColor !default;
$blackHoverTextColor     : $blackTextColor !default;