$darkTextColor               : rgba(0, 0, 0, 0.85) !default;
$mutedTextColor              : rgba(0, 0, 0, 0.6) !default;
$lightTextColor              : rgba(0, 0, 0, 0.4) !default;

$unselectedTextColor         : rgba(0, 0, 0, 0.4) !default;
$hoveredTextColor            : rgba(0, 0, 0, 0.8) !default;
$pressedTextColor            : rgba(0, 0, 0, 0.9) !default;
$selectedTextColor           : rgba(0, 0, 0, 0.95) !default;
$disabledTextColor           : rgba(0, 0, 0, 0.2) !default;

$invertedTextColor           : rgba(255, 255, 255, 0.9) !default;
$invertedMutedTextColor      : rgba(255, 255, 255, 0.8) !default;
$invertedLightTextColor      : rgba(255, 255, 255, 0.7) !default;
$invertedUnselectedTextColor : rgba(255, 255, 255, 0.5) !default;
$invertedHoveredTextColor    : rgba(255, 255, 255, 1) !default;
$invertedPressedTextColor    : rgba(255, 255, 255, 1) !default;
$invertedSelectedTextColor   : rgba(255, 255, 255, 1) !default;
$invertedDisabledTextColor   : rgba(255, 255, 255, 0.2) !default;