$track-background: transparent !default;
$thumb-background: rgba(0, 0, 0, 0.1) !default;
$thumb-inactive-background: rgba(0, 0, 0, 0.15) !default;
$thumb-hover-background: rgba(128, 135, 139, 0.8) !default;
