$trackInvertedBackground: rgba(255, 255, 255, 0.1) !default;
$thumbInvertedBackground: rgba(255, 255, 255, 0.25) !default;
$thumbInvertedInactiveBackground: rgba(255, 255, 255, 0.15) !default;
$thumbInvertedHoverBackground: rgba(255, 255, 255, 0.35) !default;