$useCustomScrollbars: true !default;

// Rendered Scrollbar Width */
$scrollbarWidth: 17px !default;

$customScrollbarWidth: 5px !default;
$customScrollbarHeight: 5px !default;

$trackBorderRadius: 0 !default;

$thumbBorderRadius: 5px !default;
$thumbTransition: color 0.2s ease !default;