@import "../globals/variables";

//@-******************************  Feed *******************************/

//-------------------- Feed --------------------*/

$feed-margin: 1em 0;

//-------------------- Elements --------------------*/

//- Event */
$feed-event-width: 100%;
$feed-event-padding: $_3px 0;
$feed-event-margin: 0;
$feed-event-background: none;
$feed-event-divider: none;

//- Event Label */
$feed-label-width: 2.5em;
$feed-label-height: auto;
$feed-label-align-self: stretch;
$feed-label-text-align: left;

//- Icon Label */
$feed-icon-label-opacity: 1;
$feed-icon-label-width: 100%;
$feed-icon-label-size: 1.5em;
$feed-icon-label-padding: 0.25em;
$feed-icon-label-background: none;
$feed-icon-label-border-radius: none;
$feed-icon-label-border: none;
$feed-icon-label-color: rgba(0, 0, 0, 0.6);

//- Image Label */
$feed-image-label-width: 100%;
$feed-image-label-height: auto;
$feed-image-label-border-radius: $circular-radius;

//- Content w/ Label */
$feed-labeled-content-margin: 0.5em 0 $relative5px $relative-large;
$feed-last-labeled-content-padding: 0;

//- Content */
$feed-content-align-self: stretch;
$feed-content-text-align: left;
$feed-content-word-wrap: break-word;

//- Date */
$feed-date-margin: -0.5rem 0 0;
$feed-date-padding: 0;
$feed-date-color: $light-text-color;
$feed-date-font-size: $relative-medium;
$feed-date-font-weight: $normal;
$feed-date-font-style: $normal;

//- Summary */
$feed-summary-margin: 0;
$feed-summary-font-size: $relative-medium;
$feed-summary-font-weight: $bold;
$feed-summary-color: $text-color;

//- Summary Image */
$feed-summary-image-width: auto;
$feed-summary-image-height: 10em;
$feed-summary-image-margin: -0.25em 0.25em 0 0;
$feed-summary-image-vertical-align: middle;
$feed-summary-image-border-radius: 0.25em;

//- Summary Date */
$feed-summary-date-display: inline-block;
$feed-summary-date-float: none;
$feed-summary-date-margin: 0 0 0 0.5em;
$feed-summary-date-padding: 0;
$feed-summary-date-font-size: $relative-tiny;
$feed-summary-date-font-weight: $feed-date-font-weight;
$feed-summary-date-font-style: $feed-date-font-style;
$feed-summary-date-color: $feed-date-color;

//- User */
$feed-user-font-weight: $bold;
$feed-user-distance: 0;
$feed-user-image-width: $feed-summary-image-width;
$feed-user-image-height: $feed-summary-image-height;
$feed-user-image-margin: $feed-summary-image-margin;
$feed-user-image-vertical-align: $feed-summary-image-vertical-align;

//- Extra Summary Data */
$feed-extra-margin: 0.5em 0 0;
$feed-extra-background: none;
$feed-extra-padding: 0;
$feed-extra-color: $text-color;

//- Extra Images */
$feed-extra-image-margin: 0 0.25em 0 0;
$feed-extra-image-width: 6em;

//- Extra Text */
$feed-extra-text-padding: 0;
$feed-extra-text-pointer: none;
$feed-extra-text-font-size: $relative-medium;
$feed-extra-text-line-height: $line-height;
$feed-extra-text-max-width: 500px;

//- Metadata Group */
$feed-metadata-display: inline-block;
$feed-metadata-font-size: $relative-tiny;
$feed-metadata-margin: 0.5em 0 0;
$feed-metadata-background: none;
$feed-metadata-border: none;
$feed-metadata-border-radius: 0;
$feed-metadata-box-shadow: none;
$feed-metadata-padding: 0;
$feed-metadata-color: rgba(0, 0, 0, 0.6);

$feed-metadata-element-spacing: 0.75em;

//- Like */
$feed-like-color: '';
$feed-like-hover-color: #FF2733;
$feed-like-active-color: #EF404A;
$feed-like-transition: 0.2s color ease;

//- Metadata Divider */
$feed-metadata-divider: '';
$feed-metadata-divider-color: rgba(0, 0, 0, 0.2);
$feed-metadata-divider-offset: -1em;

$feed-metadata-action-cursor: pointer;
$feed-metadata-action-opacity: 1;
$feed-metadata-action-color: rgba(0, 0, 0, 0.5);
$feed-metadata-action-transition: color $default-duration $default-easing;

$feed-metadata-action-hover-color: $selected-text-color;

//-------------------- Variations --------------------*/
