@import "../globals/variables";

//@-******************************  Item *******************************/

//--------------------  View --------------------*/

//- Group */
$item-group-margin: 1.5em 0;

//- Item */
$item-display: flex;
$item-background: transparent;
$item-border-radius: 0;
$item-min-height: 0;
$item-padding: 0;
$item-width: 100%;
$item-box-shadow: none;
$item-border: none;
$item-z-index: '';
$item-transition: box-shadow $default-duration $default-easing;

//- Responsive */
$item-spacing: 1em;
$item-image-width: 175px;
$item-content-image-distance: 1.5em;

$item-tablet-spacing: 1em;
$item-tablet-image-width: 150px;
$item-tablet-content-image-distance: 1em;

$item-mobile-spacing: 2em;
$item-mobile-image-width: auto;
$item-mobile-image-max-height: 250px;
$item-mobile-content-image-distance: 1.5em;


//--------------------  Content --------------------*/

//- Image */
$item-image-display: block;
$item-image-float: none;
$item-image-max-height: '';
$item-image-vertical-align: start;
$item-image-margin: 0;
$item-image-padding: 0;
$item-image-border: none;
$item-image-border-radius: 0.125rem;
$item-image-box-shadow: none;
$item-image-border: none;

//- Content */
$item-content-display: block;
$item-content-vertical-align: start;

$item-content-width: auto;
$item-content-offset: 0;
$item-content-background: none;
$item-content-margin: 0;
$item-content-padding: 0;
$item-content-font-size: 1em;
$item-content-border: none;
$item-content-border-radius: 0;
$item-content-box-shadow: none;
$item-content-color: $text-color;

//- Header */
$item-header-margin: -$line-height-offset 0 0;
$item-header-font-weight: $bold;
$item-header-font-size: $relative-big;
$item-header-color: $dark-text-color;

//- Metadata */
$item-meta-margin: 0.5em 0 0.5em;
$item-meta-font-size: 1em;
$item-meta-line-height: 1em;
$item-meta-spacing: 0.3em;
$item-meta-color: rgba(0, 0, 0, 0.6);

//- Icons */
$item-action-opacity: 0.75;
$item-action-hover-opacity: 1;
$item-action-transition: color $default-duration $default-easing;

//- Actions */
$item-favorite-color: #FFB70A;
$item-favorite-active-color: #FFE623;
$item-like-color: #FF2733;
$item-like-active-color: #FF2733;

//- Links */
$item-header-link-color: $item-header-color;
$item-header-link-hover-color: $link-hover-color;
$item-meta-link-color: $light-text-color;
$item-meta-link-hover-color: $text-color;
$item-content-link-color: '';
$item-content-link-hover-color: '';
$item-content-link-transition: color $default-duration $default-easing;


//- Description */
$item-description-distance: 0.6em;
$item-description-max-width: auto;
$item-description-font-size: 1em;
$item-description-line-height: $line-height;
$item-description-color: $text-color;

//- Content Image */
$item-content-image-width: '';
$item-content-image-vertical-align: center;

//- Avatar Image */
$item-avatar-size: $item-content-image-width;
$item-avatar-border-radius: $circular-radius;

//- Paragraph */
$item-paragraph-distance: 0.5em;

//- Additional Content */
$item-extra-divider: none;
$item-extra-horizontal-spacing: 0.5rem;
$item-extra-row-spacing: 0.5rem;

$item-extra-background: none;
$item-extra-display: block;
$item-extra-position: relative;
$item-extra-margin: (1rem - $item-extra-row-spacing) 0 0;
$item-extra-top: 0;
$item-extra-left: 0;
$item-extra-width: 100%;
$item-extra-padding: 0 0 0;
$item-extra-box-shadow: none;
$item-extra-color: $light-text-color;
$item-extra-transition: color $default-duration $default-easing;

//-------------------- Variations --------------------*/

//- Relaxed */
$item-relaxed-spacing: 1.5em;
$item-very-relaxed-spacing: 2em;

//- Divided */
$item-divided-border: 1px solid $border-color;
$item-divided-margin: 0;
$item-divided-padding: 1em 0;

$item-divided-first-last-margin: 0;
$item-divided-first-last-padding: 0;


//- Unstackable */
$item-unstackable-mobile-image-width: 125px;

//- Inverted */
$item-inverted-background: $item-background;
$item-inverted-content-background: $item-content-background;
$item-inverted-extra-background: $item-extra-background;
$item-inverted-header-color: $inverted-text-color;
$item-inverted-header-link-color: $item-inverted-header-color;
$item-inverted-header-link-hover-color: $inverted-hovered-text-color;
$item-inverted-meta-link-color: $inverted-light-text-color;
$item-inverted-meta-link-hover-color: $inverted-text-color;
$item-inverted-content-color: $inverted-text-color;
$item-inverted-content-link-color: lighten(saturate($link-color, 30), 25);
$item-inverted-content-link-hover-color: $link-color;
$item-inverted-extra-color: $inverted-light-text-color;
$item-inverted-description-color: $inverted-text-color;
$item-inverted-meta-color: rgba(255, 255, 255, 0.8);
$item-inverted-like-color: lighten($item-like-color,10);
$item-inverted-like-active-color: lighten($item-like-active-color,10);
$item-inverted-favorite-color: lighten($item-favorite-color,10);
$item-inverted-favorite-active-color: lighten($item-favorite-active-color,10);
$item-inverted-divided-border: 1px solid $white-border-color;
