//@import "../colors/all";

$text-shadow: none !default;
$inverted-text-shadow: $text-shadow !default;

$primary-ribbon-shadow: darken($primary-color, 10) !default;
$secondary-ribbon-shadow: darken($secondary-color, 10) !default;
$red-ribbon-shadow: darken($red, 10) !default;
$orange-ribbon-shadow: darken($orange, 10) !default;
$yellow-ribbon-shadow: darken($yellow, 10) !default;
$olive-ribbon-shadow: darken($olive, 10) !default;
$green-ribbon-shadow: darken($green, 10) !default;
$teal-ribbon-shadow: darken($teal, 10) !default;
$blue-ribbon-shadow: darken($blue, 10) !default;
$violet-ribbon-shadow: darken($violet, 10) !default;
$purple-ribbon-shadow: darken($purple, 10) !default;
$pink-ribbon-shadow: darken($pink, 10) !default;
$brown-ribbon-shadow: darken($brown, 10) !default;
$grey-ribbon-shadow: darken($grey, 10) !default;
$black-ribbon-shadow: darken($black, 10) !default;

$primary-inverted-ribbon-shadow: darken($light-primary-color, 10) !default;
$secondary-inverted-ribbon-shadow: darken($light-secondary-color, 10) !default;
$red-inverted-ribbon-shadow: darken($light-red, 10) !default;
$orange-inverted-ribbon-shadow: darken($light-orange, 10) !default;
$yellow-inverted-ribbon-shadow: darken($light-yellow, 10) !default;
$olive-inverted-ribbon-shadow: darken($light-olive, 10) !default;
$green-inverted-ribbon-shadow: darken($light-green, 10) !default;
$teal-inverted-ribbon-shadow: darken($light-teal, 10) !default;
$blue-inverted-ribbon-shadow: darken($light-blue, 10) !default;
$violet-inverted-ribbon-shadow: darken($light-violet, 10) !default;
$purple-inverted-ribbon-shadow: darken($light-purple, 10) !default;
$pink-inverted-ribbon-shadow: darken($light-pink, 10) !default;
$brown-inverted-ribbon-shadow: darken($light-brown, 10) !default;
$grey-inverted-ribbon-shadow: lighten($light-grey, 5) !default;
$black-inverted-ribbon-shadow: lighten($light-black, 5) !default;

$primary-text-shadow: $inverted-text-shadow !default;
$secondary-text-shadow: $inverted-text-shadow !default;
$red-text-shadow: $inverted-text-shadow !default;
$orange-text-shadow: $inverted-text-shadow !default;
$yellow-text-shadow: $inverted-text-shadow !default;
$olive-text-shadow: $inverted-text-shadow !default;
$green-text-shadow: $inverted-text-shadow !default;
$teal-text-shadow: $inverted-text-shadow !default;
$blue-text-shadow: $inverted-text-shadow !default;
$violet-text-shadow: $inverted-text-shadow !default;
$purple-text-shadow: $inverted-text-shadow !default;
$pink-text-shadow: $inverted-text-shadow !default;
$brown-text-shadow: $inverted-text-shadow !default;
$grey-text-shadow: $inverted-text-shadow !default;
$black-text-shadow: $inverted-text-shadow !default;
