@import './colored';

$lightPrimaryTextShadow: $invertedTextShadow !default;
$lightSecondaryTextShadow: $invertedTextShadow !default;
$lightRedTextShadow: $invertedTextShadow !default;
$lightOrangeTextShadow: $invertedTextShadow !default;
$lightYellowTextShadow: $textShadow !default;
$lightOliveTextShadow: $textShadow !default;
$lightGreenTextShadow: $invertedTextShadow !default;
$lightTealTextShadow: $textShadow !default;
$lightBlueTextShadow: $invertedTextShadow !default;
$lightVioletTextShadow: $invertedTextShadow !default;
$lightPurpleTextShadow: $invertedTextShadow !default;
$lightPinkTextShadow: $invertedTextShadow !default;
$lightBrownTextShadow: $invertedTextShadow !default;
$lightGreyTextShadow: $textShadow !default;
$lightBlackTextShadow: $invertedTextShadow !default;