@import "./colored";

$light-primary-text-shadow: $inverted-text-shadow !default;
$light-secondary-text-shadow: $inverted-text-shadow !default;
$light-red-text-shadow: $inverted-text-shadow !default;
$light-orange-text-shadow: $inverted-text-shadow !default;
$light-yellow-text-shadow: $text-shadow !default;
$light-olive-text-shadow: $text-shadow !default;
$light-green-text-shadow: $inverted-text-shadow !default;
$light-teal-text-shadow: $text-shadow !default;
$light-blue-text-shadow: $inverted-text-shadow !default;
$light-violet-text-shadow: $inverted-text-shadow !default;
$light-purple-text-shadow: $inverted-text-shadow !default;
$light-pink-text-shadow: $inverted-text-shadow !default;
$light-brown-text-shadow: $inverted-text-shadow !default;
$light-grey-text-shadow: $text-shadow !default;
$light-black-text-shadow: $inverted-text-shadow !default;
