//-------------- Checkbox ------------------*/
$use-checkbox: false;
//Types
$use-checkbox-type-slider: false;
$use-checkbox-type-toggle: false;
//Variations
$use-checkbox-variation-fitted: false;
$use-checkbox-variation-inverted: false;
$use-checkbox-variation-size: false;