//-------------- Dimmer ------------------*/
$use-dimmer: false;
//Variations
$use-dimmer-variation-inverted: false;
$use-dimmer-variation-blurring: false;
$use-dimmer-variation-partially: false;
$use-dimmer-variation-shades: false;