//-------------- Dropdown ------------------*/
$use-dropdown: false;
//Types
$use-dropdown-type-selection: false;
$use-dropdown-type-multiple: false;
$use-dropdown-type-search: false;
$use-dropdown-type-clearable: false;
$use-dropdown-type-inline: false;
$use-dropdown-type-simple: false;
$use-dropdown-type-pointing: false;
//Variations
$use-dropdown-variation-inverted: false;
$use-dropdown-variation-columnar: false;