//-------------- Progress ------------------*/
$use-progress: false;
//Variations
$use-progress-variation-inverted: false;
$use-progress-variation-attached: false;
$use-progress-variation-colors: false;