//-------------- Slider ------------------*/
$use-slider: false;
//Variations
$use-slider-variation-inverted: false;
$use-slider-variation-vertical: false;
$use-slider-variation-reversed: false;
$use-slider-variation-colors: false;