//-------------- Menu ------------------*/
$use-menu: false;
//Type
$use-menu-type-secondary: false;
$use-menu-type-pointing: false;
$use-menu-type-tabular: false;
$use-menu-type-text: false;
$use-menu-type-vertical: false;
$use-menu-type-pagination: false;
//Variations
$use-menu-variation-inverted: false;
$use-menu-variation-attached: false;
$use-menu-variation-colors: false;