//-------------- Table ------------------*/
$use-table: false;
//Type
$use-table-type-definition: false;
$use-table-type-structured: false;
//Variations
$use-table-variation-basic: false;
$use-table-variation-celled: false;
$use-table-variation-padded: false;
$use-table-variation-compact: false;
$use-table-variation-inverted: false;
$use-table-variation-sortable: false;
$use-table-variation-colors: false;