$columnCount    : 16 !default;

$oneWide        : (1 / $columnCount * 100%) !default;
$twoWide        : (2 / $columnCount * 100%) !default;
$threeWide      : (3 / $columnCount * 100%) !default;
$fourWide       : (4 / $columnCount * 100%) !default;
$fiveWide       : (5 / $columnCount * 100%) !default;
$sixWide        : (6 / $columnCount * 100%) !default;
$sevenWide      : (7 / $columnCount * 100%) !default;
$eightWide      : (8 / $columnCount * 100%) !default;
$nineWide       : (9 / $columnCount * 100%) !default;
$tenWide        : (10 / $columnCount * 100%) !default;
$elevenWide     : (11 / $columnCount * 100%) !default;
$twelveWide     : (12 / $columnCount * 100%) !default;
$thirteenWide   : (13 / $columnCount * 100%) !default;
$fourteenWide   : (14 / $columnCount * 100%) !default;
$fifteenWide    : (15 / $columnCount * 100%) !default;
$sixteenWide    : (16 / $columnCount * 100%) !default;

$oneColumn      : (1 / 1 * 100%) !default;
$twoColumn      : (1 / 2 * 100%) !default;
$threeColumn    : (1 / 3 * 100%) !default;
$fourColumn     : (1 / 4 * 100%) !default;
$fiveColumn     : (1 / 5 * 100%) !default;
$sixColumn      : (1 / 6 * 100%) !default;
$sevenColumn    : (1 / 7 * 100%) !default;
$eightColumn    : (1 / 8 * 100%) !default;
$nineColumn     : (1 / 9 * 100%) !default;
$tenColumn      : (1 / 10 * 100%) !default;
$elevenColumn   : (1 / 11 * 100%) !default;
$twelveColumn   : (1 / 12 * 100%) !default;
$thirteenColumn : (1 / 13 * 100%) !default;
$fourteenColumn : (1 / 14 * 100%) !default;
$fifteenColumn  : (1 / 15 * 100%) !default;
$sixteenColumn  : (1 / 16 * 100%) !default;