$column-count: 16 !default;

$one-wide: (1 / $column-count * 100%) !default;
$two-wide: (2 / $column-count * 100%) !default;
$three-wide: (3 / $column-count * 100%) !default;
$four-wide: (4 / $column-count * 100%) !default;
$five-wide: (5 / $column-count * 100%) !default;
$six-wide: (6 / $column-count * 100%) !default;
$seven-wide: (7 / $column-count * 100%) !default;
$eight-wide: (8 / $column-count * 100%) !default;
$nine-wide: (9 / $column-count * 100%) !default;
$ten-wide: (10 / $column-count * 100%) !default;
$eleven-wide: (11 / $column-count * 100%) !default;
$twelve-wide: (12 / $column-count * 100%) !default;
$thirteen-wide: (13 / $column-count * 100%) !default;
$fourteen-wide: (14 / $column-count * 100%) !default;
$fifteen-wide: (15 / $column-count * 100%) !default;
$sixteen-wide: (16 / $column-count * 100%) !default;

$one-column: (1 / 1 * 100%) !default;
$two-column: (1 / 2 * 100%) !default;
$three-column: (1 / 3 * 100%) !default;
$four-column: (1 / 4 * 100%) !default;
$five-column: (1 / 5 * 100%) !default;
$six-column: (1 / 6 * 100%) !default;
$seven-column: (1 / 7 * 100%) !default;
$eight-column: (1 / 8 * 100%) !default;
$nine-column: (1 / 9 * 100%) !default;
$ten-column: (1 / 10 * 100%) !default;
$eleven-column: (1 / 11 * 100%) !default;
$twelve-column: (1 / 12 * 100%) !default;
$thirteen-column: (1 / 13 * 100%) !default;
$fourteen-column: (1 / 14 * 100%) !default;
$fifteen-column: (1 / 15 * 100%) !default;
$sixteen-column: (1 / 16 * 100%) !default;
