@import "../globals/variables";

//@-******************************  Accordion *******************************/

$accordion-box-shadow: none;

//- Title */
$accordion-title-font: $header-font;
$accordion-title-padding: 0.5em 0;
$accordion-title-font-size: 1em;
$accordion-title-color: $text-color;

//- Icon */
$accordion-icon-opacity: 1;
$accordion-icon-font-size: 1em;
$accordion-icon-float: none;
$accordion-icon-width: 1.25em;
$accordion-icon-height: 1em;
$accordion-icon-display: inline-block;
$accordion-icon-margin: 0 0.25rem 0 0;
$accordion-icon-padding: 0;
$accordion-icon-transition:
  transform $default-duration $default-easing,
  opacity $default-duration $default-easing
;
$accordion-icon-vertical-align: baseline;
$accordion-icon-transform: none;

//- Child Accordion */
$accordion-child-margin: 1em 0 0;
$accordion-child-padding: 0;

//- Content */
$accordion-content-margin: '';
$accordion-content-padding: 0.5em 0 1em;

//--------------------  Coupling --------------------*/

$accordion-menu-title-padding: 0;
$accordion-menu-icon-float: right;
$accordion-menu-icon-margin: $line-height-offset 0 0 1em;
$accordion-menu-icon-transform: rotate(180deg);


//--------------------  States --------------------*/

$accordion-active-icon-transform: rotate(90deg);

//-------------------- Variations --------------------*/

//- Styled */
$accordion-styled-width: 600px;
$accordion-styled-background: $white;
$accordion-styled-border-radius: $default-border-radius;
$accordion-styled-box-shadow:
  $subtle-shadow,
  0 0 0 1px $border-color
;

//- Content */
$accordion-styled-content-margin: 0;
$accordion-styled-content-padding: 0.5em 1em 1.5em;

//- Child Content */
$accordion-styled-child-content-margin: 0;
$accordion-styled-child-content-padding: $accordion-styled-content-padding;

//- Styled Title */
$accordion-styled-title-margin: 0;
$accordion-styled-title-padding: 0.75em 1em;
$accordion-styled-title-font-weight: $bold;
$accordion-styled-title-color: $unselected-text-color;
$accordion-styled-title-transition: background-color $default-duration $default-easing;
$accordion-styled-title-border: 1px solid $border-color;
$accordion-styled-title-transition:
  background $default-duration $default-easing,
  color $default-duration $default-easing
;

//- Styled Title States */
$accordion-styled-title-hover-background: transparent;
$accordion-styled-title-hover-color: $text-color;
$accordion-styled-active-title-background: transparent;
$accordion-styled-active-title-color: $selected-text-color;

//- Styled Child Title States */
$accordion-styled-hover-child-title-background: $accordion-styled-title-hover-background;
$accordion-styled-hover-child-title-color: $accordion-styled-title-hover-color;
$accordion-styled-active-child-title-background: $accordion-styled-active-title-background;
$accordion-styled-active-child-title-color: $accordion-styled-active-title-color;

//- Inverted */
$accordion-inverted-title-color: $inverted-text-color;

