@import "../globals/variables";

//@-******************************  Popup *******************************/

//--------------------  Element --------------------*/

$popup-z-index: 1900;
$popup-background: $white;

$popup-max-width: 250px;
$popup-border-color: $solid-border-color;
$popup-border-width: 1px;
$popup-box-shadow: $floating-shadow;
$popup-color: $text-color;

$popup-vertical-padding: 0.833em;
$popup-horizontal-padding: 1em;
$popup-font-weight: $normal;
$popup-font-style: $normal;
$popup-border-radius: $default-border-radius;

//--------------------  Parts --------------------*/

//- Placement */
$popup-arrow-size: $relative10px;
$popup-arrow-width: 1em;
$popup-arrow-distance-from-edge: 1em;
$popup-box-arrow-offset: 0;
$popup-distance-away: $popup-arrow-size;


//- Header */
$popup-header-font-family: $header-font;
$popup-header-font-weight: $bold;
$popup-header-font-size: $relative-large;
$popup-header-distance: $relative7px;
$popup-header-line-height: 1.2;

//- Content Border */
$popup-border: $popup-border-width solid $popup-border-color;

//- Arrow */
$popup-arrow-background: $popup-background;
$popup-arrow-z-index: 1901;
$popup-arrow-jitter: 0.05em;
$popup-arrow-offset: -($popup-arrow-size / 2) + $popup-arrow-jitter;

$popup-arrow-stroke: $popup-border-width;
$popup-arrow-color: darken($popup-border-color, 10);

//- Arrow color by position */
$popup-arrow-top-background: $popup-arrow-background;
$popup-arrow-center-background: $popup-arrow-background;
$popup-arrow-bottom-background: $popup-arrow-background;

$popup-arrow-box-shadow: $popup-arrow-stroke $popup-arrow-stroke 0 0 $popup-arrow-color;
$popup-left-arrow-box-shadow: $popup-arrow-stroke -$popup-arrow-stroke 0 0 $popup-arrow-color;
$popup-right-arrow-box-shadow: -$popup-arrow-stroke $popup-arrow-stroke 0 0 $popup-arrow-color;
$popup-bottom-arrow-box-shadow: -$popup-arrow-stroke -$popup-arrow-stroke 0 0 $popup-arrow-color;

//--------------------  Types --------------------*/

//- Tooltip */
$popup-tooltip-background: $popup-background;
$popup-tooltip-border-radius: $popup-border-radius;
$popup-tooltip-padding: $popup-vertical-padding $popup-horizontal-padding;
$popup-tooltip-font-weight: $popup-font-weight;
$popup-tooltip-font-style: $popup-font-style;
$popup-tooltip-color: $popup-color;
$popup-tooltip-border: $popup-border;
$popup-tooltip-box-shadow: $popup-box-shadow;
$popup-tooltip-max-width: none;
$popup-tooltip-font-size: $medium;
$popup-tooltip-line-height: $line-height;
$popup-tooltip-distance-away: $relative7px;
$popup-tooltip-z-index: 1900;
$popup-tooltip-duration: $default-duration;
$popup-tooltip-easing: $default-easing;

//--------------------  Variations --------------------*/

//- Wide */
$popup-wide-width: 350px;
$popup-very-wide-width: 550px;

//- Inverted */
$popup-inverted-background: $black;
$popup-inverted-color: $white;
$popup-inverted-border: none;
$popup-inverted-box-shadow: none;

$popup-inverted-header-background: none;
$popup-inverted-header-color: $white;
$popup-inverted-arrow-color: $popup-inverted-background;

//- Arrow color by position */
$popup-inverted-arrow-top-background: $popup-inverted-background;
$popup-inverted-arrow-center-background: $popup-inverted-background;
$popup-inverted-arrow-bottom-background: $popup-inverted-background;

//- Inverted */
$popup-tooltip-inverted-background: $popup-inverted-background;
$popup-tooltip-inverted-color: $popup-inverted-color;
$popup-tooltip-inverted-border: $popup-inverted-border;
$popup-tooltip-inverted-box-shadow: $popup-inverted-box-shadow;
$popup-tooltip-inverted-header-background: $popup-inverted-header-background;
$popup-tooltip-inverted-header-color: $popup-inverted-header-color;

//- Arrow */
$popup-tooltip-arrow-vertical-offset: -$_2px;
$popup-tooltip-arrow-horizontal-offset: -$_1px;
$popup-tooltip-arrow-box-shadow: $popup-arrow-box-shadow;
$popup-tooltip-arrow-background: $popup-arrow-background;
$popup-tooltip-arrow-top-background: $popup-arrow-top-background;
$popup-tooltip-arrow-center-background: $popup-arrow-center-background;
$popup-tooltip-arrow-bottom-background: $popup-arrow-bottom-background;

//--------------------  Coupling --------------------*/

//- Grid Inside Popup */
$popup-nested-grid-margin: (-0.7rem) (-0.875rem); //- (padding * $medium) */
$popup-nested-grid-width: calc(100% + 1.75rem);

//--------------------  States --------------------*/

$popup-loading-z-index: -1;

