@import "../globals/variables";

//@-******************************  Rating *******************************/

$rating-margin: 0 $relative-mini;
$rating-white-space: nowrap;
$rating-vertical-align: baseline;

$rating-icon-cursor: pointer;
$rating-icon-width: 1.25em;
$rating-icon-height: auto;
$rating-icon-transition:
  opacity $default-duration $default-easing,
  background $default-duration $default-easing,
  text-shadow $default-duration $default-easing,
  color $default-duration $default-easing
;


//-------------------- Types --------------------*/

//- Standard */
$rating-inactive-background: transparent;
$rating-inactive-color: rgba(0, 0, 0, 0.15);

$rating-selected-background: $rating-inactive-background;
$rating-selected-color: $text-color;

$rating-active-background: $rating-inactive-background;
$rating-active-color: $dark-text-color;

$rating-shadow-width: 1px;

//-------------------- States --------------------*/

$rating-interactive-active-icon-opacity: 1;
$rating-interactive-selected-icon-opacity: 1;

//-------------------- Variations --------------------*/

$rating-massive: 2rem;
