@import "../globals/variables";

//@-****************************** Search *******************************/

//- Search Prompt */
$search-prompt-background: $input-background;
$search-prompt-vertical-padding: $input-vertical-padding;
$search-prompt-horizontal-padding: $input-horizontal-padding;
$search-prompt-line-height: $input-line-height;
$search-prompt-font-size: $relative-medium;
$search-prompt-padding: ($search-prompt-vertical-padding + ((1em - $search-prompt-line-height) / 2)) $search-prompt-horizontal-padding;
$search-prompt-border: 1px solid $border-color;
$search-prompt-border-radius: $circular-radius;
$search-prompt-color: $text-color;
$search-prompt-transition:
  background-color $default-duration $default-easing,
  color $default-duration $default-easing,
  box-shadow $default-duration $default-easing,
  border-color $default-duration $default-easing
;
$search-prompt-box-shadow: 0 0 0 0 transparent inset;

//- Mobile */
$search-mobile-max-width: calc(100vw - 2rem);

//- Result Box */
$search-results-width: 18em;
$search-results-background: #FFFFFF;
$search-results-distance: 0.5em;
$search-results-border-radius: $default-border-radius;
$search-results-border: 1px solid $solid-border-color;
$search-results-box-shadow: $floating-shadow;

//- Result */
$search-result-font-size: 1em;
$search-result-vertical-padding: $relative-tiny;
$search-result-horizontal-padding: $relative-large;
$search-result-padding: $search-result-vertical-padding $search-result-horizontal-padding;
$search-result-text-color: $text-color;
$search-result-line-height: 1.33;
$search-result-divider: 1px solid $internal-border-color;
$search-result-last-divider: none;

//- Result Image */
$search-result-image-float: right;
$search-result-image-background: none;
$search-result-image-width: 5em;
$search-result-image-height: 3em;
$search-result-image-border-radius: 0.25em;
$search-result-image-margin: 0 6em 0 0;

//- Result Content */
$search-result-title-font: $header-font;
$search-result-title-margin: -$header-line-height-offset 0 0;
$search-result-title-font-weight: $bold;
$search-result-title-font-size: $relative-medium;
$search-result-title-color: $dark-text-color;

//- Description */
$search-result-description-font-size: $relative-small;
$search-result-description-distance: 0;
$search-result-description-color: $light-text-color;

//- Price */
$search-result-price-float: right;
$search-result-price-color: $green;

//- Special Message */
$search-message-vertical-padding: 1em;
$search-message-horizontal-padding: 1em;
$search-message-header-font-size: $medium;
$search-message-header-font-weight: $bold;
$search-message-header-color: $text-color;
$search-message-description-distance: 0.25rem;
$search-message-description-font-size: 1em;
$search-message-description-color: $text-color;

//- All Results Link */
$search-action-border: none;
$search-action-background: $dark-white;
$search-action-padding: $relative-small $relative-medium;
$search-action-color: $text-color;
$search-action-font-weight: $bold;
$search-action-align: center;


//-****************************** States *******************************/

//- Focus */
$search-prompt-focus-background: $search-prompt-background;
$search-prompt-focus-border-color: $selected-border-color;
$search-prompt-focus-color: $selected-text-color;

//- Hover */
$search-result-hover-background: $off-white;
$search-action-hover-background: #E0E0E0;

//- Loading */
$search-inverted-loader-fill-color: rgba(0, 0, 0, 0.15);

//- Active Category */
$search-category-active-background: $dark-white;
$search-category-name-active-color: $text-color;

//- Active Result */
$search-result-active-border-left: $internal-border-color;
$search-result-active-background: $dark-white;
$search-result-active-box-shadow: none;
$search-result-active-title-color: $dark-text-color;
$search-result-active-description-color: $dark-text-color;
$search-results-z-index: 998;


//-****************************** Types *******************************/

//- Selection */
$search-selection-prompt-border-radius: $default-border-radius;

$search-selection-close-top: 0;
$search-selection-close-transition:
  color $default-duration $default-easing,
  opacity $default-duration $default-easing
;
$search-selection-close-right: 0;
$search-selection-close-icon-opacity: 0.8;
$search-selection-close-icon-color: '';
$search-selection-close-icon-hover-opacity: 1;
$search-selection-close-icon-hover-color: $red;

$search-selection-close-icon-input-right: 1.85714em;

//- Category */
$search-category-background: $dark-white;
$search-category-box-shadow: none;
$search-category-divider: 1px solid $internal-border-color;
$search-category-transition:
  background $default-duration $default-easing,
  border-color $default-duration $default-easing
;

$search-category-results-width: 28em;

$search-category-result-background: $white;
$search-category-result-left-border: 1px solid $border-color;
$search-category-result-divider: $search-result-divider;
$search-category-result-last-divider: none;
$search-category-result-padding: $search-result-padding;
$search-category-result-transition: $search-category-transition;

$search-category-name-width: 100px;
$search-category-name-background: transparent;
$search-category-name-font: $page-font;
$search-category-name-font-size: 1em;
$search-category-name-whitespace: nowrap;
$search-category-name-padding: 0.4em 1em;
$search-category-name-font-weight: $bold;
$search-category-name-color: $light-text-color;
