$track-inverted-background: rgba(255, 255, 255, 0.1) !default;
$thumb-inverted-background: rgba(255, 255, 255, 0.25) !default;
$thumb-inverted-inactive-background: rgba(255, 255, 255, 0.15) !default;
$thumb-inverted-hover-background: rgba(255, 255, 255, 0.35) !default;
