$use-custom-scrollbars: true !default;

// Rendered Scrollbar Width */
$scrollbar-width: 17px !default;

$custom-scrollbar-width: 5px !default;
$custom-scrollbar-height: 5px !default;

$track-border-radius: 0 !default;

$thumb-border-radius: 5px !default;
$thumb-transition: color 0.2s ease !default;
