@import "../../themes/default/modules/sticky";

/*******************************
            Sticky
*******************************/

.ui.sticky {
  position: static;
  transition: $sticky-transition;
  z-index: $sticky-z-index;
}

/*******************************
            States
*******************************/

/* Bound */
.ui.sticky.bound {
  position: absolute;
  left: auto;
  right: auto;
}

/* Fixed */
.ui.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto;
}

/* Bound/Fixed Position */
.ui.sticky.bound.top,
.ui.sticky.fixed.top {
  top: 0;
  bottom: auto;
}
.ui.sticky.bound.bottom,
.ui.sticky.fixed.bottom {
  top: auto;
  bottom: 0;
}

/*******************************
            Types
*******************************/

.ui.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}
