$light-red: #ff695e !default;
$light-orange: #ff851b !default;
$light-yellow: #ffe21f !default;
$light-olive: #d9e778 !default;
$light-green: #2ecc40 !default;
$light-teal: #6dffff !default;
$light-blue: #54c8ff !default;
$light-violet: #a291fb !default;
$light-purple: #dc73ff !default;
$light-pink: #ff8edf !default;
$light-brown: #d67c1c !default;
$light-grey: #dcddde !default;
$light-black: #545454 !default;
