$dark-text-color: rgba(0, 0, 0, 0.85) !default;
$muted-text-color: rgba(0, 0, 0, 0.6) !default;
$light-text-color: rgba(0, 0, 0, 0.4) !default;

$unselected-text-color: rgba(0, 0, 0, 0.4) !default;
$hovered-text-color: rgba(0, 0, 0, 0.8) !default;
$pressed-text-color: rgba(0, 0, 0, 0.9) !default;
$selected-text-color: rgba(0, 0, 0, 0.95) !default;
$disabled-text-color: rgba(0, 0, 0, 0.2) !default;

$inverted-text-color: rgba(255, 255, 255, 0.9) !default;
$inverted-muted-text-color: rgba(255, 255, 255, 0.8) !default;
$inverted-light-text-color: rgba(255, 255, 255, 0.7) !default;
$inverted-unselected-text-color: rgba(255, 255, 255, 0.5) !default;
$inverted-hovered-text-color: rgba(255, 255, 255, 1) !default;
$inverted-pressed-text-color: rgba(255, 255, 255, 1) !default;
$inverted-selected-text-color: rgba(255, 255, 255, 1) !default;
$inverted-disabled-text-color: rgba(255, 255, 255, 0.2) !default;
