$positive-text-color: #2c662d !default;
$success-text-color: $positive-text-color !default;

$negative-text-color: #9f3a38 !default;
$error-text-color: $negative-text-color !default;

$info-text-color: #276f86 !default;
$warning-text-color: #573a08 !default;

$disabled-text-color: rgba(40, 40, 40, 0.3) !default;
$inverted-disabled-text-color: rgba(225, 225, 225, 0.3) !default;
