@import "../globals/variables";

//@-******************************  Menu *******************************/

//-------------------- Collection --------------------*/

//- Menu Item */
$menu-item-vertical-padding: $relative-small;
$menu-item-horizontal-padding: $relative-large;
$menu-item-text-transform: none;
$menu-item-transition:
  background $default-duration $default-easing,
  box-shadow $default-duration $default-easing,
  color $default-duration $default-easing
;
$menu-item-font-weight: $normal;
$menu-item-text-color: $text-color;

//- Menu */
$menu-vertical-margin: $medium;
$menu-horizontal-margin: 0;
$menu-margin: $menu-vertical-margin $menu-horizontal-margin;
$menu-background: #FFFFFF;
$menu-font-family: $page-font;
$menu-item-background: none;
$menu-font-weight: $normal;
$menu-border-width: 1px;
$menu-border: $menu-border-width solid $border-color;
$menu-box-shadow: $subtle-shadow;
$menu-border-radius: $default-border-radius;
$menu-min-height: ($menu-item-vertical-padding * 2) + 1em;

//- Divider */
$menu-divider-size: 1px;
$menu-divider-background: $internal-border-color;

//- Sub Menu */
$menu-sub-distance: 0.5em;
$menu-sub-margin: $menu-sub-distance -$menu-item-horizontal-padding 0;
$menu-sub-font-size: $relative-tiny;
$menu-sub-text-color: rgba(0, 0, 0, 0.5);

$menu-sub-indent: 0;
$menu-sub-horizontal-padding: ($menu-item-horizontal-padding / $tiny-size) + $menu-sub-indent;
$menu-sub-vertical-padding: 0.5em;

//- Text Item */
$menu-text-line-height: 1.3;

//--------------- Elements ---------------*/

//- Icon */
$menu-icon-float: none;
$menu-icon-margin: 0 $relative5px 0 0;
$menu-icon-opacity: 0.9;

//- Dropdown Icon */
$menu-dropdown-icon-float: right;
$menu-dropdown-icon-distance: 1em;

//- Header */
$menu-header-background: '';
$menu-header-weight: $bold;
$menu-header-text-transform: $normal;

//- Vertical Icon */
$menu-vertical-icon-float: right;
$menu-vertical-icon-margin: 0 0 0 0.5em;

//- Vertical Header */
$menu-vertical-header-margin: 0 0 0.5em;
$menu-vertical-header-font-size: $relative-medium;
$menu-vertical-header-font-weight: $bold;

//- Pointing Arrow */
$menu-arrow-size: $relative8px;
$menu-arrow-border-width: 1px;
$menu-arrow-border: $menu-arrow-border-width solid $solid-border-color;
$menu-arrow-transition: background $default-duration $default-easing;
$menu-arrow-z-index: 2;

$menu-arrow-hover-color: #F2F2F2;
$menu-arrow-active-color: $menu-arrow-hover-color;
$menu-arrow-active-hover-color: $menu-arrow-active-color;

$menu-arrow-vertical-hover-color: $menu-arrow-hover-color;
$menu-arrow-vertical-active-color: $menu-arrow-active-color;
$menu-arrow-vertical-sub-color: $white;

//--------------- Couplings ---------------*/

//- Button */
$menu-button-size: $relative-medium;
$menu-button-offset: 0;
$menu-button-margin: -0.5em 0;
$menu-button-vertical-padding: $relative-mini;

//- Input */
$menu-input-size: $relative-medium;
$menu-input-vertical-margin: -0.5em;
$menu-input-offset: 0;
$menu-input-vertical-padding: $relative8px;

//- Image */
$menu-image-margin: -0.3em 0;
$menu-image-width: 2.5em;
$menu-vertical-image-width: auto;

//- Label */
$menu-label-offset: -0.15em;
$menu-label-background: #999999;
$menu-label-text-color: $white;

$menu-label-text-margin: 1em;
$menu-label-vertical-padding: 0.3em;
$menu-circular-label-vertical-padding: 0.5em; //- has to be equal to @circularPadding from label.less */
$menu-label-horizontal-padding: $relative-mini;

$menu-label-and-icon-float: none;
$menu-label-and-icon-margin: 0 0.5em 0 0;

//- Image Label */
$menu-image-label-text-distance: 0.8em;
$menu-image-label-vertical-padding: 0.2833em; //- Calculates as: @verticalLabel (from label.less) - $menu-label-vertical-padding (from here) */
$menu-image-label-height: (1em + $menu-image-label-vertical-padding * 2);  //- Logic adopted from label.less */
$menu-image-label-image-margin: -$menu-image-label-vertical-padding $menu-image-label-text-distance -$menu-image-label-vertical-padding -$menu-image-label-text-distance;

//- Dropdown in Menu */
$menu-dropdown-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);

$menu-dropdown-background: #FFFFFF;
$menu-dropdown-distance: 0;
$menu-dropdown-border-radius: $menu-border-radius;

$menu-dropdown-item-font-size: $relative-medium;
$menu-dropdown-item-padding: $relative-mini $relative-large;
$menu-dropdown-item-background: transparent;
$menu-dropdown-item-color: $text-color;
$menu-dropdown-item-text-transform: none;
$menu-dropdown-item-font-weight: $normal;
$menu-dropdown-item-box-shadow: none;
$menu-dropdown-item-transition: none;

$menu-dropdown-item-icon-float: none;
$menu-dropdown-item-icon-font-size: $relative-medium;
$menu-dropdown-item-icon-margin: 0 0.75em 0 0;

$menu-dropdown-hovered-item-background: $transparent-black;
$menu-dropdown-hovered-item-color: $selected-text-color;

//- Dropdown Variations */
$menu-dropdown-vertical-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
$menu-secondary-dropdown-distance: $relative5px;
$menu-pointing-dropdown-distance: 0.75em;
$menu-inverted-selection-dropdown-color: $inverted-text-color;

//---------------  States ---------------*/

//- Hovered Item */
$menu-hover-item-background: $subtle-transparent-black;
$menu-hover-item-text-color: $selected-text-color;

//- Pressed Item */
$menu-pressed-item-background: $subtle-transparent-black;
$menu-pressed-item-text-color: $menu-hover-item-text-color;


//- Active Item */
$menu-active-item-background: $transparent-black;
$menu-active-item-text-color: $selected-text-color;
$menu-active-item-font-weight: $normal;
$menu-active-icon-opacity: 1;
$menu-active-item-box-shadow: none;

//- Active Hovered Item */
$menu-active-hover-item-background: $transparent-black;
$menu-active-hover-item-color: $selected-text-color;

//- Selected Dropdown */
$menu-dropdown-selected-item-background: $transparent-black;
$menu-dropdown-selected-item-color: $selected-text-color;

//- Active Dropdown */
$menu-dropdown-active-item-background: $subtle-transparent-black;
$menu-dropdown-active-item-color: $selected-text-color;
$menu-dropdown-active-item-font-weight: $bold;

//- Active Sub Menu */
$menu-sub-active-background: transparent;
$menu-sub-active-text-color: $menu-active-item-text-color;
$menu-sub-active-font-weight: $bold;


//---------------  Types ---------------*/

//- Vertical */
$menu-vertical-box-shadow: $menu-box-shadow;
$menu-vertical-pointer-width: 2px;
$menu-vertical-background: #FFFFFF;
$menu-vertical-item-background: none;
$menu-vertical-divider-background: $menu-divider-background;

$menu-vertical-active-box-shadow: none;


//- Secondary */
$menu-secondary-background: none;
$menu-secondary-item-spacing: $relative5px;
$menu-secondary-margin: 0 (-$menu-secondary-item-spacing);
$menu-secondary-item-background: none;
$menu-secondary-item-margin: 0 $menu-secondary-item-spacing;
$menu-secondary-item-vertical-padding: $relative-mini;
$menu-secondary-item-horizontal-padding: $relative-small;
$menu-secondary-item-padding: $relative-mini $relative-small;
$menu-secondary-item-border-radius: $default-border-radius;
$menu-secondary-item-transition: color $default-duration $default-easing;
$menu-secondary-item-color: $unselected-text-color;

$menu-secondary-hover-item-background: $transparent-black;
$menu-secondary-hover-item-color: $selected-text-color;

$menu-secondary-active-item-background: $transparent-black;
$menu-secondary-active-item-color: $selected-text-color;
$menu-secondary-active-hover-item-background: $transparent-black;
$menu-secondary-active-hover-item-color: $selected-text-color;

$menu-secondary-active-hovered-item-background: $transparent-black;
$menu-secondary-active-hovered-item-color: $selected-text-color;

$menu-secondary-header-background: none transparent;
$menu-secondary-header-border: none;

$menu-secondary-item-vertical-spacing: $menu-secondary-item-spacing;
$menu-secondary-vertical-item-margin: 0 0 $menu-secondary-item-vertical-spacing;
$menu-secondary-vertical-item-border-radius: $default-border-radius;

$menu-secondary-sub-menu-margin: 0 -$menu-secondary-item-horizontal-padding;
$menu-secondary-sub-menu-item-margin: 0;
$menu-secondary-sub-horizontal-padding: ($menu-item-horizontal-padding / $tiny-size) + $menu-sub-indent;
$menu-secondary-sub-menu-item-padding: $relative7px $menu-secondary-sub-horizontal-padding;

//- Pointing */
$menu-secondary-pointing-border-width: 2px;
$menu-secondary-pointing-border-color: $border-color;
$menu-secondary-pointing-item-vertical-padding: $relative-tiny;
$menu-secondary-pointing-item-horizontal-padding: $relative-large;

$menu-secondary-pointing-hover-text-color: $text-color;

$menu-secondary-pointing-active-border-color: currentColor;
$menu-secondary-pointing-active-text-color: $selected-text-color;
$menu-secondary-pointing-active-font-weight: $bold;

$menu-secondary-pointing-active-dropdown-border-color: transparent;

$menu-secondary-pointing-active-hover-border-color: $menu-secondary-pointing-active-border-color;
$menu-secondary-pointing-active-hover-text-color: $menu-secondary-pointing-active-text-color;

$menu-secondary-pointing-header-color: $dark-text-color;
$menu-secondary-vertical-pointing-item-margin: 0 -$menu-secondary-pointing-border-width 0 0;


//- Inverted Secondary */
$menu-secondary-inverted-color: $inverted-light-text-color;

$menu-secondary-inverted-hover-background: $transparent-white;
$menu-secondary-inverted-hover-color: $inverted-selected-text-color;

$menu-secondary-inverted-active-background: $strong-transparent-white;
$menu-secondary-inverted-active-color: $inverted-selected-text-color;

//- Inverted Pointing */
$menu-secondary-pointing-inverted-border-color: $white-border-color;
$menu-secondary-pointing-inverted-item-text-color: $inverted-text-color;
$menu-secondary-pointing-inverted-item-header-color: $white;
$menu-secondary-pointing-inverted-item-hover-text-color: $inverted-selected-text-color;
$menu-secondary-pointing-inverted-active-border-color: $white;
$menu-secondary-pointing-inverted-active-color: $inverted-selected-text-color;


//- Tiered */
$menu-tiered-active-item-background: #FCFCFC;
$menu-tiered-active-background: #FCFCFC;

$menu-tiered-sub-text-transform: $normal;
$menu-tiered-sub-font-weight: $normal;

$menu-tiered-sub-color: $light-text-color;

$menu-tiered-sub-hover-background: none transparent;
$menu-tiered-sub-hover-color: $hovered-text-color;

$menu-tiered-sub-active-background: none transparent;
$menu-tiered-sub-active-color: $selected-text-color;

$menu-tiered-inverted-sub-background: rgba(0, 0, 0, 0.2);


//- Icon */
$menu-icon-text-align: center;
$menu-icon-item-color: $black;
$menu-icon-inverted-item-color: $white;


//- Tabular */
$menu-tabular-border-color: $solid-border-color;
$menu-tabular-background-color: transparent;
$menu-tabular-background: none $menu-tabular-background-color;
$menu-tabular-border-width: 1px;
$menu-tabular-opposite-border-width: $menu-tabular-border-width + 1px;
$menu-tabular-vertical-padding: $menu-item-vertical-padding;
$menu-tabular-horizontal-padding: $relative-huge;
$menu-tabular-border-radius: $default-border-radius;
$menu-tabular-text-color: $menu-item-text-color;

$menu-tabular-hovered-text-color: $hovered-text-color;

$menu-tabular-vertical-background: none $menu-tabular-background-color;

$menu-tabular-fluid-offset: 1px;
$menu-tabular-fluid-width: calc(100% + #{$menu-tabular-fluid-offset * 2});

$menu-tabular-active-background: none $white;
$menu-tabular-active-color: $selected-text-color;
$menu-tabular-active-box-shadow: none;
$menu-tabular-active-weight: $bold;



//- Pagination */
$menu-pagination-min-width: 3em;
$menu-pagination-active-background: $transparent-black;
$menu-pagination-active-text-color: $selected-text-color;

//- Labeled Icon */
$menu-labeled-icon-item-horizontal-padding: $relative-massive;
$menu-labeled-icon-size: $relative-massive;
$menu-labeled-icon-min-width: 6em;
$menu-labeled-icon-text-margin: 0.5rem;


//- Text */
$menu-text-item-spacing: $relative7px;
$menu-text-margin: $relative-medium -($menu-text-item-spacing);
$menu-text-item-color: $muted-text-color;
$menu-text-item-font-weight: $normal;
$menu-text-item-margin: 0 0;
$menu-text-item-padding: $relative5px $menu-text-item-spacing;
$menu-text-item-transition: opacity $default-duration $default-easing;

$menu-text-sub-menu-margin: 0;
$menu-text-sub-menu-item-margin: 0;
$menu-text-sub-menu-item-padding: $relative7px 0;

$menu-text-active-item-font-weight: $normal;
$menu-text-active-item-color: $selected-text-color;

$menu-text-header-size: $relative-small;
$menu-text-header-color: $dark-text-color;
$menu-text-header-font-weight: $bold;
$menu-text-header-text-transform: uppercase;

$menu-text-vertical-margin: $relative-medium 0;
$menu-text-vertical-header-margin: $relative8px 0 $relative10px;
$menu-text-vertical-item-margin: $relative8px 0;

$menu-text-vertical-icon-float: none;
$menu-text-vertical-icon-margin: $menu-icon-margin;


//---------------  Variations ---------------*/

//- Inverted */
$menu-inverted-background: $black;
$menu-inverted-box-shadow: none;
$menu-inverted-border: 0 solid transparent;
$menu-inverted-header-background: transparent;

$menu-inverted-item-background: transparent;
$menu-inverted-item-text-color: $inverted-text-color;

//- Inverted Sub Menu */
$menu-inverted-sub-background: transparent;
$menu-inverted-sub-color: $inverted-unselected-text-color;

//- Inverted Hover */
$menu-inverted-hover-background: $transparent-white;
$menu-inverted-hover-color: $inverted-selected-text-color;

$menu-inverted-sub-hover-background: transparent;
$menu-inverted-sub-hover-color: $inverted-selected-text-color;

//- Pressed */
$menu-inverted-pressed-background: $transparent-white;
$menu-inverted-pressed-color: $inverted-selected-text-color;

//- Inverted Active */
$menu-inverted-arrow-active-color: #3D3E3F;
$menu-inverted-active-background: $menu-inverted-arrow-active-color;
$menu-inverted-active-color: $inverted-selected-text-color;

//- Inverted Active Hover*/
$menu-inverted-active-hover-background: $menu-inverted-active-background;
$menu-inverted-active-hover-color: $white;
$menu-inverted-arrow-active-hover-color: $menu-inverted-arrow-active-color;

$menu-inverted-sub-active-background: transparent;
$menu-inverted-sub-active-color: $white;

//- Inverted Menu Divider */
$menu-inverted-divider-background: rgba(255, 255, 255, 0.08);
$menu-inverted-vertical-divider-background: $menu-inverted-divider-background;

//- Inverted Colored */
$menu-inverted-colored-divider-background: $menu-divider-background;
$menu-inverted-colored-active-background: $strong-transparent-black;

//- Fixed */
$menu-fixed-preceding-grid-margin: 2.75rem;

//- Floated */
$menu-floated-distance: 0.5rem;

//- Attached */
$menu-attached-top-offset: 0;
$menu-attached-bottom-offset: 0;
$menu-attached-horizontal-offset: -$menu-border-width;
$menu-attached-width: calc(100% + #{-$menu-attached-horizontal-offset * 2});
$menu-attached-box-shadow: none;
$menu-attached-border: $menu-border-width solid $solid-border-color;
$menu-attached-bottom-box-shadow:
  $menu-box-shadow,
  $menu-attached-box-shadow
;

//- Resize large sizes */
$menu-mini: $_11px;
$menu-tiny: $_12px;
$menu-small: $_13px;
$menu-large: $_15px;
$menu-big: $_16px;
$menu-huge: $_17px;
$menu-massive: $_18px;

//- Sizes */
$menu-mini-width: 9rem;
$menu-tiny-width: 11rem;
$menu-small-width: 13rem;
$menu-medium-width: 15rem;
$menu-large-width: 18rem;
$menu-big-width: 20rem;
$menu-huge-width: 22rem;
$menu-massive-width: 25rem;


//-------------------- Inverted dropdowns --------------------*/
$menu-inverted-dropdown-background: $black;
$menu-inverted-dropdown-box-shadow: none;

$menu-inverted-dropdown-item-color: $inverted-muted-text-color;

$menu-inverted-dropdown-hovered-item-background: $transparent-white;
$menu-inverted-dropdown-hovered-item-color: $menu-inverted-dropdown-item-color;

$menu-inverted-dropdown-active-item-background: transparent;
$menu-inverted-dropdown-active-item-color: $menu-inverted-dropdown-item-color;

$menu-inverted-dropdown-selected-item-background: $strong-transparent-white;
$menu-inverted-dropdown-selected-item-color: $menu-inverted-dropdown-item-color;
