@import "../globals/variables";

//@-****************************** Message *******************************/

// $text-color

//--------------------  Elements --------------------*/

$message-vertical-margin: 1em;
$message-vertical-padding: 1em;
$message-horizontal-padding: 1.5em;
$message-padding: $message-vertical-padding $message-horizontal-padding;
$message-background: #F8F8F9;
$message-line-height-offset: (($line-height - 1em) / 2);

$message-border-radius: $default-border-radius;
$message-border-width: 1px;
$message-border-shadow: 0 0 0 $message-border-width $strong-border-color inset;
$message-shadow-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
$message-box-shadow:
  $message-border-shadow,
  $message-shadow-shadow
;

$message-transition:
  opacity $default-duration $default-easing,
  color $default-duration $default-easing,
  background $default-duration $default-easing,
  box-shadow $default-duration $default-easing
;

//- Header */
$message-header-font-size: $relative-large;
$message-header-font-weight: $bold;
$message-header-display: block;
$message-header-distance: 0;
$message-header-margin: -$header-line-height-offset 0 $message-header-distance 0;
$message-header-paragraph-distance: 0.25em;

//- Paragraph */
$message-text-opacity: 0.85;
$message-paragraph-margin: 0.75em;

//- List */
$message-list-opacity: 0.85;
$message-list-style-position: inside;
$message-list-margin: 0.5em;
$message-list-item-indent: 1em;
$message-list-item-margin: 0.3em;

//- Icon */
$message-icon-distance: 0.6em;

//- Close Icon */
$message-close-top-distance: $message-vertical-padding - $message-line-height-offset;
$message-close-right-distance: 0.5em;
$message-close-opacity: 0.7;
$message-close-transition: opacity $default-duration $default-easing;


//-------------------- Types --------------------*/

//- Icon Message */
$message-icon-size: 3em;
$message-icon-opacity: 0.8;
$message-icon-content-distance: 0;
$message-icon-vertical-align: middle;

//- Attached */
$message-attached-x-offset: -1px;
$message-attached-y-offset: -1px;
$message-attached-box-shadow: 0 0 0 $message-border-width $border-color inset;
$message-attached-bottom-box-shadow:
  $message-attached-box-shadow,
  $subtle-shadow
;

//- Floating */
$message-floating-box-shadow:
  $message-border-shadow,
  $floating-shadow
;

//- Colors */
$message-red-box-shadow:
  0 0 0 $message-border-width $red-border-color inset,
  $message-shadow-shadow
;
$message-red-box-floating-shadow:
  0 0 0 $message-border-width $red-border-color inset,
  $floating-shadow
;
$message-orange-box-shadow:
  0 0 0 $message-border-width $orange-border-color inset,
  $message-shadow-shadow
;
$message-orange-box-floating-shadow:
  0 0 0 $message-border-width $orange-border-color inset,
  $floating-shadow
;
$message-yellow-box-shadow:
  0 0 0 $message-border-width $yellow-border-color inset,
  $message-shadow-shadow
;
$message-yellow-box-floating-shadow:
   0 0 0 $message-border-width $yellow-border-color inset,
   $floating-shadow
;
$message-olive-box-shadow:
  0 0 0 $message-border-width $olive-border-color inset,
  $message-shadow-shadow
;
$message-olive-box-floating-shadow:
  0 0 0 $message-border-width $olive-border-color inset,
  $floating-shadow
;
$message-green-box-shadow:
  0 0 0 $message-border-width $green-border-color inset,
  $message-shadow-shadow
;
$message-green-box-floating-shadow:
  0 0 0 $message-border-width $green-border-color inset,
  $floating-shadow
;
$message-teal-box-shadow:
  0 0 0 $message-border-width $teal-border-color inset,
  $message-shadow-shadow
;
$message-teal-box-floating-shadow:
  0 0 0 $message-border-width $teal-border-color inset,
  $floating-shadow
;
$message-blue-box-shadow:
  0 0 0 $message-border-width $blue-border-color inset,
  $message-shadow-shadow
;
$message-blue-box-floating-shadow:
  0 0 0 $message-border-width $blue-border-color inset,
  $floating-shadow
;
$message-violet-box-shadow:
  0 0 0 $message-border-width $violet-border-color inset,
  $message-shadow-shadow
;
$message-violet-box-floating-shadow:
  0 0 0 $message-border-width $violet-border-color inset,
  $floating-shadow
;
$message-purple-box-shadow:
  0 0 0 $message-border-width $purple-border-color inset,
  $message-shadow-shadow
;
$message-purple-box-floating-shadow:
  0 0 0 $message-border-width $purple-border-color inset,
  $floating-shadow
;
$message-pink-box-shadow:
  0 0 0 $message-border-width $pink-border-color inset,
  $message-shadow-shadow
;
$message-pink-box-floating-shadow:
  0 0 0 $message-border-width $pink-border-color inset,
  $floating-shadow
;
$message-brown-box-shadow:
  0 0 0 $message-border-width $brown-border-color inset,
  $message-shadow-shadow
;
$message-brown-box-floating-shadow:
  0 0 0 $message-border-width $brown-border-color inset,
  $floating-shadow
;

//- Warning / Positive / Negative / Info */
$message-positive-box-shadow:
  0 0 0 $message-border-width $positive-border-color inset,
  $message-shadow-shadow
;
$message-positive-box-floating-shadow:
  0 0 0 $message-border-width $positive-border-color inset,
  $floating-shadow
;
$message-negative-box-shadow:
  0 0 0 $message-border-width $negative-border-color inset,
  $message-shadow-shadow
;
$message-negative-box-floating-shadow:
  0 0 0 $message-border-width $negative-border-color inset,
  $floating-shadow
;
$message-info-box-shadow:
  0 0 0 $message-border-width $info-border-color inset,
  $message-shadow-shadow
;
$message-info-box-floating-shadow:
  0 0 0 $message-border-width $info-border-color inset,
  $floating-shadow
;
$message-warning-box-shadow:
  0 0 0 $message-border-width $warning-border-color inset,
  $message-shadow-shadow
;
$message-warning-box-floating-shadow:
  0 0 0 $message-border-width $warning-border-color inset,
  $floating-shadow
;
$message-error-box-shadow:
  0 0 0 $message-border-width $error-border-color inset,
  $message-shadow-shadow
;
$message-error-box-floating-shadow:
  0 0 0 $message-border-width $error-border-color inset,
  $floating-shadow
;
$message-success-box-shadow:
  0 0 0 $message-border-width $success-border-color inset,
  $message-shadow-shadow
;
$message-success-box-floating-shadow:
  0 0 0 $message-border-width $success-border-color inset,
  $floating-shadow
;


$message-consequences: (
  positive: (
    background     : $positive-background-color,
    header         : $positive-header-color,
    boxShadow      : $message-positive-box-shadow,
    boxFloatShadow : $message-positive-box-floating-shadow,
    text           : $positive-text-color,
  ),
  negative: (
    background     : $negative-background-color,
    header         : $negative-header-color,
    boxShadow      : $message-negative-box-shadow,
    boxFloatShadow : $message-negative-box-floating-shadow,
    text           : $negative-text-color,
  ),
  info: (
    background     : $info-background-color,
    header         : $info-header-color,
    boxShadow      : $message-info-box-shadow,
    boxFloatShadow : $message-info-box-floating-shadow,
    text           : $info-text-color,
  ),
  warning: (
    background     : $warning-background-color,
    header         : $warning-header-color,
    boxShadow      : $message-warning-box-shadow,
    boxFloatShadow : $message-warning-box-floating-shadow,
    text           : $warning-text-color,
  ),
  error: (
    background     : $error-background-color,
    header         : $error-header-color,
    boxShadow      : $message-error-box-shadow,
    boxFloatShadow : $message-error-box-floating-shadow,
    text           : $error-text-color,
  ),
  success: (
    background     : $success-background-color,
    header         : $success-header-color,
    boxShadow      : $message-success-box-shadow,
    boxFloatShadow : $message-success-box-floating-shadow,
    text           : $success-text-color,
  ),
);
