@import './breakpoints';

$largestMobileScreen : ($tabletBreakpoint - 0.02px) !default;
$largestTabletScreen : ($computerBreakpoint - 0.02px) !default;
$largestSmallMonitor : ($largeMonitorBreakpoint - 0.02px) !default;
$largestLargeMonitor : ($widescreenMonitorBreakpoint - 0.02px) !default;