//@import "../border/all";
@import "../shadows/all";

$shadow-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !default;
$border-width: 1px !default;

$primary-box-shadow: 0 0 0 $border-width $primary-border-color inset,
  $shadow-shadow !default;
$primary-box-floating-shadow: 0 0 0 $border-width $primary-border-color inset,
  $floating-shadow !default;
$secondary-box-shadow: 0 0 0 $border-width $secondary-border-color inset,
  $shadow-shadow !default;
$secondary-box-floating-shadow: 0 0 0 $border-width $secondary-border-color
    inset,
  $floating-shadow !default;
$red-box-shadow: 0 0 0 $border-width $red-border-color inset, $shadow-shadow !default;
$red-box-floating-shadow: 0 0 0 $border-width $red-border-color inset,
  $floating-shadow !default;
$orange-box-shadow: 0 0 0 $border-width $orange-border-color inset,
  $shadow-shadow !default;
$orange-box-floating-shadow: 0 0 0 $border-width $orange-border-color inset,
  $floating-shadow !default;
$yellow-box-shadow: 0 0 0 $border-width $yellow-border-color inset,
  $shadow-shadow !default;
$yellow-box-floating-shadow: 0 0 0 $border-width $yellow-border-color inset,
  $floating-shadow !default;
$olive-box-shadow: 0 0 0 $border-width $olive-border-color inset, $shadow-shadow !default;
$olive-box-floating-shadow: 0 0 0 $border-width $olive-border-color inset,
  $floating-shadow !default;
$green-box-shadow: 0 0 0 $border-width $green-border-color inset, $shadow-shadow !default;
$green-box-floating-shadow: 0 0 0 $border-width $green-border-color inset,
  $floating-shadow !default;
$teal-box-shadow: 0 0 0 $border-width $teal-border-color inset, $shadow-shadow !default;
$teal-box-floating-shadow: 0 0 0 $border-width $teal-border-color inset,
  $floating-shadow !default;
$blue-box-shadow: 0 0 0 $border-width $blue-border-color inset, $shadow-shadow !default;
$blue-box-floating-shadow: 0 0 0 $border-width $blue-border-color inset,
  $floating-shadow !default;
$violet-box-shadow: 0 0 0 $border-width $violet-border-color inset,
  $shadow-shadow !default;
$violet-box-floating-shadow: 0 0 0 $border-width $violet-border-color inset,
  $floating-shadow !default;
$purple-box-shadow: 0 0 0 $border-width $purple-border-color inset,
  $shadow-shadow !default;
$purple-box-floating-shadow: 0 0 0 $border-width $purple-border-color inset,
  $floating-shadow !default;
$pink-box-shadow: 0 0 0 $border-width $pink-border-color inset, $shadow-shadow !default;
$pink-box-floating-shadow: 0 0 0 $border-width $pink-border-color inset,
  $floating-shadow !default;
$brown-box-shadow: 0 0 0 $border-width $brown-border-color inset, $shadow-shadow !default;
$brown-box-floating-shadow: 0 0 0 $border-width $brown-border-color inset,
  $floating-shadow !default;
$grey-box-shadow: 0 0 0 $border-width $grey-border-color inset, $shadow-shadow !default;
$grey-box-floating-shadow: 0 0 0 $border-width $grey-border-color inset,
  $floating-shadow !default;
$black-box-shadow: 0 0 0 $border-width $black-border-color inset, $shadow-shadow !default;
$black-box-floating-shadow: 0 0 0 $border-width $black-border-color inset,
  $floating-shadow !default;
