@import '../border/all';
@import '../shadows/all';

$shadowShadow: 0 0 0 0 rgba(0, 0, 0, 0) !default;
$borderWidth: 1px !default;

$primaryBoxShadow:
        0 0 0 $borderWidth $primaryBorderColor inset,
        $shadowShadow
 !default;
$primaryBoxFloatingShadow:
        0 0 0 $borderWidth $primaryBorderColor inset,
        $floatingShadow
 !default;
$secondaryBoxShadow:
        0 0 0 $borderWidth $secondaryBorderColor inset,
        $shadowShadow
 !default;
$secondaryBoxFloatingShadow:
        0 0 0 $borderWidth $secondaryBorderColor inset,
        $floatingShadow
 !default;
$redBoxShadow:
        0 0 0 $borderWidth $redBorderColor inset,
        $shadowShadow
 !default;
$redBoxFloatingShadow:
        0 0 0 $borderWidth $redBorderColor inset,
        $floatingShadow
 !default;
$orangeBoxShadow:
        0 0 0 $borderWidth $orangeBorderColor inset,
        $shadowShadow
 !default;
$orangeBoxFloatingShadow:
        0 0 0 $borderWidth $orangeBorderColor inset,
        $floatingShadow
 !default;
$yellowBoxShadow:
        0 0 0 $borderWidth $yellowBorderColor inset,
        $shadowShadow
 !default;
$yellowBoxFloatingShadow:
        0 0 0 $borderWidth $yellowBorderColor inset,
        $floatingShadow
 !default;
$oliveBoxShadow:
        0 0 0 $borderWidth $oliveBorderColor inset,
        $shadowShadow
 !default;
$oliveBoxFloatingShadow:
        0 0 0 $borderWidth $oliveBorderColor inset,
        $floatingShadow
 !default;
$greenBoxShadow:
        0 0 0 $borderWidth $greenBorderColor inset,
        $shadowShadow
 !default;
$greenBoxFloatingShadow:
        0 0 0 $borderWidth $greenBorderColor inset,
        $floatingShadow
 !default;
$tealBoxShadow:
        0 0 0 $borderWidth $tealBorderColor inset,
        $shadowShadow
 !default;
$tealBoxFloatingShadow:
        0 0 0 $borderWidth $tealBorderColor inset,
        $floatingShadow
 !default;
$blueBoxShadow:
        0 0 0 $borderWidth $blueBorderColor inset,
        $shadowShadow
 !default;
$blueBoxFloatingShadow:
        0 0 0 $borderWidth $blueBorderColor inset,
        $floatingShadow
 !default;
$violetBoxShadow:
        0 0 0 $borderWidth $violetBorderColor inset,
        $shadowShadow
 !default;
$violetBoxFloatingShadow:
        0 0 0 $borderWidth $violetBorderColor inset,
        $floatingShadow
 !default;
$purpleBoxShadow:
        0 0 0 $borderWidth $purpleBorderColor inset,
        $shadowShadow
 !default;
$purpleBoxFloatingShadow:
        0 0 0 $borderWidth $purpleBorderColor inset,
        $floatingShadow
 !default;
$pinkBoxShadow:
        0 0 0 $borderWidth $pinkBorderColor inset,
        $shadowShadow
 !default;
$pinkBoxFloatingShadow:
        0 0 0 $borderWidth $pinkBorderColor inset,
        $floatingShadow
 !default;
$brownBoxShadow:
        0 0 0 $borderWidth $brownBorderColor inset,
        $shadowShadow
 !default;
$brownBoxFloatingShadow:
        0 0 0 $borderWidth $brownBorderColor inset,
        $floatingShadow
 !default;
$greyBoxShadow:
        0 0 0 $borderWidth $greyBorderColor inset,
        $shadowShadow
 !default;
$greyBoxFloatingShadow:
        0 0 0 $borderWidth $greyBorderColor inset,
        $floatingShadow
 !default;
$blackBoxShadow:
        0 0 0 $borderWidth $blackBorderColor inset,
        $shadowShadow
 !default;
$blackBoxFloatingShadow:
        0 0 0 $borderWidth $blackBorderColor inset,
        $floatingShadow
 !default;
