//****************************** Checkbox *******************************/
@import "../globals/variables";

$checkbox-size: 17px !default;
$checkbox-color: $text-color !default;
$checkbox-line-height: $checkbox-size !default;

// Label */
$checkbox-label-distance: 1.85714em !default; // 26px $ 14/em */

// Checkbox */
$checkbox-background: $white !default;
$checkbox-border: 1px solid $solid-border-color !default;
$checkbox-border-radius: $_3px !default;
$checkbox-transition: border $default-duration $default-easing,
  opacity $default-duration $default-easing,
  transform $default-duration $default-easing,
  box-shadow $default-duration $default-easing !default;

// Checkmark */
$checkbox-check-font-size: 14px !default;
$checkbox-check-top: 0 !default;
$checkbox-check-left: 0 !default;
$checkbox-check-size: $checkbox-size !default;

// Label */
$checkbox-label-font-size: $relative-medium !default;
$checkbox-label-color: $text-color !default;
$checkbox-label-transition: color $default-duration $default-easing !default;

//------------------- States --------------------*/

// Hover */
$checkbox-hover-background: $checkbox-background !default;
$checkbox-hover-border-color: $selected-border-color !default;
$checkbox-label-hover-color: $hovered-text-color !default;

// Pressed */
$checkbox-pressed-background: $off-white !default;
$checkbox-pressed-border-color: $selected-border-color !default;
$checkbox-pressed-color: $selected-text-color !default;
$checkbox-label-pressed-color: $selected-text-color !default;

// Focus */
$checkbox-focus-background: $white !default;
$checkbox-focus-border-color: $focused-form-muted-border-color !default;
$checkbox-focus-check-color: $selected-text-color !default;
$checkbox-label-focus-color: $selected-text-color !default;

// Active */
$checkbox-label-active-color: $selected-text-color !default;
$checkbox-active-background: $white !default;
$checkbox-active-border-color: $selected-border-color !default;
$checkbox-active-check-color: $selected-text-color !default;
$checkbox-active-check-opacity: 1 !default;

// Active Focus */
$checkbox-active-focus-background: $white !default;
$checkbox-active-focus-border-color: $checkbox-focus-border-color !default;
$checkbox-active-focus-check-color: $selected-text-color !default;

// Indeterminate */
$checkbox-indeterminate-background: $checkbox-active-background !default;
$checkbox-indeterminate-border-color: $checkbox-active-border-color !default;
$checkbox-indeterminate-check-opacity: 1 !default;
$checkbox-indeterminate-check-color: $checkbox-active-check-color !default;

// Disabled */
$checkbox-disabled-opacity: 0.5 !default;
$checkbox-disabled-label-color: rgba(0, 0, 0, 1) !default;

//------------------- Types --------------------*/

// Radio */
// Uses px to avoid rounding issues with circles */

$checkbox-radio-size: 15px !default;
$checkbox-radio-top: 1px !default;
$checkbox-radio-left: 0 !default;
$checkbox-radio-label-distance: $checkbox-label-distance !default;

$checkbox-bullet-top: 1px !default;
$checkbox-bullet-left: 0 !default;
$checkbox-bullet-scale: (
  7 / 15
) !default; // 7px as unitless value from radio size */
$checkbox-bullet-color: $text-color !default;
$checkbox-bullet-radius: $circular-radius !default;

$checkbox-radio-focus-background: $checkbox-focus-background !default;
$checkbox-radio-focus-bullet-color: $checkbox-focus-check-color !default;

$checkbox-radio-active-background: $checkbox-active-background !default;
$checkbox-radio-active-bullet-color: $checkbox-active-check-color !default;

$checkbox-radio-active-focus-background: $checkbox-active-focus-background !default;
$checkbox-radio-active-focus-bullet-color: $checkbox-active-focus-check-color !default;

// Slider & Toggle Handle */
$checkbox-handle-background: $white $subtle-gradient !default;
$checkbox-handle-box-shadow: $subtle-shadow, 0 0 0 1px $border-color inset !default;

// Slider */
$checkbox-slider-handle-size: 1.5rem !default;
$checkbox-slider-line-width: 3.5rem !default;
$checkbox-slider-transition-duration: 0.3s !default;

$checkbox-slider-handle-offset: (1rem - $checkbox-slider-handle-size) / 2 !default;
$checkbox-slider-handle-transition: left $checkbox-slider-transition-duration
  $default-easing !default;

$checkbox-slider-width: $checkbox-slider-line-width !default;
$checkbox-slider-height: (
  $checkbox-slider-handle-size + $checkbox-slider-handle-offset
) !default;

$checkbox-slider-line-height: $_3px !default;
$checkbox-slider-line-vertical-offset: 0.4rem !default;
$checkbox-slider-line-color: $transparent-black !default;
$checkbox-slider-line-radius: $circular-radius !default;
$checkbox-slider-line-transition: background
  $checkbox-slider-transition-duration $default-easing !default;

$checkbox-slider-travel-distance: $checkbox-slider-line-width -
  $checkbox-slider-handle-size !default;

$checkbox-slider-label-distance: $checkbox-slider-line-width + 1rem !default;
$checkbox-slider-off-label-color: $unselected-text-color !default;

$checkbox-slider-label-line-height: 1rem !default;

// Slider States */
$checkbox-slider-hover-lane-background: $very-strong-transparent-black !default;
$checkbox-slider-hover-label-color: $hovered-text-color !default;

$checkbox-slider-on-line-color: $light-black !default;
$checkbox-slider-on-label-color: $selected-text-color !default;

$checkbox-slider-on-focus-line-color: $light-black-focus !default;
$checkbox-slider-on-focus-label-color: $checkbox-slider-on-label-color !default;

// Toggle */
$checkbox-toggle-lane-width: 3.5rem !default;
$checkbox-toggle-handle-size: 1.5rem !default;
$checkbox-toggle-transition-duration: 0.2s !default;

$checkbox-toggle-width: $checkbox-toggle-lane-width !default;
$checkbox-toggle-height: $checkbox-toggle-handle-size !default;

$checkbox-toggle-handle-radius: $circular-radius !default;
$checkbox-toggle-handle-offset: 0 !default;
$checkbox-toggle-handle-transition: background
    $checkbox-slider-transition-duration $default-easing,
  left $checkbox-slider-transition-duration $default-easing !default;

$checkbox-toggle-lane-background: $transparent-black !default;
$checkbox-toggle-lane-height: $checkbox-toggle-handle-size !default;
$checkbox-toggle-lane-box-shadow: none !default;
$checkbox-toggle-lane-vertical-offset: 0 !default;
$checkbox-toggle-off-offset: -0.05rem !default;
$checkbox-toggle-on-offset: (
    $checkbox-toggle-lane-width - $checkbox-toggle-handle-size
  ) + 0.15rem !default;
$checkbox-toggle-center-offset: $checkbox-toggle-on-offset / 2 !default;
$checkbox-toggle-center-lane-background: $very-strong-transparent-black !default;

$checkbox-toggle-label-distance: $checkbox-toggle-lane-width + 1rem !default;
$checkbox-toggle-label-line-height: 1.5rem !default;
$checkbox-toggle-label-offset: 0.15em !default;

$checkbox-toggle-focus-color: $very-strong-transparent-black !default;
$checkbox-toggle-hover-color: $checkbox-toggle-focus-color !default;

$checkbox-toggle-off-label-color: $checkbox-color !default;
$checkbox-toggle-off-handle-box-shadow: $checkbox-handle-box-shadow !default;

$checkbox-toggle-on-label-color: $selected-text-color !default;
$checkbox-toggle-on-lane-color: $primary-color !default;

$checkbox-toggle-on-handle-box-shadow: $checkbox-handle-box-shadow !default;

$checkbox-toggle-on-focus-lane-color: $primary-color-focus !default;
$checkbox-toggle-on-focus-label-color: $checkbox-toggle-on-label-color !default;

//------------------- Variations --------------------*/

// Inverted */
$checkbox-inverted-hover-background: $black !default;
