//******************************  Progress *******************************/
@import "../globals/variables";

//------------------- Element -------------------*/

// Label */
$progress-label-width: 100% !default;
$progress-label-height: 1.5em !default;
$progress-label-size: 1em !default;
$progress-label-position: absolute !default;
$progress-label-top: 100% !default;
$progress-label-left: 0 !default;
$progress-label-right: auto !default;
$progress-label-bottom: auto !default;
$progress-label-offset: ($progress-label-height - 1.3em) !default;
$progress-label-color: $text-color !default;
$progress-label-text-shadow: none !default;
$progress-label-font-weight: $bold !default;
$progress-label-text-align: center !default;
$progress-label-transition: color 0.4s $default-easing !default;

$progress-vertical-spacing: 1em !default;
$progress-margin: $progress-vertical-spacing 0
  ($progress-label-height + $progress-vertical-spacing) !default;
$progress-first-margin: 0 0
  ($progress-label-height + $progress-vertical-spacing) !default;
$progress-last-margin: 0 0 ($progress-label-height) !default;

$progress-background: $strong-transparent-black !default;
$progress-border: none !default;
$progress-box-shadow: none !default;
$progress-padding: 0 !default;
$progress-border-radius: $default-border-radius !default;

// Bar */
$progress-bar-position: relative !default;
$progress-bar-height: 1.75em !default;
$progress-bar-background: #888888 !default;
$progress-bar-border-radius: $progress-border-radius !default;
$progress-bar-transition-easing: $default-easing !default;
$progress-bar-transition-duration: $default-duration !default;
$progress-bar-transition: width $progress-bar-transition-duration
    $progress-bar-transition-easing,
  background-color $progress-bar-transition-duration
    $progress-bar-transition-easing !default;
$progress-bar-initial-width: 0 !default;
$progress-bar-min-width: 2em !default;

// Progress Bar Label */
$progress-width: auto !default;
$progress-size: $relative-small !default;
$progress-position: absolute !default;
$progress-top: 50% !default;
$progress-right: 0.5em !default;
$progress-left: auto !default;
$progress-bottom: auto !default;
$progress-offset: -0.5em !default;
$progress-color: $inverted-light-text-color !default;
$progress-text-shadow: none !default;
$progress-font-weight: $bold !default;
$progress-text-align: left !default;

//------------------- Types --------------------*/

$progress-indicating-first-color: #d95c5c !default;
$progress-indicating-second-color: #efbc72 !default;
$progress-indicating-third-color: #e6bb48 !default;
$progress-indicating-fourth-color: #ddc928 !default;
$progress-indicating-fifth-color: #b4d95c !default;
$progress-indicating-sixth-color: #66da81 !default;

$progress-indicating-first-label-color: $text-color !default;
$progress-indicating-second-label-color: $text-color !default;
$progress-indicating-third-label-color: $text-color !default;
$progress-indicating-fourth-label-color: $text-color !default;
$progress-indicating-fifth-label-color: $text-color !default;
$progress-indicating-sixth-label-color: $text-color !default;

$progress-inverted-indicating-first-label-color: $inverted-text-color !default;
$progress-inverted-indicating-second-label-color: $inverted-text-color !default;
$progress-inverted-indicating-third-label-color: $inverted-text-color !default;
$progress-inverted-indicating-fourth-label-color: $inverted-text-color !default;
$progress-inverted-indicating-fifth-label-color: $inverted-text-color !default;
$progress-inverted-indicating-sixth-label-color: $inverted-text-color !default;

//------------------- States --------------------*/

// Active */
$progress-active-pulse-color: $white !default;
$progress-active-pulse-max-opacity: 0.3 !default;
$progress-active-pulse-duration: 2s !default;
$progress-active-min-width: $progress-bar-min-width !default;

//------------------- Variations --------------------*/

// Attached */
$progress-attached-background: transparent !default;
$progress-attached-height: 0.2rem !default;
$progress-attached-border-radius: $progress-border-radius !default;

// Inverted */
$progress-inverted-background: $transparent-white !default;
$progress-inverted-border: none !default;
$progress-inverted-bar-background: $progress-bar-background !default;
$progress-inverted-color: $black !default;
$progress-inverted-label-color: $white !default;

// Sizing */
$progress-tiny-bar-height: 0.5em !default;
$progress-small-bar-height: 1em !default;
$progress-large-bar-height: 2.5em !default;
$progress-big-bar-height: 3.5em !default;

// Indeterminate */
$progress-indeterminate-pulse-color: $white !default;
$progress-indeterminate-pulse-duration: $progress-active-pulse-duration !default;
$progress-indeterminate-pulse-duration-slow: 4s !default;
$progress-indeterminate-pulse-duration-fast: 1s !default;
