//****************************** Shape *******************************/
@import "../globals/variables";

$shape-display: inline-block !default;

// Animating */
$shape-perspective: 2000px !default;

$shape-duration: 0.6s !default;
$shape-easing: ease-in-out !default;

$shape-hidden-side-opacity: 0.6 !default;
$shape-animating-z-index: 100 !default;

$shape-transition: transform $shape-duration $shape-easing,
  left $shape-duration $shape-easing, width $shape-duration $shape-easing,
  height $shape-duration $shape-easing !default;
$shape-side-transition: opacity $shape-duration $shape-easing !default;
$shape-backface-visibility: hidden !default;

// Side */
$shape-side-margin: 0 !default;

//-------------- Types ---------------*/

// Cube */
$shape-cube-size: 15em !default;
$shape-cube-background: #e6e6e6 !default;
$shape-cube-padding: 2em !default;
$shape-cube-text-color: $text-color !default;
$shape-cube-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) !default;

$shape-cube-text-align: center !default;
$shape-cube-font-size: 2em !default;
