//****************************** Sidebar *******************************/
@import "../globals/variables";

//------------------- Content --------------------*/

// Animation */
$sidebar-perspective: 1500px !default;
$sidebar-duration: 500ms !default;
$sidebar-easing: $default-easing !default;

// Dimmer */
$sidebar-dimmer-color: rgba(0, 0, 0, 0.4) !default;
$sidebar-dimmer-transition: opacity $sidebar-duration !default;

// Color below page */
$sidebar-canvas-background: $light-black !default;

// Shadow */
$sidebar-box-shadow: 0 0 20px $border-color !default;
$sidebar-horizontal-box-shadow: $sidebar-box-shadow !default;
$sidebar-vertical-box-shadow: $sidebar-box-shadow !default;

// Layering */
$sidebar-bottom-layer: 1 !default;
$sidebar-middle-layer: 2 !default;
$sidebar-fixed-layer: 101 !default;
$sidebar-top-layer: 102 !default;
$sidebar-dimmer-layer: 1000 !default;

//------------------- Variations --------------------*/

// Width */
$sidebar-very-thin-width: 60px !default;
$sidebar-thin-width: 150px !default;
$sidebar-width: 260px !default;
$sidebar-wide-width: 350px !default;
$sidebar-very-wide-width: 475px !default;

// Height */
$sidebar-height: 36px !default;
