//****************************** Slider Variables *******************************/
@import "../globals/variables";

//------------------- Element --------------------*/

$slider-height: 1.5em !default;
$slider-hover-pointer: auto !default;
$slider-padding: 1em 0.5em !default;

// Track */
$slider-track-height: 0.4em !default;
$slider-track-position-top: ($slider-height / 2) - ($slider-track-height / 2) !default;
$slider-background: #ccc !default;
$slider-track-border-radius: 4px !default;
$slider-track-color: $transparent-black !default;

// Track Fill */
$slider-track-fill-height: $slider-track-height !default;
$slider-track-fill-color: $black !default;
$slider-track-fill-color-focus: $black-hover !default;
$slider-inverted-track-fill-color: $light-black !default;
$slider-inverted-track-fill-color-focus: $light-black-hover !default;
$slider-track-fill-border-radius: $slider-track-border-radius !default;

// Thumb */
$slider-thumb-height: $slider-height !default;
$slider-thumb-border-radius: 100% !default;
$slider-thumb-background: $white $subtle-gradient !default;
$slider-thumb-shadow: $subtle-shadow, 0 0 0 1px $border-color inset !default;
$slider-thumb-transition-duration: 0.3s !default;
$slider-thumb-transition: background $slider-thumb-transition-duration
  $default-easing !default;

// Thumb Hover */
$slider-thumb-hover-pointer: pointer !default;
$slider-thumb-hover-background: $white-hover $subtle-gradient !default;

//------------------- States --------------------*/

// Disabled */
$slider-disabled-opactiy: 0.5 !default;
$slider-disabled-track-fill-color: $slider-background !default;

//------------------- Variations --------------------*/

// Vertical */
$slider-vertical-padding: 0.5em 1em !default;

// Labeled */
$slider-label-height: $slider-height !default;
$slider-label-width: 1px !default;
$slider-label-color: $slider-background !default;

// Hover */
$slider-hover-var-opacity: 0 !default;
$slider-hover-var-hover-opacity: 1 !default;
$slider-hover-opacity-transition-duration: 0.2s !default;
$slider-hover-opacity-transition: opacity
  $slider-hover-opacity-transition-duration linear !default;

// Sizing */
$slider-small-height: 1em !default;
$slider-small-label-height: $slider-small-height !default;
$slider-small-track-height: 0.3em !default;
$slider-track-position-top-small: ($slider-small-height / 2) -
  ($slider-small-track-height / 2) !default;

$slider-large-height: 2em !default;
$slider-large-label-height: $slider-large-height !default;
$slider-large-track-height: 0.5em !default;
$slider-track-position-top-large: ($slider-large-height / 2) -
  ($slider-large-track-height / 2) !default;

$slider-big-height: 2.5em !default;
$slider-big-label-height: $slider-big-height !default;
$slider-big-track-height: 0.6em !default;
$slider-track-position-top-big: ($slider-big-height / 2) -
  ($slider-big-track-height / 2) !default;
