//******************************  Sticky *******************************/
@import '../globals/site';

$transitionDuration: $defaultDuration !default;
$transition: none !default;
$zIndex: 800 !default;