//******************************  Tab *******************************/
@import '../globals/site';

// Loading */
$loadingMinHeight: 250px !default;
$loadingContentPosition: relative !default;
$loadingContentOffset: -10000px !default;

$loaderDistanceFromTop: 50% !default;
$loaderSize: 2.5em !default;
