//******************************  Tab *******************************/
@import "../globals/variables";

// Loading */
$tab-loading-min-height: 250px !default;
$tab-loading-content-position: relative !default;
$tab-loading-content-offset: -10000px !default;

$tab-loader-distance-from-top: 50% !default;
$tab-loader-size: 2.5em !default;
