
//@-******************************  Accordion *******************************/

$accordion-box-shadow: none !default;

//- Title */
$accordion-title-font: $header-font !default;
$accordion-title-padding: 0.5em 0 !default;
$accordion-title-font-size: 1em !default;
$accordion-title-color: $text-color !default;

//- Icon */
$accordion-icon-opacity: 1 !default;
$accordion-icon-font-size: 1em !default;
$accordion-icon-float: none !default;
$accordion-icon-width: 1.25em !default;
$accordion-icon-height: 1em !default;
$accordion-icon-display: inline-block !default;
$accordion-icon-margin: 0 0.25rem 0 0 !default;
$accordion-icon-padding: 0 !default;
$accordion-icon-transition:
  transform $default-duration $default-easing,
  opacity $default-duration $default-easing
 !default;
$accordion-icon-vertical-align: baseline !default;
$accordion-icon-transform: none !default;

//- Child Accordion */
$accordion-child-margin: 1em 0 0 !default;
$accordion-child-padding: 0 !default;

//- Content */
$accordion-content-margin: '' !default;
$accordion-content-padding: 0.5em 0 1em !default;

//--------------------  Coupling --------------------*/

$accordion-menu-title-padding: 0 !default;
$accordion-menu-icon-float: right !default;
$accordion-menu-icon-margin: $line-height-offset 0 0 1em !default;
$accordion-menu-icon-transform: rotate(180deg) !default;


//--------------------  States --------------------*/

$accordion-active-icon-transform: rotate(90deg) !default;

//-------------------- Variations --------------------*/

//- Styled */
$accordion-styled-width: 600px !default;
$accordion-styled-background: $white !default;
$accordion-styled-border-radius: $default-border-radius !default;
$accordion-styled-box-shadow:
  $subtle-shadow,
  0 0 0 1px $border-color
 !default;

//- Content */
$accordion-styled-content-margin: 0 !default;
$accordion-styled-content-padding: 0.5em 1em 1.5em !default;

//- Child Content */
$accordion-styled-child-content-margin: 0 !default;
$accordion-styled-child-content-padding: $accordion-styled-content-padding !default;

//- Styled Title */
$accordion-styled-title-margin: 0 !default;
$accordion-styled-title-padding: 0.75em 1em !default;
$accordion-styled-title-font-weight: $bold !default;
$accordion-styled-title-color: $unselected-text-color !default;
$accordion-styled-title-transition: background-color $default-duration $default-easing !default;
$accordion-styled-title-border: 1px solid $border-color !default;
$accordion-styled-title-transition:
  background $default-duration $default-easing,
  color $default-duration $default-easing
 !default;

//- Styled Title States */
$accordion-styled-title-hover-background: transparent !default;
$accordion-styled-title-hover-color: $text-color !default;
$accordion-styled-active-title-background: transparent !default;
$accordion-styled-active-title-color: $selected-text-color !default;

//- Styled Child Title States */
$accordion-styled-hover-child-title-background: $accordion-styled-title-hover-background !default;
$accordion-styled-hover-child-title-color: $accordion-styled-title-hover-color !default;
$accordion-styled-active-child-title-background: $accordion-styled-active-title-background !default;
$accordion-styled-active-child-title-color: $accordion-styled-active-title-color !default;

//- Inverted */
$accordion-inverted-title-color: $inverted-text-color !default;

