
//@-******************************  Calendar *******************************/

$calendar-focus-box-shadow: inset 0 0 0 1px $focused-form-border-color !default;
$calendar-focus-inverted-box-shadow: inset 0 0 0 1px $focused-form-border-color !default;

$calendar-today-font-weight: bold !default;

$calendar-range-background: $transparent-black !default;
$calendar-range-text-color: $selected-text-color !default;
$calendar-range-box-shadow: none !default;
$calendar-range-inverted-background: $transparent-white !default;
$calendar-range-inverted-text-color: $inverted-selected-text-color !default;
$calendar-range-inverted-box-shadow: none !default;

$calendar-adjacent-text-color: $muted-text-color !default;
$calendar-adjacent-background: $subtle-transparent-black !default;
