@import "../globals/variables";

//@-******************************  Calendar *******************************/

$calendar-focus-box-shadow: inset 0 0 0 1px $focused-form-border-color;
$calendar-focus-inverted-box-shadow: inset 0 0 0 1px $focused-form-border-color;

$calendar-today-font-weight: bold;

$calendar-range-background: $transparent-black;
$calendar-range-text-color: $selected-text-color;
$calendar-range-box-shadow: none;
$calendar-range-inverted-background: $transparent-white;
$calendar-range-inverted-text-color: $inverted-selected-text-color;
$calendar-range-inverted-box-shadow: none;

$calendar-adjacent-text-color: $muted-text-color;
$calendar-adjacent-background: $subtle-transparent-black;
