@import '../globals/variables';

//@-****************************** Dropdown *******************************/

//--------------------  Element --------------------*/

$dropdown-transition: box-shadow $default-duration $default-easing, width $default-duration $default-easing;
$dropdown-border-radius: $default-border-radius;

$dropdown-raised-shadow: 0 2px 3px 0 $border-color;

//--------------------  Content --------------------*/

//- Icon */
$dropdown-icon-size: $relative12px;
$dropdown-icon-margin: 0 0 0 1em;

//- Current Text */
$dropdown-text-transition: none;

//- Menu */
$dropdown-menu-background: #ffffff;
$dropdown-menu-margin: 0;
$dropdown-menu-padding: 0 0;
$dropdown-menu-top: 100%;
$dropdown-menu-text-align: left;

$dropdown-menu-border-width: 1px;
$dropdown-menu-border-color: $border-color;
$dropdown-menu-border: $dropdown-menu-border-width solid $dropdown-menu-border-color;
$dropdown-menu-box-shadow: $dropdown-raised-shadow;
$dropdown-menu-border-radius: $dropdown-border-radius;
$dropdown-menu-transition: opacity $default-duration $default-easing;
$dropdown-menu-min-width: calc(100% + #{$dropdown-menu-border-width * 2});
$dropdown-menu-z-index: 11;

//- Text */
$dropdown-text-line-height: 1em;
$dropdown-text-line-height-offset: ($dropdown-text-line-height - 1em);
$dropdown-text-cursor-spacing: 1px;

//- Menu Item */
$dropdown-item-font-size: $medium;
$dropdown-item-text-align: left;
$dropdown-item-border: none;
$dropdown-item-height: auto;
$dropdown-item-divider: none;
$dropdown-item-color: $text-color;
$dropdown-item-vertical-padding: $mini;
$dropdown-item-horizontal-padding: $large;
$dropdown-item-padding: $dropdown-item-vertical-padding $dropdown-item-horizontal-padding;
$dropdown-item-font-weight: $normal;
$dropdown-item-line-height: 1em;
$dropdown-item-line-height-offset: ($dropdown-item-line-height - 1em);
$dropdown-item-text-transform: none;
$dropdown-item-box-shadow: none;

//- Sub Menu */
$dropdown-sub-menu-top: 0;
$dropdown-sub-menu-left: 100%;
$dropdown-sub-menu-right: auto;
$dropdown-sub-menu-distance-away: -0.5em;
$dropdown-sub-menu-margin: 0 0 0 $dropdown-sub-menu-distance-away;
$dropdown-sub-menu-border-radius: $dropdown-border-radius;
$dropdown-sub-menu-z-index: 21;

//- Menu Header */
$dropdown-menu-header-color: $dark-text-color;
$dropdown-menu-header-font-size: $relative11px;
$dropdown-menu-header-font-weight: $bold;
$dropdown-menu-header-text-transform: uppercase;
$dropdown-menu-header-margin: 1rem 0 0.75rem;
$dropdown-menu-header-padding: 0 $dropdown-item-horizontal-padding;

//- Menu Divider */
$dropdown-menu-divider-margin: 0.5em 0;
$dropdown-menu-divider-color: $internal-border-color;
$dropdown-menu-divider-size: 1px;
$dropdown-menu-divider-border: $dropdown-menu-divider-size solid $dropdown-menu-divider-color;

//- Menu Input */
$dropdown-menu-input-margin: $large $mini;
$dropdown-menu-input-min-width: 10rem;
$dropdown-menu-input-vertical-padding: 0.5em;
$dropdown-menu-input-horizontal-padding: $input-horizontal-padding;
$dropdown-menu-input-padding: $dropdown-menu-input-vertical-padding $dropdown-menu-input-horizontal-padding;

//- Menu Image */
$dropdown-menu-image-max-height: 2em;
$dropdown-menu-image-vertical-margin: -($dropdown-menu-image-max-height - 1em) / 2;

//- Item Sub-Element */
$dropdown-item-element-float: none;
$dropdown-item-element-distance: $mini;
$dropdown-item-element-bottom-distance: $dropdown-item-element-distance / 2;

//- Sub-Menu Dropdown Icon */
$dropdown-item-icon-distance: 1em;
$dropdown-item-icon-float: right;
$dropdown-item-icon-margin: $dropdown-item-line-height-offset 0 0 $dropdown-item-icon-distance;

//- Description */
$dropdown-item-description-float: right;
$dropdown-item-description-margin: 0 0 0 1em;
$dropdown-item-description-color: $light-text-color;

//-------------  Selection --------------*/

$dropdown-selection-min-width: 14em;
$dropdown-selection-vertical-padding: $input-vertical-padding;
$dropdown-selection-horizontal-padding: $input-horizontal-padding;
$dropdown-selection-border-em-width: $relative1px;
$dropdown-selection-min-height: $input-line-height + ($dropdown-selection-vertical-padding * 2) -
  $dropdown-selection-border-em-width;
$dropdown-selection-background: $input-background;
$dropdown-selection-display: inline-block;
$dropdown-selection-icon-distance: $input-horizontal-padding + ($glyph-width * 2);
$dropdown-selection-padding: $dropdown-selection-vertical-padding $dropdown-selection-icon-distance
  $dropdown-selection-vertical-padding $dropdown-selection-horizontal-padding;
$dropdown-selection-z-index: 10;

$dropdown-selection-item-horizontal-padding: $dropdown-item-horizontal-padding;
$dropdown-selection-item-vertical-padding: $dropdown-item-vertical-padding;
$dropdown-selection-item-padding: $dropdown-selection-item-vertical-padding $dropdown-selection-item-horizontal-padding;
$dropdown-selection-item-divider: 1px solid $solid-internal-border-color;
$dropdown-selection-message-padding: $dropdown-selection-item-padding;

//- <select> */
$dropdown-select-border: 1px solid $border-color;
$dropdown-select-padding: 0.5em;
$dropdown-select-visibility: visible;
$dropdown-select-height: 38px;

$dropdown-selection-text-color: $text-color;

$dropdown-selection-text-underlay-icon-opacity: $disabled-opacity;
$dropdown-selection-text-underlay-color: $input-placeholder-focus-color;

$dropdown-selection-box-shadow: none;
$dropdown-selection-border-color: $border-color;
$dropdown-selection-border: 1px solid $dropdown-selection-border-color;
$dropdown-selection-border-radius: $dropdown-border-radius;

$dropdown-selection-icon-opacity: 0.8;
$dropdown-selection-icon-z-index: 3;
$dropdown-selection-icon-hitbox: $dropdown-selection-vertical-padding;
$dropdown-selection-icon-margin: -$dropdown-selection-icon-hitbox;
$dropdown-selection-icon-padding: join-value-to-unit($dropdown-selection-icon-hitbox / $dropdown-icon-size, em);
$dropdown-selection-icon-transition: opacity $default-duration $default-easing;

$dropdown-selection-menu-border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
$dropdown-selection-menu-box-shadow: $dropdown-raised-shadow;
$dropdown-selection-menu-item-box-shadow: none;

$dropdown-selection-transition: $dropdown-transition;
$dropdown-selection-menu-transition: $dropdown-menu-transition;

//- Message */
$dropdown-message-padding: $dropdown-selection-item-padding;
$dropdown-message-font-weight: $normal;
$dropdown-message-color: $unselected-text-color;

//- Floated Content */
$dropdown-floated-distance: 1em;

//-------------------- Types --------------------*/

//- Responsive */
$dropdown-selection-mobile-max-items: 3;
$dropdown-selection-tablet-max-items: 4;
$dropdown-selection-computer-max-items: 6;
$dropdown-selection-widescreen-max-items: 8;

//- Derived */
$dropdown-selected-border-em-width: 0.1em; //- 1px / em size */
$dropdown-selection-item-height: strip-unit($dropdown-selection-item-vertical-padding * 2) + $dropdown-item-line-height +
  $dropdown-selected-border-em-width;
$dropdown-selection-mobile-max-menu-height: ($dropdown-selection-item-height * $dropdown-selection-mobile-max-items);
$dropdown-selection-tablet-max-menu-height: ($dropdown-selection-item-height * $dropdown-selection-tablet-max-items);
$dropdown-selection-computer-max-menu-height: (
  $dropdown-selection-item-height * $dropdown-selection-computer-max-items
);
$dropdown-selection-widescreen-max-menu-height: (
  $dropdown-selection-item-height * $dropdown-selection-widescreen-max-items
);

//- Hover */
$dropdown-selection-hover-border-color: $selected-border-color;
$dropdown-selection-hover-box-shadow: none;

//- Focus */
$dropdown-selection-focus-border-color: $focused-form-muted-border-color;
$dropdown-selection-focus-box-shadow: none;
$dropdown-selection-focus-menu-box-shadow: $dropdown-raised-shadow;

//- Visible */
$dropdown-selection-visible-text-font-weight: $normal;
$dropdown-selection-visible-text-color: $hovered-text-color;

$dropdown-selection-visible-border-color: $focused-form-muted-border-color;
$dropdown-selection-visible-box-shadow: $dropdown-raised-shadow;
$dropdown-selection-visible-menu-box-shadow: $dropdown-raised-shadow;

//- Visible Hover */
$dropdown-selection-active-hover-border-color: $focused-form-muted-border-color;
$dropdown-selection-active-hover-box-shadow: $dropdown-selection-visible-box-shadow;
$dropdown-selection-active-hover-menu-box-shadow: $dropdown-selection-visible-menu-box-shadow;

$dropdown-selection-visible-connecting-border: 0;
$dropdown-selection-visible-icon-opacity: '';

//---------------  Search --------------*/

$dropdown-search-min-width: '';

//- Search Selection */
$dropdown-search-selection-line-height: $input-line-height;
$dropdown-search-selection-line-height-offset: (($dropdown-search-selection-line-height - 1em) / 2);
$dropdown-search-selection-vertical-padding: (
  $dropdown-selection-vertical-padding - $dropdown-search-selection-line-height-offset
);
$dropdown-search-selection-horizontal-padding: $dropdown-selection-horizontal-padding;
$dropdown-search-selection-input-padding: $dropdown-search-selection-vertical-padding $dropdown-selection-icon-distance
  $dropdown-search-selection-vertical-padding $dropdown-search-selection-horizontal-padding;

$dropdown-search-mobile-max-menu-height: $dropdown-selection-mobile-max-menu-height;
$dropdown-search-tablet-max-menu-height: $dropdown-selection-tablet-max-menu-height;
$dropdown-search-computer-max-menu-height: $dropdown-selection-computer-max-menu-height;
$dropdown-search-widescreen-max-menu-height: $dropdown-selection-widescreen-max-menu-height;

//- Inline */
$dropdown-inline-icon-margin: 0 $relative3px 0 $relative3px;
$dropdown-inline-text-color: inherit;
$dropdown-inline-text-font-weight: $bold;
$dropdown-inline-menu-distance: $relative3px;
$dropdown-inline-menu-border-radius: $dropdown-border-radius;

//--------------- Multiple --------------*/

//- Split Actual Padding Between Child and Parent (allows for label spacing) */
$dropdown-multiple-selection-vertical-padding: ($dropdown-search-selection-vertical-padding * (1/3));
$dropdown-multiple-selection-left-padding: $relative5px;
$dropdown-multiple-selection-right-padding: $dropdown-selection-icon-distance;
$dropdown-multiple-selection-padding: $dropdown-multiple-selection-vertical-padding
  $dropdown-multiple-selection-right-padding $dropdown-multiple-selection-vertical-padding
  $dropdown-multiple-selection-left-padding;

//- Child Elements */
$dropdown-multiple-selection-child-vertical-margin: ($dropdown-search-selection-vertical-padding * (2/3));
$dropdown-multiple-selection-child-left-margin: ($input-horizontal-padding - $dropdown-multiple-selection-left-padding);
$dropdown-multiple-selection-child-margin: $dropdown-multiple-selection-child-vertical-margin 0
  $dropdown-multiple-selection-child-vertical-margin $dropdown-multiple-selection-child-left-margin;
$dropdown-multiple-selection-child-line-height: $relative17px;
$dropdown-multiple-selection-search-start-width: ($glyph-width * 2);

//- Dropdown Icon */
$dropdown-multiple-selection-icon-margin: '';
$dropdown-multiple-selection-icon-padding: '';

$dropdown-multiple-selection-search-after-label-distance: $relative2px;

//- Selection Label */
$dropdown-label-size: $relative-medium;
$dropdown-label-horizontal-margin: $_4px;
$dropdown-label-vertical-margin: $_2px;
$dropdown-label-margin: $dropdown-label-vertical-margin $dropdown-label-horizontal-margin
  $dropdown-label-vertical-margin 0;
$dropdown-label-border-width: 1px;
$dropdown-label-box-shadow: 0 0 0 $dropdown-label-border-width $border-color inset;

$dropdown-label-vertical-padding: $relative5px;
$dropdown-label-horizontal-padding: $relative-mini;
$dropdown-label-padding: $dropdown-label-vertical-padding $dropdown-label-horizontal-padding;

$dropdown-image-label-height: (1em + $dropdown-label-vertical-padding * 2); //- Logic adopted from label.less */
$dropdown-image-label-image-margin: -$dropdown-label-vertical-padding $dropdown-label-horizontal-padding -$dropdown-label-vertical-padding -$dropdown-label-horizontal-padding;

//--------------------  States --------------------*/

//- Hovered */
$dropdown-hovered-item-background: $transparent-black;
$dropdown-hovered-item-color: $selected-text-color;
$dropdown-hovered-z-index: $dropdown-menu-z-index + 2;

//- Default Text */
$dropdown-default-text-color: $input-placeholder-color;
$dropdown-default-text-focus-color: $input-placeholder-focus-color;

//- Loading */
$dropdown-loading-z-index: -1;

//- Active Menu Item */
$dropdown-active-item-z-index: $dropdown-menu-z-index + 1;
$dropdown-active-item-background: transparent;
$dropdown-active-item-box-shadow: none;
$dropdown-active-item-font-weight: $bold;
$dropdown-active-item-color: $selected-text-color;

//- Selected */
$dropdown-selected-background: $subtle-transparent-black;
$dropdown-selected-color: $selected-text-color;

//- Error */
$dropdown-error-label-background: #eacbcb;
$dropdown-error-label-color: $error-text-color;

$dropdown-error-item-text-color: $error-text-color;
$dropdown-error-item-hover-background: #fff2f2;
$dropdown-error-item-active-background: #fdcfcf;

//- Clearable */
$dropdown-clearable-icon-opacity: 0.8;
$dropdown-clearable-icon-active-opacity: 1;

//-------------------- Variations --------------------*/

//- Scrolling */
$dropdown-scrolling-menu-width: 100%;
$dropdown-scrolling-menu-item-border: none;
$dropdown-scrolling-menu-right-item-padding: calc(#{$dropdown-item-horizontal-padding} + #{$scrollbar-width});

$dropdown-scrolling-mobile-max-items: 4;
$dropdown-scrolling-tablet-max-items: 6;
$dropdown-scrolling-computer-max-items: 8;
$dropdown-scrolling-widescreen-max-items: 12;

$dropdown-scrolling-border-em-width: 0; //- 0 / em size */
$dropdown-scrolling-item-height: strip-unit($dropdown-item-vertical-padding * 2) + $dropdown-item-line-height +
  $dropdown-scrolling-border-em-width;
$dropdown-scrolling-mobile-max-menu-height: ($dropdown-scrolling-item-height * $dropdown-scrolling-mobile-max-items);
$dropdown-scrolling-tablet-max-menu-height: ($dropdown-scrolling-item-height * $dropdown-scrolling-tablet-max-items);
$dropdown-scrolling-computer-max-menu-height: (
  $dropdown-scrolling-item-height * $dropdown-scrolling-computer-max-items
);
$dropdown-scrolling-widescreen-max-menu-height: (
  $dropdown-scrolling-item-height * $dropdown-selection-widescreen-max-items
);

//- Upward */
$dropdown-upward-selection-visible-border-radius: $dropdown-selection-visible-connecting-border
  $dropdown-selection-visible-connecting-border $dropdown-border-radius $dropdown-border-radius;
$dropdown-upward-menu-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
$dropdown-upward-selection-menu-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.08);
$dropdown-upward-menu-border-radius: $dropdown-border-radius $dropdown-border-radius 0 0;
$dropdown-upward-selection-hover-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
$dropdown-upward-selection-visible-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
$dropdown-upward-selection-active-hover-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
$dropdown-upward-selection-active-hover-menu-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.08);

//- Flyout Direction */
$dropdown-left-menu-icon-float: left;
$dropdown-left-menu-icon-margin: $dropdown-item-line-height-offset 0 0 0;

//- Left */
$dropdown-left-sub-menu-border-radius: $dropdown-border-radius;
$dropdown-left-sub-menu-margin: 0 $dropdown-sub-menu-distance-away 0 0;

//- Simple */
$dropdown-simple-transition-duration: $default-duration;
$dropdown-simple-transition: opacity $dropdown-simple-transition-duration $default-easing;

//- Floating */
$dropdown-floating-menu-distance: 0.5em;
$dropdown-floating-menu-box-shadow: $floating-shadow;
$dropdown-floating-menu-border-radius: $dropdown-border-radius;

//- Pointing */
$dropdown-pointing-arrow-size: $relative7px;
$dropdown-pointing-arrow-offset: -($dropdown-pointing-arrow-size / 2);
$dropdown-pointing-arrow-distance-from-edge: 1em;

$dropdown-pointing-arrow-background: $white;
$dropdown-pointing-arrow-z-index: 2;
$dropdown-pointing-arrow-box-shadow: -$dropdown-menu-border-width -$dropdown-menu-border-width 0 0 $dropdown-menu-border-color;

$dropdown-pointing-menu-distance: $mini;
$dropdown-pointing-menu-border-radius: $dropdown-border-radius;

//- Pointing Upward */
$dropdown-pointing-upward-menu-border-radius: $dropdown-border-radius;
$dropdown-pointing-upward-arrow-box-shadow: $dropdown-menu-border-width $dropdown-menu-border-width 0 0
  $dropdown-menu-border-color;

//--------------- Inverted ---------------*/

//- General rules and basic dropdowns */
$dropdown-inverted-menu-background: $black;
$dropdown-inverted-menu-color: $inverted-muted-text-color;
$dropdown-inverted-menu-border-color: $strong-transparent-white;
$dropdown-inverted-menu-border: 1px solid $dropdown-inverted-menu-border-color;
$dropdown-inverted-menu-box-shadow: none;

$dropdown-inverted-pointing-arrow-background: $black;
$dropdown-inverted-pointing-arrow-box-shadow: -$dropdown-menu-border-width -$dropdown-menu-border-width 0 0 $dropdown-inverted-menu-border-color;

$dropdown-inverted-hovered-item-background: $transparent-white;
$dropdown-inverted-hovered-item-color: $dropdown-inverted-menu-color;

$dropdown-inverted-active-item-background: transparent;
$dropdown-inverted-active-item-color: $dropdown-inverted-menu-color;
$dropdown-inverted-active-item-box-shadow: none;

$dropdown-inverted-selected-background: $strong-transparent-white;
$dropdown-inverted-selected-color: $dropdown-inverted-menu-color;

$dropdown-inverted-menu-header-color: $white;
$dropdown-inverted-item-description-color: $inverted-unselected-text-color;

$dropdown-inverted-menu-divider-border: $dropdown-menu-divider-size solid $strong-transparent-white;

//- Selection */
$dropdown-inverted-selection-border-color: $strong-transparent-white;
$dropdown-inverted-selection-border: 1px solid $dropdown-inverted-selection-border-color;
$dropdown-inverted-selection-background: $black;
$dropdown-inverted-selection-text-color: $dropdown-inverted-menu-color;
$dropdown-inverted-selection-input-text-color: $white;

$dropdown-inverted-selection-hover-border-color: rgba(255, 255, 255, 0.25);
$dropdown-inverted-selection-hover-box-shadow: none;

$dropdown-inverted-default-text-color: $inverted-unselected-text-color;
$dropdown-inverted-default-text-focus-color: $inverted-light-text-color;

$dropdown-inverted-selection-visible-text-color: $inverted-text-color;

$dropdown-inverted-selection-text-underlay-icon-opacity: 0.45;
$dropdown-inverted-selection-text-underlay-color: $inverted-light-text-color;

$dropdown-inverted-selection-item-divider: 1px solid #242526;
$dropdown-inverted-selection-visible-border-color: $strong-transparent-white;

$dropdown-inverted-message-color: $inverted-unselected-text-color;

$dropdown-inverted-input-highlight-background: rgba(255, 255, 255, 0.25);
$dropdown-inverted-input-highlight-color: $inverted-muted-text-color;

//- Multiple */
//-$dropdown-inverted-label-background-color: rgba(255, 255, 255, 0.06); $dropdown-inverted-label-background-image: none; $dropdown-inverted-label-color: rgba(255, 255, 255, 0.6); $dropdown-inverted-label-box-shadow: 0 0 0 $dropdown-label-border-width rgba(255, 255, 255, 0.16) inset;  $dropdown-inverted-label-hover-background-color: rgba(255, 255, 255, 0.12); $dropdown-inverted-label-hover-background-image: none; $dropdown-inverted-label-hover-text-color: rgba(255, 255, 255, 0.7);*/

$dropdown-inverted-label-background-color: rgba(255, 255, 255, 0.7);
$dropdown-inverted-label-background-image: none;
$dropdown-inverted-label-color: rgba(0, 0, 0, 1);
$dropdown-inverted-label-box-shadow: 0 0 0 $dropdown-label-border-width rgba(255, 255, 255, 0) inset;

$dropdown-inverted-label-hover-background-color: rgba(255, 255, 255, 0.9);
$dropdown-inverted-label-hover-background-image: none;
$dropdown-inverted-label-hover-text-color: $dropdown-inverted-label-color;

$dropdown-inverted-label-icon-opacity: 0.6;
$dropdown-inverted-label-icon-hover-opacity: 0.8;
