
//@-******************************  Video *******************************/

//--------------------  Element --------------------*/

//- Simple */
$embed-background: $light-grey !default;
$embed-transition-duration: 0.5s !default;
$embed-transition-easing: $default-easing !default;

//- Placeholder */
$embed-placeholder-underlay: $embed-background !default;

//- Placeholder Overlayed Background */
$embed-placeholder-background: radial-gradient(transparent 45%, rgba(0, 0, 0, 0.3)) !default;
$embed-placeholder-background-opacity: 0.5 !default;
$embed-placeholder-background-transition: opacity $embed-transition-duration $embed-transition-easing !default;

//- Icon */
$embed-icon-background: $very-strong-transparent-black !default;
$embed-icon-size: 6rem !default;
$embed-icon-transition:
  opacity $embed-transition-duration $embed-transition-easing,
  color $embed-transition-duration $embed-transition-easing
 !default;
$embed-icon-color: $white !default;
$embed-icon-shadow:
  0 2px 10px rgba(34, 36, 38, 0.2)
 !default;
$embed-icon-z-index: 10 !default;

//--------------------  States --------------------*/

//- Hover */
$embed-hover-placeholder-background: $embed-placeholder-background !default;
$embed-hover-placeholder-background-opacity: 1 !default;
$embed-hover-icon-color: $white !default;


//-------------------- Variations --------------------*/

//- Aspect Ratios */
$embed-square-ratio: (1/1) * 100% !default;
$embed-widescreen-ratio: (9/16) * 100% !default;
$embed-ultra-widescreen-ratio: (9/21) * 100% !default;
$embed-standard-ratio: (3/4) * 100% !default;
