@import "../globals/variables";

//@-******************************  Modal *******************************/
//- Image / Description */
$modal-image-width: '';
$modal-image-icon-size: 8rem;
$modal-image-vertical-align: start;

$modal-description-distance: 2em;
$modal-description-min-width: '';
$modal-description-width: auto;
$modal-description-vertical-align: start;

//- Modal Actions */
$modal-action-border: 1px solid $border-color;
$modal-action-background: $off-white;
$modal-action-padding: 1rem 1rem;
$modal-action-align: right;

$modal-button-distance: 0.75em;

$modal-background: $white;
$modal-border: none;
$modal-z-index: 1001;
$modal-border-radius: $default-border-radius;
$modal-transform-origin: 50% 25%;
$modal-box-shadow:
  1px 3px 3px 0 rgba(0, 0, 0, 0.2),
  1px 3px 15px 2px rgba(0, 0, 0, 0.2)
;

//- Close Icon */
$modal-close-opacity: 0.8;
$modal-close-size: 1.25em;
$modal-close-color: $white;

$modal-close-hitbox: 2.25rem;
$modal-close-distance: 0.25rem;
$modal-close-hit-box-offset: ($modal-close-hitbox - 1rem) / 2;
$modal-close-padding: $modal-close-hit-box-offset 0 0 0;
$modal-close-top: -($modal-close-distance + $modal-close-hitbox);
$modal-close-right: -($modal-close-distance + $modal-close-hitbox);

//- Header */
$modal-header-margin: 0;
$modal-header-vertical-padding: 1.25rem;
$modal-header-horizontal-padding: 1.5rem;
$modal-header-padding: $modal-header-vertical-padding $modal-header-horizontal-padding;
$modal-header-background: $white;
$modal-header-color: $dark-text-color;
$modal-header-font-size: $huge;
$modal-header-box-shadow: none;
$modal-header-font-weight: $bold;
$modal-header-font-family: $header-font;
$modal-header-border: 1px solid $border-color;

//- Content */
$modal-content-font-size: 1em;
$modal-content-padding: 1.5rem;
$modal-content-line-height: 1.4;
$modal-content-background: #FFFFFF;


//- Inner Close Position (Tablet/Mobile) */
$modal-inner-close-top: (strip-unit($modal-header-vertical-padding - $modal-close-hit-box-offset) + ($line-height - 1em));
$modal-inner-close-right: 1rem;
$modal-inner-close-color: $text-color;

//- Mobile Positions */
$modal-mobile-header-padding: 0.75rem 1rem;
$modal-mobile-content-padding: 1rem;
$modal-mobile-image-padding: 0 0 1rem;
$modal-mobile-description-padding: 1rem 0 ;
$modal-mobile-button-distance: 1rem;
$modal-mobile-action-padding: 1rem 1rem (1rem - $modal-mobile-button-distance);
$modal-mobile-image-icon-size: 5rem;
$modal-mobile-close-top: 0.5rem;
$modal-mobile-close-right: 0.5rem;

//- Responsive Widths */
$modal-mobile-width: 95%;
$modal-tablet-width: 88%;
$modal-computer-width: 850px;
$modal-large-monitor-width: 900px;
$modal-widescreen-monitor-width: 950px;

$modal-mobile-margin: 0 0 0 0;
$modal-tablet-margin: 0 0 0 0;
$modal-computer-margin: 0 0 0 0;
$modal-large-monitor-margin: 0 0 0 0;
$modal-widescreen-monitor-margin: 0 0 0 0;

$modal-full-screen-width: 95%;
$modal-full-screen-offset: (100% - $modal-full-screen-width) / 2;
$modal-full-screen-margin: 1em auto;

//- Coupling */
$modal-inverted-box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.2);

//--------------------  States --------------------*/

$modal-loading-z-index: -1;

//-------------------- Types --------------------*/

//- Basic */
$modal-basic-header-color: $white;
$modal-basic-color: $white;
$modal-basic-close-top: 1rem;
$modal-basic-close-right: 1.5rem;
$modal-basic-inner-close-color: $white;

$modal-basic-inverted-color: $text-color;
$modal-basic-inverted-header-color: $dark-text-color;

//- Aligned */
$modal-top-aligned-margin: 5vh;
$modal-mobile-top-aligned-margin: 1rem;
$modal-bottom-aligned-margin: $modal-top-aligned-margin;
$modal-mobile-bottom-aligned-margin: $modal-mobile-top-aligned-margin;

//- Scrolling Margin */
$modal-scrolling-margin: 1rem;
$modal-mobile-scrolling-margin: $modal-mobile-top-aligned-margin;

//- Scrolling Content */
$modal-scrolling-content-max-height: calc(80vh - 10rem);
$modal-overlay-fullscreen-scrolling-content-max-height: calc(100vh - 9.1rem);
$modal-overlay-fullscreen-scrolling-content-max-height-mobile: calc(100vh - 8.1rem);

//-------------------- Variations --------------------*/

//- Size Widths */
$modal-mini-ratio: 0.4;
$modal-tiny-ratio: 0.6;
$modal-small-ratio: 0.8;
$modal-large-ratio: 1.2;

//- Derived Responsive Sizes */
$modal-mini-header-size: 1.3em;
$modal-mini-mobile-width: $modal-mobile-width;
$modal-mini-tablet-width: ($modal-tablet-width * $modal-mini-ratio);
$modal-mini-computer-width: ($modal-computer-width * $modal-mini-ratio);
$modal-mini-large-monitor-width: ($modal-large-monitor-width * $modal-mini-ratio);
$modal-mini-widescreen-monitor-width: ($modal-widescreen-monitor-width * $modal-mini-ratio);

$modal-mini-mobile-margin: 0 0 0 0;
$modal-mini-tablet-margin: 0 0 0 0;
$modal-mini-computer-margin: 0 0 0 0;
$modal-mini-large-monitor-margin: 0 0 0 0;
$modal-mini-widescreen-monitor-margin: 0 0 0 0;

$modal-tiny-header-size: 1.3em;
$modal-tiny-mobile-width: $modal-mobile-width;
$modal-tiny-tablet-width: ($modal-tablet-width * $modal-tiny-ratio);
$modal-tiny-computer-width: ($modal-computer-width * $modal-tiny-ratio);
$modal-tiny-large-monitor-width: ($modal-large-monitor-width * $modal-tiny-ratio);
$modal-tiny-widescreen-monitor-width: ($modal-widescreen-monitor-width * $modal-tiny-ratio);

$modal-tiny-mobile-margin: 0 0 0 0;
$modal-tiny-tablet-margin: 0 0 0 0;
$modal-tiny-computer-margin: 0 0 0 0;
$modal-tiny-large-monitor-margin: 0 0 0 0;
$modal-tiny-widescreen-monitor-margin: 0 0 0 0;

$modal-small-header-size: 1.3em;
$modal-small-mobile-width: $modal-mobile-width;
$modal-small-tablet-width: ($modal-tablet-width * $modal-small-ratio);
$modal-small-computer-width: ($modal-computer-width * $modal-small-ratio);
$modal-small-large-monitor-width: ($modal-large-monitor-width * $modal-small-ratio);
$modal-small-widescreen-monitor-width: ($modal-widescreen-monitor-width * $modal-small-ratio);

$modal-small-mobile-margin: 0 0 0 0;
$modal-small-tablet-margin: 0 0 0 0;
$modal-small-computer-margin: 0 0 0 0;
$modal-small-large-monitor-margin: 0 0 0 0;
$modal-small-widescreen-monitor-margin: 0 0 0 0;

$modal-large-header-size: 1.6em;
$modal-large-mobile-width: $modal-mobile-width;
$modal-large-tablet-width: $modal-tablet-width;
$modal-large-computer-width: ($modal-computer-width * $modal-large-ratio);
$modal-large-large-monitor-width: ($modal-large-monitor-width * $modal-large-ratio);
$modal-large-widescreen-monitor-width: ($modal-widescreen-monitor-width * $modal-large-ratio);

$modal-large-mobile-margin: 0 0 0 0;
$modal-large-tablet-margin: 0 0 0 0;
$modal-large-computer-margin: 0 0 0 0;
$modal-large-large-monitor-margin: 0 0 0 0;
$modal-large-widescreen-monitor-margin: 0 0 0 0;

//-------------------- Inverted --------------------*/
$modal-inverted-background: rgba(0,0,0,.9);
$modal-inverted-close-color: $white;
$modal-inverted-header-color: $white;
$modal-inverted-header-background-color: $dark-text-color;
$modal-inverted-action-background: #191A1B;
$modal-inverted-action-border: 1px solid rgba(34, 36, 38, 0.85);
$modal-inverted-action-color: $white;
$modal-inverted-dimmer-close-color: rgba(0,0,0,.85);
