@import "../globals/variables";

//@-******************************  Nag *******************************/

//---------------  Collection ---------------*/

$nag-position: relative !default;
$nag-width: 100% !default;
$nag-z-index: 999 !default;
$nag-margin: 0 !default;

$nag-background: #555555 !default;
$nag-opacity: 0.95 !default;
$nag-min-height: 0 !default;
$nag-padding: 0.75em 1em !default;
$nag-line-height: 1em !default;
$nag-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2) !default;

$nag-font-size: 1rem !default;
$nag-text-align: center !default;
$nag-color: $text-color !default;

$nag-transition: 0.2s background ease !default;


//--------------- Elements ---------------*/

//- Title */
$nag-title-color: $white !default;
$nag-title-margin: 0 0.5em !default;

$nag-close-size: 1em !default;
$nag-close-margin: (-$nag-close-size / 2) 0 0 !default;
$nag-close-top: 50% !default;
$nag-close-right: 1em !default;
$nag-close-color: $white !default;
$nag-close-transition: opacity 0.2s ease !default;
$nag-close-opacity: 0.4 !default;


//--------------- States ---------------*/

//- Hover */
$nag-hover-background: $nag-background !default;
$nag-hover-opacity: 1 !default;

$nag-close-hover-opacity: 1 !default;

//---------------  Variations ---------------*/

//- Top / Bottom */
$nag-top: 0 !default;
$nag-bottom: 0 !default;
$nag-border-radius: $default-border-radius !default;
$nag-top-border-radius: 0 0 $nag-border-radius $nag-border-radius !default;
$nag-bottom-border-radius: $nag-border-radius $nag-border-radius 0 0 !default;

//- Inverted */
$nag-inverted-background: $dark-white !default;

//--------------- Plural ---------------*/

$nag-grouped-border-radius: 0 !default;

