@import "../globals/variables";

//@-******************************  Nag *******************************/

//---------------  Collection ---------------*/

$nag-position: relative;
$nag-width: 100%;
$nag-z-index: 999;
$nag-margin: 0;

$nag-background: #555555;
$nag-opacity: 0.95;
$nag-min-height: 0;
$nag-padding: 0.75em 1em;
$nag-line-height: 1em;
$nag-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

$nag-font-size: 1rem;
$nag-text-align: center;
$nag-color: $text-color;

$nag-transition: 0.2s background ease;


//--------------- Elements ---------------*/

//- Title */
$nag-title-color: $white;
$nag-title-margin: 0 0.5em;

$nag-close-size: 1em;
$nag-close-margin: (-$nag-close-size / 2) 0 0;
$nag-close-top: 50%;
$nag-close-right: 1em;
$nag-close-color: $white;
$nag-close-transition: opacity 0.2s ease;
$nag-close-opacity: 0.4;


//--------------- States ---------------*/

//- Hover */
$nag-hover-background: $nag-background;
$nag-hover-opacity: 1;

$nag-close-hover-opacity: 1;

//---------------  Variations ---------------*/

//- Top / Bottom */
$nag-top: 0;
$nag-bottom: 0;
$nag-border-radius: $default-border-radius;
$nag-top-border-radius: 0 0 $nag-border-radius $nag-border-radius;
$nag-bottom-border-radius: $nag-border-radius $nag-border-radius 0 0;

//- Inverted */
$nag-inverted-background: $dark-white;

//--------------- Plural ---------------*/

$nag-grouped-border-radius: 0;

