@import "../globals/variables";

//@-****************************** Progress *******************************/

//--------------------  Element --------------------*/

//- Label */
$progress-label-width: 100%;
$progress-label-height: 1.5em;
$progress-label-size: 1em;
$progress-label-position: absolute;
$progress-label-top: 100%;
$progress-label-left: 0;
$progress-label-right: auto;
$progress-label-bottom: auto;
$progress-label-offset: ($progress-label-height - 1.3em);
$progress-label-color: $text-color;
$progress-label-text-shadow: none;
$progress-label-font-weight: $bold;
$progress-label-text-align: center;
$progress-label-transition: color 0.4s $default-easing;

$progress-vertical-spacing: 1em;
$progress-margin: $progress-vertical-spacing 0 ($progress-label-height + $progress-vertical-spacing);
$progress-first-margin: 0 0 ($progress-label-height + $progress-vertical-spacing);
$progress-last-margin: 0 0 ($progress-label-height);

$progress-background: $strong-transparent-black;
$progress-border: none;
$progress-box-shadow: none;
$progress-padding: 0;
$progress-border-radius: $default-border-radius;

//- Bar */
$progress-bar-position: relative;
$progress-bar-height: 1.75em;
$progress-bar-background: #888888;
$progress-bar-border-radius: $progress-border-radius;
$progress-bar-transition-easing: $default-easing;
$progress-bar-transition-duration: $default-duration;
$progress-bar-transition:
  width $progress-bar-transition-duration $progress-bar-transition-easing,
  background-color $progress-bar-transition-duration $progress-bar-transition-easing
;
$progress-bar-initial-width: 0;
$progress-bar-min-width: 2em;

//- Progress Bar Label */
$progress-width: auto;
$progress-size: $relative-small;
$progress-position: absolute;
$progress-top: 50%;
$progress-right: 0.5em;
$progress-left: auto;
$progress-bottom: auto;
$progress-offset: -0.5em;
$progress-color: $inverted-light-text-color;
$progress-text-shadow: none;
$progress-font-weight: $bold;
$progress-text-align: left;

//-------------------- Types --------------------*/

$progress-indicating-first-color: #D95C5C;
$progress-indicating-second-color: #EFBC72;
$progress-indicating-third-color: #E6BB48;
$progress-indicating-fourth-color: #DDC928;
$progress-indicating-fifth-color: #B4D95C;
$progress-indicating-sixth-color: #66DA81;

$progress-indicating-first-label-color: $text-color;
$progress-indicating-second-label-color: $text-color;
$progress-indicating-third-label-color: $text-color;
$progress-indicating-fourth-label-color: $text-color;
$progress-indicating-fifth-label-color: $text-color;
$progress-indicating-sixth-label-color: $text-color;

$progress-inverted-indicating-first-label-color: $inverted-text-color;
$progress-inverted-indicating-second-label-color: $inverted-text-color;
$progress-inverted-indicating-third-label-color: $inverted-text-color;
$progress-inverted-indicating-fourth-label-color: $inverted-text-color;
$progress-inverted-indicating-fifth-label-color: $inverted-text-color;
$progress-inverted-indicating-sixth-label-color: $inverted-text-color;

//-------------------- States --------------------*/

//- Active */
$progress-active-pulse-color: $white;
$progress-active-pulse-max-opacity: 0.3;
$progress-active-pulse-duration: 2s;
$progress-active-min-width: $progress-bar-min-width;


//-------------------- Variations --------------------*/

//- Attached */
$progress-attached-background: transparent;
$progress-attached-height: 0.2rem;
$progress-attached-border-radius: $progress-border-radius;

//- Inverted */
$progress-inverted-background: $transparent-white;
$progress-inverted-border: none;
$progress-inverted-bar-background: $progress-bar-background;
$progress-inverted-color: $black;
$progress-inverted-label-color: $white;

//- Sizing */
$progress-tiny-bar-height: 0.5em;
$progress-small-bar-height: 1em;
$progress-large-bar-height: 2.5em;
$progress-big-bar-height: 3.5em;

//- Indeterminate */
$progress-indeterminate-pulse-color: $white;
$progress-indeterminate-pulse-duration: $progress-active-pulse-duration;
$progress-indeterminate-pulse-duration-slow: 4s;
$progress-indeterminate-pulse-duration-fast: 1s;
