@import "../globals/variables";

//@-****************************** Search *******************************/

//- Search Prompt */
$search-prompt-background: $input-background !default;
$search-prompt-vertical-padding: $input-vertical-padding !default;
$search-prompt-horizontal-padding: $input-horizontal-padding !default;
$search-prompt-line-height: $input-line-height !default;
$search-prompt-font-size: $relative-medium !default;
$search-prompt-padding: ($search-prompt-vertical-padding + ((1em - $search-prompt-line-height) / 2)) $search-prompt-horizontal-padding !default;
$search-prompt-border: 1px solid $border-color !default;
$search-prompt-border-radius: $circular-radius !default;
$search-prompt-color: $text-color !default;
$search-prompt-transition:
  background-color $default-duration $default-easing,
  color $default-duration $default-easing,
  box-shadow $default-duration $default-easing,
  border-color $default-duration $default-easing
 !default;
$search-prompt-box-shadow: 0 0 0 0 transparent inset !default;

//- Mobile */
$search-mobile-max-width: calc(100vw - 2rem) !default;

//- Result Box */
$search-results-width: 18em !default;
$search-results-background: #FFFFFF !default;
$search-results-distance: 0.5em !default;
$search-results-border-radius: $default-border-radius !default;
$search-results-border: 1px solid $solid-border-color !default;
$search-results-box-shadow: $floating-shadow !default;

//- Result */
$search-result-font-size: 1em !default;
$search-result-vertical-padding: $relative-tiny !default;
$search-result-horizontal-padding: $relative-large !default;
$search-result-padding: $search-result-vertical-padding $search-result-horizontal-padding !default;
$search-result-text-color: $text-color !default;
$search-result-line-height: 1.33 !default;
$search-result-divider: 1px solid $internal-border-color !default;
$search-result-last-divider: none !default;

//- Result Image */
$search-result-image-float: right !default;
$search-result-image-background: none !default;
$search-result-image-width: 5em !default;
$search-result-image-height: 3em !default;
$search-result-image-border-radius: 0.25em !default;
$search-result-image-margin: 0 6em 0 0 !default;

//- Result Content */
$search-result-title-font: $header-font !default;
$search-result-title-margin: -$header-line-height-offset 0 0 !default;
$search-result-title-font-weight: $bold !default;
$search-result-title-font-size: $relative-medium !default;
$search-result-title-color: $dark-text-color !default;

//- Description */
$search-result-description-font-size: $relative-small !default;
$search-result-description-distance: 0 !default;
$search-result-description-color: $light-text-color !default;

//- Price */
$search-result-price-float: right !default;
$search-result-price-color: $green !default;

//- Special Message */
$search-message-vertical-padding: 1em !default;
$search-message-horizontal-padding: 1em !default;
$search-message-header-font-size: $medium !default;
$search-message-header-font-weight: $bold !default;
$search-message-header-color: $text-color !default;
$search-message-description-distance: 0.25rem !default;
$search-message-description-font-size: 1em !default;
$search-message-description-color: $text-color !default;

//- All Results Link */
$search-action-border: none !default;
$search-action-background: $dark-white !default;
$search-action-padding: $relative-small $relative-medium !default;
$search-action-color: $text-color !default;
$search-action-font-weight: $bold !default;
$search-action-align: center !default;


//-****************************** States *******************************/

//- Focus */
$search-prompt-focus-background: $search-prompt-background !default;
$search-prompt-focus-border-color: $selected-border-color !default;
$search-prompt-focus-color: $selected-text-color !default;

//- Hover */
$search-result-hover-background: $off-white !default;
$search-action-hover-background: #E0E0E0 !default;

//- Loading */
$search-inverted-loader-fill-color: rgba(0, 0, 0, 0.15) !default;

//- Active Category */
$search-category-active-background: $dark-white !default;
$search-category-name-active-color: $text-color !default;

//- Active Result */
$search-result-active-border-left: $internal-border-color !default;
$search-result-active-background: $dark-white !default;
$search-result-active-box-shadow: none !default;
$search-result-active-title-color: $dark-text-color !default;
$search-result-active-description-color: $dark-text-color !default;
$search-results-z-index: 998 !default;


//-****************************** Types *******************************/

//- Selection */
$search-selection-prompt-border-radius: $default-border-radius !default;

$search-selection-close-top: 0 !default;
$search-selection-close-transition:
  color $default-duration $default-easing,
  opacity $default-duration $default-easing
 !default;
$search-selection-close-right: 0 !default;
$search-selection-close-icon-opacity: 0.8 !default;
$search-selection-close-icon-color: '' !default;
$search-selection-close-icon-hover-opacity: 1 !default;
$search-selection-close-icon-hover-color: $red !default;

$search-selection-close-icon-input-right: 1.85714em !default;

//- Category */
$search-category-background: $dark-white !default;
$search-category-box-shadow: none !default;
$search-category-divider: 1px solid $internal-border-color !default;
$search-category-transition:
  background $default-duration $default-easing,
  border-color $default-duration $default-easing
 !default;

$search-category-results-width: 28em !default;

$search-category-result-background: $white !default;
$search-category-result-left-border: 1px solid $border-color !default;
$search-category-result-divider: $search-result-divider !default;
$search-category-result-last-divider: none !default;
$search-category-result-padding: $search-result-padding !default;
$search-category-result-transition: $search-category-transition !default;

$search-category-name-width: 100px !default;
$search-category-name-background: transparent !default;
$search-category-name-font: $page-font !default;
$search-category-name-font-size: 1em !default;
$search-category-name-whitespace: nowrap !default;
$search-category-name-padding: 0.4em 1em !default;
$search-category-name-font-weight: $bold !default;
$search-category-name-color: $light-text-color !default;
