@import "../globals/variables";

//@-****************************** Slider Variables *******************************/

//--------------------  Element --------------------*/

$slider-height        : 1.5em;
$slider-hover-pointer  : auto;
$slider-padding       : 1em .5em;

//- Track */
$slider-track-height        : .4em;
$slider-track-position-top   : ($slider-height / 2) - ($slider-track-height / 2);
$slider-background         : #ccc;
$slider-track-border-radius  : 4px;
$slider-track-color         : $transparent-black;

//- Track Fill */
$slider-track-fill-height             : $slider-track-height;
$slider-track-fill-color              : $black;
$slider-track-fill-color-focus         : $black-hover;
$slider-inverted-track-fill-color      : $light-black;
$slider-inverted-track-fill-color-focus : $light-black-hover;
$slider-track-fill-border-radius       : $slider-track-border-radius;

//- Thumb */
$slider-thumb-height              : $slider-height;
$slider-thumb-border-radius        : 100%;
$slider-thumb-background          : $white $subtle-gradient;
$slider-thumb-shadow              : $subtle-shadow, 0 0 0 1px $border-color inset;
$slider-thumb-transition-duration  : 0.3s;
$slider-thumb-transition          : background $slider-thumb-transition-duration $default-easing;

//- Thumb Hover */
$slider-thumb-hover-pointer    : pointer;
$slider-thumb-hover-background : $white-hover $subtle-gradient;

//-------------------- States --------------------*/

//- Disabled */
$slider-disabled-opactiy        : .5;
$slider-disabled-track-fill-color : $slider-background;

//-------------------- Variations --------------------*/

//- Vertical */
$slider-vertical-padding : .5em 1em;

//- Labeled */
$slider-label-height  : $slider-height;
$slider-label-width   : 1px;
$slider-label-color   : $slider-background;

//- Hover */
$slider-hover-var-opacity                 : 0;
$slider-hover-var-hover-opacity            : 1;
$slider-hover-opacity-transition-duration  : 0.2s;
$slider-hover-opacity-transition          : opacity $slider-hover-opacity-transition-duration linear;

//- Sizing */
$slider-small-height            : 1em;
$slider-small-label-height       : $slider-small-height;
$slider-small-track-height       : 0.3em;
$slider-track-position-top-small  : ($slider-small-height / 2) - ($slider-small-track-height / 2);

$slider-large-height            : 2em;
$slider-large-label-height       : $slider-large-height;
$slider-large-track-height       : 0.5em;
$slider-track-position-top-large  : ($slider-large-height / 2) - ($slider-large-track-height / 2);

$slider-big-height              : 2.5em;
$slider-big-label-height         : $slider-big-height;
$slider-big-track-height         : 0.6em;
$slider-track-position-top-big    : ($slider-big-height / 2) - ($slider-big-track-height / 2);
