@import "../globals/variables";

//@-****************************** Sticky *******************************/

$sticky-transition-duration: $default-duration !default;
$sticky-transition: none !default;
$sticky-z-index: 800 !default;