@import "../globals/variables";

//@-****************************** Sticky *******************************/

$sticky-transition-duration: $default-duration;
$sticky-transition: none;
$sticky-z-index: 800;