@import "../globals/variables";

//@-****************************** Tab *******************************/

//- Loading */
$tab-loading-min-height: 250px;
$tab-loading-content-position: relative;
$tab-loading-content-offset: -10000px;

$tab-loader-distance-from-top: 50%;
$tab-loader-size: 2.5em;
