@import "../globals/variables";

//@-****************************** Toast *******************************/

//- Container */
$toast-container-distance: $relative12px;

//- Toast */
$toast-width: 300px;
$toast-border-radius: $default-border-radius;
$toast-padding: $input-padding;
$toast-margin-bottom: 6px;
$toast-margin: 0 0 $toast-margin-bottom;
$toast-text-color: $inverted-text-color;
$toast-inverted-text-color: $text-color;

//- on Hover */
$toast-opacity-on-hover: 1;
$toast-cursor-on-hover: pointer;

//- Color variations */
$toast-info-color: $info-color;
$toast-warning-color: $warning-color;
$toast-error-color: $error-color;
$toast-success-color: $success-color;

//- Icon */
$toast-icon-content-padding: 3em;
$toast-icon-vertical-align: middle;
$toast-icon-font-size: 1.5em;

//- Content */
$toast-content-vertical-align: middle;

//- Progressbar Colors */
$toast-info-progress-color: darken($toast-info-color,15);
$toast-warning-progress-color: darken($toast-warning-color,15);
$toast-error-progress-color: darken($toast-error-color,15);
$toast-success-progress-color: darken($toast-success-color,15);

//- Close Icon */
$toast-close-top-distance: 0.3em;
$toast-close-right-distance: 0.3em;
$toast-close-opacity: 0.7;
$toast-close-transition: opacity $default-duration $default-easing;
