@import "../globals/variables";

//@-****************************** Transition *******************************/

$transition-default-easing: $default-easing !default;
$transition-default-fill: both !default;
$transition-default-duration: 300ms !default;

$transition-use3-d-acceleration: translateZ(0) !default;
$transition-backface-visibility: hidden !default;