$positive-border-color: #a3c293 !default;
$success-border-color: $positive-border-color !default;

$negative-border-color: #e0b4b4 !default;
$error-border-color: $negative-border-color !default;

$info-border-color: #a9d5de !default;
$warning-border-color: #c9ba9b !default;

$disabled-border-color: rgba(34, 36, 38, 0.5) !default;

$selected-border-color: rgba(34, 36, 38, 0.35) !default;
$selected-white-border-color: rgba(255, 255, 255, 0.8) !default;
$selected-solid-white-border-color: #999999 !default;
