$primary-color-active: saturate(darken($primary-color, 5), 15) !default;
$secondary-color-active: saturate(lighten($secondary-color, 5), 15) !default;
$light-primary-color-active: saturate(
  darken($light-primary-color, 5),
  15
) !default;
$light-secondary-color-active: saturate(
  lighten($light-secondary-color, 5),
  15
) !default;

$red-active: saturate(darken($red, 5), 15) !default;
$orange-active: saturate(darken($orange, 5), 15) !default;
$yellow-active: saturate(darken($yellow, 5), 15) !default;
$olive-active: saturate(darken($olive, 5), 15) !default;
$green-active: saturate(darken($green, 5), 15) !default;
$teal-active: saturate(darken($teal, 5), 15) !default;
$blue-active: saturate(darken($blue, 5), 15) !default;
$violet-active: saturate(darken($violet, 5), 15) !default;
$purple-active: saturate(darken($purple, 5), 15) !default;
$pink-active: saturate(darken($pink, 5), 15) !default;
$brown-active: saturate(darken($brown, 5), 15) !default;

$light-red-active: saturate(darken($light-red, 5), 15) !default;
$light-orange-active: saturate(darken($light-orange, 5), 15) !default;
$light-yellow-active: saturate(darken($light-yellow, 5), 15) !default;
$light-olive-active: saturate(darken($light-olive, 5), 15) !default;
$light-green-active: saturate(darken($light-green, 5), 15) !default;
$light-teal-active: saturate(darken($light-teal, 5), 15) !default;
$light-blue-active: saturate(darken($light-blue, 5), 15) !default;
$light-violet-active: saturate(darken($light-violet, 5), 15) !default;
$light-purple-active: saturate(darken($light-purple, 5), 15) !default;
$light-pink-active: saturate(darken($light-pink, 5), 15) !default;
$light-brown-active: saturate(darken($light-brown, 5), 15) !default;
$light-grey-active: saturate(darken($light-grey, 5), 15) !default;
$light-black-active: saturate(darken($full-black, 5), 15) !default;

//---  Emotive  ---*/
$positive-color-active: saturate(darken($positive-color, 5), 15) !default;
$negative-color-active: saturate(darken($negative-color, 5), 15) !default;

//---  Brand   ---*/
$facebook-active-color: saturate(darken($facebook-color, 5), 15) !default;
$twitter-active-color: saturate(darken($twitter-color, 5), 15) !default;
$google-plus-active-color: saturate(darken($google-plus-color, 5), 15) !default;
$linked-in-active-color: saturate(darken($linked-in-color, 5), 15) !default;
$youtube-active-color: saturate(darken($youtube-color, 5), 15) !default;
$instagram-active-color: saturate(darken($instagram-color, 5), 15) !default;
$pinterest-active-color: saturate(darken($pinterest-color, 5), 15) !default;
$vk-active-color: saturate(darken($vk-color, 5), 15) !default;
$telegram-active-color: saturate(darken($telegram-color, 5), 15) !default;
$whats-app-active-color: saturate(darken($whats-app-color, 5), 15) !default;

//---  Dark Tones  ---*/
$full-black-active: darken($full-black, 5) !default;
$black-active: darken($black, 5) !default;
$grey-active: darken($grey, 5) !default;

//---  Light Tones  ---*/
$white-active: darken($white, 5) !default;
$off-white-active: darken($off-white, 5) !default;
$dark-white-active: darken($dark-white, 5) !default;
