@import "../colors/all";

$primary-color-focus: saturate(darken($primary-color, 8), 20) !default;
$secondary-color-focus: saturate(lighten($secondary-color, 8), 20) !default;
$light-primary-color-focus: saturate(
  darken($light-primary-color, 8),
  20
) !default;
$light-secondary-color-focus: saturate(
  lighten($light-secondary-color, 8),
  20
) !default;

$red-focus: saturate(darken($red, 8), 20) !default;
$orange-focus: saturate(darken($orange, 8), 20) !default;
$yellow-focus: saturate(darken($yellow, 8), 20) !default;
$olive-focus: saturate(darken($olive, 8), 20) !default;
$green-focus: saturate(darken($green, 8), 20) !default;
$teal-focus: saturate(darken($teal, 8), 20) !default;
$blue-focus: saturate(darken($blue, 8), 20) !default;
$violet-focus: saturate(darken($violet, 8), 20) !default;
$purple-focus: saturate(darken($purple, 8), 20) !default;
$pink-focus: saturate(darken($pink, 8), 20) !default;
$brown-focus: saturate(darken($brown, 8), 20) !default;

$light-red-focus: saturate(darken($light-red, 8), 20) !default;
$light-orange-focus: saturate(darken($light-orange, 8), 20) !default;
$light-yellow-focus: saturate(darken($light-yellow, 8), 20) !default;
$light-olive-focus: saturate(darken($light-olive, 8), 20) !default;
$light-green-focus: saturate(darken($light-green, 8), 20) !default;
$light-teal-focus: saturate(darken($light-teal, 8), 20) !default;
$light-blue-focus: saturate(darken($light-blue, 8), 20) !default;
$light-violet-focus: saturate(darken($light-violet, 8), 20) !default;
$light-purple-focus: saturate(darken($light-purple, 8), 20) !default;
$light-pink-focus: saturate(darken($light-pink, 8), 20) !default;
$light-brown-focus: saturate(darken($light-brown, 8), 20) !default;
$light-grey-focus: saturate(darken($light-grey, 8), 20) !default;
$light-black-focus: saturate(darken($full-black, 8), 20) !default;

//---  Brand   ---*/
$facebook-focus-color: saturate(darken($facebook-color, 8), 20) !default;
$twitter-focus-color: saturate(darken($twitter-color, 8), 20) !default;
$google-plus-focus-color: saturate(darken($google-plus-color, 8), 20) !default;
$linked-in-focus-color: saturate(darken($linked-in-color, 8), 20) !default;
$youtube-focus-color: saturate(darken($youtube-color, 8), 20) !default;
$instagram-focus-color: saturate(darken($instagram-color, 8), 20) !default;
$pinterest-focus-color: saturate(darken($pinterest-color, 8), 20) !default;
$vk-focus-color: saturate(darken($vk-color, 8), 20) !default;
$telegram-focus-color: saturate(darken($telegram-color, 8), 20) !default;
$whats-app-focus-color: saturate(darken($whats-app-color, 8), 20) !default;

//---  Dark Tones  ---*/
$full-black-focus: lighten($full-black, 8) !default;
$black-focus: lighten($black, 8) !default;
$grey-focus: lighten($grey, 8) !default;

//---  Light Tones  ---*/
$white-focus: darken($white, 8) !default;
$off-white-focus: darken($off-white, 8) !default;
$dark-white-focus: darken($dark-white, 8) !default;

$positive-color-focus: saturate(darken($positive-color, 8), 20) !default;
$negative-color-focus: saturate(darken($negative-color, 8), 20) !default;
