@import "../colors/all";

$primary-color-hover: saturate(darken($primary-color, 5), 10) !default;
$secondary-color-hover: saturate(lighten($secondary-color, 5), 10) !default;
$light-primary-color-hover: saturate(
  darken($light-primary-color, 10),
  10
) !default;
$light-secondary-color-hover: saturate(
  lighten($light-secondary-color, 10),
  10
) !default;

$red-hover: saturate(darken($red, 5), 10) !default;
$orange-hover: saturate(darken($orange, 5), 10) !default;
$yellow-hover: saturate(darken($yellow, 5), 10) !default;
$olive-hover: saturate(darken($olive, 5), 10) !default;
$green-hover: saturate(darken($green, 5), 10) !default;
$teal-hover: saturate(darken($teal, 5), 10) !default;
$blue-hover: saturate(darken($blue, 5), 10) !default;
$violet-hover: saturate(darken($violet, 5), 10) !default;
$purple-hover: saturate(darken($purple, 5), 10) !default;
$pink-hover: saturate(darken($pink, 5), 10) !default;
$brown-hover: saturate(darken($brown, 5), 10) !default;
$grey-hover: saturate(darken($grey, 5), 10) !default;
$black-hover: saturate(darken($black, 5), 10) !default;

$light-red-hover: saturate(darken($light-red, 10), 10) !default;
$light-orange-hover: saturate(darken($light-orange, 10), 10) !default;
$light-yellow-hover: saturate(darken($light-yellow, 10), 10) !default;
$light-olive-hover: saturate(darken($light-olive, 10), 10) !default;
$light-green-hover: saturate(darken($light-green, 10), 10) !default;
$light-teal-hover: saturate(darken($light-teal, 10), 10) !default;
$light-blue-hover: saturate(darken($light-blue, 10), 10) !default;
$light-violet-hover: saturate(darken($light-violet, 10), 10) !default;
$light-purple-hover: saturate(darken($light-purple, 10), 10) !default;
$light-pink-hover: saturate(darken($light-pink, 10), 10) !default;
$light-brown-hover: saturate(darken($light-brown, 10), 10) !default;
$light-grey-hover: saturate(darken($light-grey, 10), 10) !default;
$light-black-hover: saturate(darken($full-black, 10), 10) !default;

//---  Emotive  ---*/
$positive-color-hover: saturate(darken($positive-color, 5), 10) !default;
$negative-color-hover: saturate(darken($negative-color, 5), 10) !default;

//---  Brand   ---*/
$facebook-hover-color: saturate(darken($facebook-color, 5), 10) !default;
$twitter-hover-color: saturate(darken($twitter-color, 5), 10) !default;
$google-plus-hover-color: saturate(darken($google-plus-color, 5), 10) !default;
$linked-in-hover-color: saturate(darken($linked-in-color, 5), 10) !default;
$youtube-hover-color: saturate(darken($youtube-color, 5), 10) !default;
$instagram-hover-color: saturate(darken($instagram-color, 5), 10) !default;
$pinterest-hover-color: saturate(darken($pinterest-color, 5), 10) !default;
$vk-hover-color: saturate(darken($vk-color, 5), 10) !default;
$telegram-hover-color: saturate(darken($telegram-color, 5), 10) !default;
$whats-app-hover-color: saturate(darken($whats-app-color, 5), 10) !default;

//---  Dark Tones  ---*/
$full-black-hover: lighten($full-black, 5) !default;
$black-hover: lighten($black, 5) !default;
$grey-hover: lighten($grey, 5) !default;

//---  Light Tones  ---*/
$white-hover: darken($white, 5) !default;
$off-white-hover: darken($off-white, 5) !default;
$dark-white-hover: darken($dark-white, 5) !default;
