@import '../../../../utils/all';
@import './main';
@import './sizes';

// This rounds $size values to the closest pixel then expresses that value in (r)em.
// This ensures all size values round to exact pixels
$mini-raw: (round($mini-size * $em-size) / $em-size);
$tiny-raw: (round($tiny-size * $em-size) / $em-size);
$small-raw: (round($small-size * $em-size) / $em-size);
$medium-raw: (round($medium-size * $em-size) / $em-size);
$large-raw: (round($large-size * $em-size) / $em-size);
$big-raw: (round($big-size * $em-size) / $em-size);
$huge-raw: (round($huge-size * $em-size) / $em-size);
$massive-raw: (round($massive-size * $em-size) / $em-size);

$mini: join-value-to-unit($mini-raw, rem) !default;
$tiny: join-value-to-unit($tiny-raw, rem) !default;
$small: join-value-to-unit($small-raw, rem) !default;
$medium: join-value-to-unit($medium-raw, rem) !default;
$large: join-value-to-unit($large-raw, rem) !default;
$big: join-value-to-unit($big-raw, rem) !default;
$huge: join-value-to-unit($huge-raw, rem) !default;
$massive: join-value-to-unit($massive-raw, rem) !default;

// em */
$relative-mini: join-value-to-unit(round($mini-size * strip-unit($em-size)) / strip-unit($em-size), em) !default;
$relative-tiny: join-value-to-unit($tiny-raw, em) !default;
$relative-small: join-value-to-unit($small-raw, em) !default;
$relative-medium: join-value-to-unit($medium-raw, em) !default;
$relative-large: join-value-to-unit($large-raw, em) !default;
$relative-big: join-value-to-unit($big-raw, em) !default;
$relative-huge: join-value-to-unit($huge-raw, em) !default;
$relative-massive: join-value-to-unit($massive-raw, em) !default;

// rem */
$absolute-mini: join-value-to-unit(round($mini-size * strip-unit($em-size)) / strip-unit($em-size), rem) !default;
$absolute-tiny: join-value-to-unit($tiny-raw, rem) !default;
$absolute-small: join-value-to-unit($small-raw, rem) !default;
$absolute-medium: join-value-to-unit($medium-raw, rem) !default;
$absolute-large: join-value-to-unit($large-raw, rem) !default;
$absolute-big: join-value-to-unit($big-raw, rem) !default;
$absolute-huge: join-value-to-unit($huge-raw, rem) !default;
$absolute-massive: join-value-to-unit($massive-raw, rem) !default;
