@import "../../themes/default/elements/container";

/*******************************
            Container
*******************************/

/* All Sizes */
.ui.container {
  &:not(.grid) {
    display: block;
  }
  max-width: $container-max-width !important;
}

/* Mobile */
@media only screen and (max-width: $largest-mobile-screen) {
  .ui.container {
    width: $container-mobile-width !important;
    margin-left: $container-mobile-gutter !important;
    margin-right: $container-mobile-gutter !important;
  }
  .ui.grid.container {
    width: $container-mobile-grid-width !important;
  }
  .ui.relaxed.grid.container {
    width: $container-mobile-relaxed-grid-width !important;
  }
  .ui.very.relaxed.grid.container {
    width: $container-mobile-very-relaxed-grid-width !important;
  }
}

/* Tablet */
@media only screen and (min-width: $tablet-breakpoint) and (max-width: $largest-tablet-screen) {
  .ui.container {
    width: $container-tablet-width;
    margin-left: $container-tablet-gutter !important;
    margin-right: $container-tablet-gutter !important;
  }
  .ui.grid.container {
    width: $container-tablet-grid-width !important;
  }
  .ui.relaxed.grid.container {
    width: $container-tablet-relaxed-grid-width !important;
  }
  .ui.very.relaxed.grid.container {
    width: $container-tablet-very-relaxed-grid-width !important;
  }
}

/* Small Monitor */
@media only screen and (min-width: $computer-breakpoint) and (max-width: $largest-small-monitor) {
  .ui.container {
    width: $container-computer-width;
    margin-left: $container-computer-gutter !important;
    margin-right: $container-computer-gutter !important;
  }
  .ui.grid.container {
    width: $container-computer-grid-width !important;
  }
  .ui.relaxed.grid.container {
    width: $container-computer-relaxed-grid-width !important;
  }
  .ui.very.relaxed.grid.container {
    width: $container-computer-very-relaxed-grid-width !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: $large-monitor-breakpoint) {
  .ui.container {
    width: $container-large-monitor-width;
    margin-left: $container-large-monitor-gutter !important;
    margin-right: $container-large-monitor-gutter !important;
  }
  .ui.grid.container {
    width: $container-large-monitor-grid-width !important;
  }
  .ui.relaxed.grid.container {
    width: $container-large-monitor-relaxed-grid-width !important;
  }
  .ui.very.relaxed.grid.container {
    width: $container-large-monitor-very-relaxed-grid-width !important;
  }
}

/*******************************
             Types
*******************************/

/* Text Container */
.ui.text.container {
  font-family: $container-text-font-family;
  max-width: $container-text-width !important;
  line-height: $container-text-line-height;
  font-size: $container-text-size;
}

/* Fluid */
.ui.fluid.container {
  width: 100%;
}

/*******************************
           Variations
*******************************/

.ui[class*="left aligned"].container {
  text-align: left;
}
.ui[class*="center aligned"].container {
  text-align: center;
}
.ui[class*="right aligned"].container {
  text-align: right;
}
.ui.justified.container {
  text-align: justify;
  hyphens: auto;
}
