@import "../../../utils/all";

@import "./fonts/all";

@import "./page/all";
@import "./scrollbars/all";
@import "./border/all";
@import "./box-shadows/all";
@import "./colors/all";
@import "./texts/all";
@import "./links/all";
@import "./headers/all";
@import "./icons/all";
@import "./shadows/all";
@import "./event-colors/all";
@import "./columns/all";
@import "./transitions/all";
@import "./responsive/all";
@import "./input/all";
@import "./loader/all";

@import "./abstract/colors-map";

//------------------- Paths --------------------*/
$theme-folder: './';
$image-path: "#{$theme-folder}/themes/default/assets/images";
$font-path: "#{$theme-folder}/themes/default/assets/fonts";
