@import "../colors/all";
@import "../texts/all";

$primary-header-color: darken($primary-text-color, 5) !default;
$secondary-header-color: darken($secondary-text-color, 5) !default;
$red-header-color: darken($red-text-color, 5) !default;
$olive-header-color: darken($olive-text-color, 5) !default;
$green-header-color: darken($green-text-color, 5) !default;
$yellow-header-color: darken($yellow-text-color, 5) !default;
$blue-header-color: darken($blue-text-color, 5) !default;
$teal-header-color: darken($teal-text-color, 5) !default;
$pink-header-color: darken($pink-text-color, 5) !default;
$violet-header-color: darken($violet-text-color, 5) !default;
$purple-header-color: darken($purple-text-color, 5) !default;
$orange-header-color: darken($orange-text-color, 5) !default;
$brown-header-color: darken($brown-text-color, 5) !default;
$grey-header-color: darken($grey-text-color, 5) !default;
$black-header-color: darken($black-text-color, 5) !default;
