@import "../globals/variables";

//@-****************************** Container *******************************/

//--------------------  Element --------------------*/

//- Minimum Gutter is used to determinethe maximum container width for a given device */

$container-max-width: 100%;

//- Devices */
$container-mobile-minimum-gutter: 0;
$container-mobile-width: auto;
$container-mobile-gutter: 1em;

$container-tablet-minimum-gutter: ($em-size  * 1);
$container-tablet-width: $tablet-breakpoint - ($container-tablet-minimum-gutter * 2) - $scrollbar-width;
$container-tablet-gutter: auto;

$container-computer-minimum-gutter: ($em-size  * 1.5);
$container-computer-width: $computer-breakpoint - ($container-computer-minimum-gutter * 2) - $scrollbar-width;
$container-computer-gutter: auto;

$container-large-monitor-minimum-gutter: ($em-size  * 2);
$container-large-monitor-width: $large-monitor-breakpoint - ($container-large-monitor-minimum-gutter * 2) - $scrollbar-width;
$container-large-monitor-gutter: auto;

//- Coupling (Add Negative Margin to container size) */
$container-grid-gutter-width: 2rem;
$container-relaxed-grid-gutter-width: 3rem;
$container-very-relaxed-grid-gutter-width: 5rem;

$container-mobile-grid-width: $container-mobile-width;
$container-tablet-grid-width:  calc(#{$container-tablet-width} + #{$container-grid-gutter-width});;
$container-computer-grid-width:  calc(#{$container-computer-width} + #{$container-grid-gutter-width});;
$container-large-monitor-grid-width:  calc(#{$container-large-monitor-width} + #{$container-grid-gutter-width});;

$container-mobile-relaxed-grid-width: $container-mobile-width;
$container-tablet-relaxed-grid-width:  calc(#{$container-tablet-width} + #{$container-relaxed-grid-gutter-width});;
$container-computer-relaxed-grid-width:  calc(#{$container-computer-width} + #{$container-relaxed-grid-gutter-width});;
$container-large-monitor-relaxed-grid-width:  calc(#{$container-large-monitor-width} + #{$container-relaxed-grid-gutter-width});;

$container-mobile-very-relaxed-grid-width: $container-mobile-width;
$container-tablet-very-relaxed-grid-width:  calc(#{$container-tablet-width} + #{$container-very-relaxed-grid-gutter-width});;
$container-computer-very-relaxed-grid-width:  calc(#{$container-computer-width} + #{$container-very-relaxed-grid-gutter-width});;
$container-large-monitor-very-relaxed-grid-width:  calc(#{$container-large-monitor-width} + #{$container-very-relaxed-grid-gutter-width});;

//--------------------  Types --------------------*/

//- Text */
$container-text-width: 700px;
$container-text-font-family: $page-font;
$container-text-line-height: 1.5;
$container-text-size: $large;
