@import "../globals/variables";

//@-****************************** Divider *******************************/

//--------------------  Element --------------------*/

$divider-margin: 1rem 0;

$divider-highlight-width: 1px;
$divider-highlight-color: $white-border-color;

$divider-shadow-width: 1px;
$divider-shadow-color: $border-color;

//- Text */
$divider-letter-spacing: 0.05em;
$divider-font-weight: $bold;
$divider-color: $dark-text-color;
$divider-text-transform: uppercase;

//--------------------  Coupling --------------------*/

//- Icon */
$divider-icon-size: 1rem;
$divider-icon-margin: 0;


//-******************************  Variations *******************************/

//- Horizontal / Vertical */
$divider-horizontal-margin: '';
$divider-in-horizontal-position-margin: 1em;
$divider-horizontal-ruler-offset: calc(-50% - #{$divider-in-horizontal-position-margin});

$divider-vertical-margin: 1rem;
$divider-vertical-height: calc(100% - #{$divider-vertical-margin});

//- Inverted */
$divider-inverted-text-color: $white;
$divider-inverted-highlight-color: rgba(255, 255, 255, 0.15);
$divider-inverted-shadow-color: $border-color;

//- Section */
$divider-section-margin: 2rem;

//- Sizes */
$divider-medium: 1rem;
