@import "../globals/variables";

//@-******************************  Icon *******************************/

//---------------  Font Files ---------------*/

//- Solid Icons */
$icon-font-name: 'icons';
$icon-src:
  url("#{$font-path}/#{$icon-font-name}.eot?#iefix") format('embedded-opentype'),
  url("#{$font-path}/#{$icon-font-name}.woff2") format('woff2'),
  url("#{$font-path}/#{$icon-font-name}.woff") format('woff'),
  url("#{$font-path}/#{$icon-font-name}.ttf") format('truetype'),
  url("#{$font-path}/#{$icon-font-name}.svg#icons") format('svg')
;
$icon-fallback-src: url("#{$font-path}/#{$icon-font-name}.eot");

//- Outline Icons */
$icon-import-outline-icons: true;
$icon-outline-font-name: 'outline-icons';
$icon-outline-src:
  url("#{$font-path}/#{$icon-outline-font-name}.eot?#iefix") format('embedded-opentype'),
  url("#{$font-path}/#{$icon-outline-font-name}.woff2") format('woff2'),
  url("#{$font-path}/#{$icon-outline-font-name}.woff") format('woff'),
  url("#{$font-path}/#{$icon-outline-font-name}.ttf") format('truetype'),
  url("#{$font-path}/#{$icon-outline-font-name}.svg#icons") format('svg')
;
$icon-outline-fallback-src: url("#{$font-path}/#{$icon-outline-font-name}.eot");



//- Brand Icons */
$icon-import-brand-icons: true;
$icon-brand-font-name: 'brand-icons';
$icon-brand-src:
  url("#{$font-path}/#{$icon-brand-font-name}.eot?#iefix") format('embedded-opentype'),
  url("#{$font-path}/#{$icon-brand-font-name}.woff2") format('woff2'),
  url("#{$font-path}/#{$icon-brand-font-name}.woff") format('woff'),
  url("#{$font-path}/#{$icon-brand-font-name}.ttf") format('truetype'),
  url("#{$font-path}/#{$icon-brand-font-name}.svg#icons") format('svg')
;
$icon-brand-fallback-src: url("#{$font-path}/#{$icon-brand-font-name}.eot");


//---------------  Definition ---------------*/

//- Icon Variables */
$icon-opacity: 1;
$icon-width: $icon-width;
$icon-height: 1em;
$icon-distance-from-text: 0.25rem;


//- Variations */
$icon-link-opacity: 0.8;
$icon-link-duration: 0.3s;
$icon-loading-duration: 2s;

$icon-circular-size: 2em;
$icon-circular-padding: 0.5em 0;
$icon-circular-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;

$icon-bordered-size: 2em;
$icon-bordered-vertical-padding: (($icon-bordered-size - $icon-height) / 2);
$icon-bordered-horizontal-padding: 0;
$icon-bordered-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset;

$icon-corner-size: 0.45em;
$icon-corner-stroke: 1px;
$icon-corner-shadow:
  -$icon-corner-stroke -$icon-corner-stroke 0 $white,
   $icon-corner-stroke -$icon-corner-stroke 0 $white,
  -$icon-corner-stroke  $icon-corner-stroke 0 $white,
   $icon-corner-stroke  $icon-corner-stroke 0 $white
;
$icon-corner-inverted-shadow:
  -$icon-corner-stroke -$icon-corner-stroke 0 $black,
   $icon-corner-stroke -$icon-corner-stroke 0 $black,
  -$icon-corner-stroke  $icon-corner-stroke 0 $black,
   $icon-corner-stroke  $icon-corner-stroke 0 $black
;

$icon-mini: 0.4em;
$icon-tiny: 0.5em;
$icon-small: 0.75em;
$icon-medium: 1em;
$icon-large: 1.5em;
$icon-big: 2em;
$icon-huge: 4em;
$icon-massive: 8em;
