@import "../globals/variables";

//@-******************************  Loader *******************************/

//- Some global loader styles defined in site.variables */
// $loader-speed
// $loader-line-width
// $loader-fill-color
// $loader-line-color
// $inverted-loader-fill-color
// $inverted-loader-line-color

//-------------------- Standard --------------------*/

$loader-top-offset: 50%;
$loader-left-offset: 50%;

$loader-shape-border-color: $loader-line-color;
$loader-inverted-shape-border-color: $inverted-loader-line-color;

//-------------------- Types --------------------*/

//- Text */
$loader-text-distance: $relative-mini;
$loader-text-color: $text-color;
$loader-inverted-text-color: $inverted-text-color;


//-------------------- States --------------------*/

$loader-indeterminate-direction: reverse;
$loader-indeterminate-speed: (2 * $loader-speed);

//-------------------- Variations --------------------*/

$loader-inline-vertical-align: middle;
$loader-inline-margin: 0;

//- Exact Sizes (Avoids Rounding Errors) */
$loader-mini    : $_14px;
$loader-tiny    : $_16px;
$loader-small   : $_24px;
$loader-medium  : $_32px;
$loader-large   : $_48px;
$loader-big     : $_52px;
$loader-huge    : $_58px;
$loader-massive : $_64px;

$loader-mini-offset: 0 0 0 (-$loader-mini / 2);
$loader-tiny-offset: 0 0 0 (-$loader-tiny / 2);
$loader-small-offset: 0 0 0 (-$loader-small / 2);
$loader-medium-offset: 0 0 0 (-$loader-medium / 2);
$loader-large-offset: 0 0 0 (-$loader-large / 2);
$loader-big-offset: 0 0 0 (-$loader-big / 2);
$loader-huge-offset: 0 0 0 (-$loader-huge / 2);
$loader-massive-offset: 0 0 0 (-$loader-massive / 2);

$loader-tiny-font-size: $relative-tiny;
$loader-mini-font-size: $relative-mini;
$loader-small-font-size: $relative-small;
$loader-medium-font-size: $relative-medium;
$loader-large-font-size: $relative-large;
$loader-big-font-size: $relative-big;
$loader-huge-font-size: $relative-huge;
$loader-massive-font-size: $relative-massive;
