//****************************** Advertisement *******************************/
@import '../globals/site';

$margin: 1em 0 !default;
$overflow: hidden !default;

$testBackground: $lightBlack !default;
$testColor: $white !default;
$testFontWeight: $bold !default;
$testText: 'Ad' !default;
$testFontSize: $relativeMedium !default;
$testMobileFontSize: $relativeTiny !default;
