//****************************** Card *******************************/
@import "../globals/variables";

//------------------- View --------------------*/

// Shadow */
$card-shadow-distance: 1px !default;
$card-shadow-box-shadow: 0 $card-shadow-distance 3px 0 $solid-border-color !default;

// Card */
$card-font-family: $page-font !default;
$card-display: flex !default;
$card-background: $white !default;
$card-border-radius: $default-border-radius !default;
$card-margin: 1em 0 !default;
$card-min-height: 0 !default;
$card-padding: 0 !default;
$card-width: 290px !default;
$card-border-width: 1px !default;
$card-border-shadow: 0 0 0 $card-border-width $solid-border-color !default;
$card-box-shadow: $card-shadow-box-shadow, $card-border-shadow !default;
$card-border: none !default;
$card-z-index: "" !default;
$card-transition: box-shadow $default-duration $default-easing,
  transform $default-duration $default-easing !default;

// Card Group */
$card-horizontal-spacing: 1em !default;
$card-row-spacing: 1.75em !default;

$card-group-margin: (-$card-row-spacing / 2) (-$card-horizontal-spacing / 2) !default;
$card-group-super-display: flex !default;

$card-group-float: none !default;
$card-group-display: flex !default;
$card-group-card-margin: ($card-row-spacing / 2) ($card-horizontal-spacing / 2) !default;

// Consecutive Cards */
$card-consecutive-group-distance: ($card-row-spacing / 2) !default;

//------------------- Content --------------------*/

// Image */
$card-image-background: $transparent-black !default;
$card-image-padding: 0 !default;
$card-image-border: none !default;
$card-image-box-shadow: none !default;
$card-image-border: none !default;

// Content */
$card-content-divider: $card-border-width solid $internal-border-color !default;
$card-content-margin: 0 !default;
$card-content-background: none !default;
$card-content-padding: 1em 1em !default;
$card-content-font-size: 1em !default;
$card-content-border-radius: 0 !default;
$card-content-box-shadow: none !default;
$card-content-border: none !default;

// Header */
$card-header-margin: "" !default;
$card-header-font-weight: $bold !default;
$card-header-font-size: $relative-big !default;
$card-header-line-height-offset: -($line-height - 1em) / 2 !default;
$card-header-color: $dark-text-color !default;

// Metadata */
$card-meta-font-size: $relative-medium !default;
$card-meta-spacing: 0.3em !default;
$card-meta-color: $light-text-color !default;

// Icons */
$card-action-opacity: 0.75 !default;
$card-action-hover-opacity: 1 !default;
$card-action-transition: color $default-duration $default-easing !default;

$card-star-color: #ffb70a !default;
$card-star-active-color: #ffe623 !default;

$card-like-color: #ff2733 !default;
$card-like-active-color: #ff2733 !default;

// Links */
$card-content-link-color: "" !default;
$card-content-link-hover-color: "" !default;
$card-content-link-transition: color $default-duration $default-easing !default;

$card-header-link-color: $card-header-color !default;
$card-header-link-hover-color: $link-hover-color !default;

$card-meta-link-color: $light-text-color !default;
$card-meta-link-hover-color: $text-color !default;

// Description */
$card-description-distance: 0.5em !default;
$card-description-color: rgba(0, 0, 0, 0.68) !default;

// Content Image */
$card-content-image-width: "" !default;
$card-content-image-vertical-align: middle !default;

// Avatar Image */
$card-avatar-size: 2em !default;
$card-avatar-border-radius: $circular-radius !default;

// Paragraph */
$card-paragraph-distance: 0.5em !default;

// Dimmer */
$card-dimmer-z-index: 10 !default;
$card-dimmer-color: "" !default;

// Additional Content */
$card-extra-divider: 1px solid rgba(0, 0, 0, 0.05) !default;
$card-extra-background: none !default;
$card-extra-position: static !default;
$card-extra-width: auto !default;
$card-extra-top: 0 !default;
$card-extra-left: 0 !default;
$card-extra-margin: 0 0 !default;
$card-extra-padding: 0.75em 1em !default;
$card-extra-box-shadow: none !default;
$card-extra-color: $light-text-color !default;
$card-extra-transition: color $default-duration $default-easing !default;

// Extra Links */
$card-extra-link-color: $unselected-text-color !default;
$card-extra-link-hover-color: $link-hover-color !default;

// Buttons */
$card-button-margin: 0 (-$card-border-width) !default;
$card-button-width: calc(100% + #{$card-border-width * 2}) !default;

//-------------------  Variations --------------------*/

// Link */
$card-link-hover-background: $white !default;
$card-link-hover-border: $card-border !default;
$card-link-hover-z-index: 5 !default;
$card-link-hover-raise-distance: 3px !default;
$card-link-hover-transform: translateY(
  -$card-link-hover-raise-distance
) !default;

$card-shadow-hover-box-shadow: 0 $card-shadow-distance
  $card-link-hover-raise-distance 0 $solid-selected-border-color !default;
$card-link-hover-box-shadow: $card-shadow-hover-box-shadow, $card-border-shadow !default;

// Horizontal */
$card-horizontal-min-width: 400px !default;
$card-horizontal-width: 400px !default;
$card-horizontal-image-width: 150px !default;

// Raised */
$card-raised-shadow: $card-border-shadow, $floating-shadow !default;
$card-raised-shadow-hover: $card-border-shadow, $floating-shadow-hover !default;

// Card Count */
$card-wide-spacing: 1em !default;
$card-spacing: 0.75em !default;
$card-small-spacing: 0.5em !default;

$card-one-spacing: 0 !default;
$card-two-spacing: $card-wide-spacing !default;
$card-three-spacing: $card-wide-spacing !default;
$card-four-spacing: $card-spacing !default;
$card-five-spacing: $card-spacing !default;
$card-six-spacing: $card-spacing !default;
$card-seven-spacing: $card-small-spacing !default;
$card-eight-spacing: $card-small-spacing !default;
$card-nine-spacing: $card-small-spacing !default;
$card-ten-spacing: $card-small-spacing !default;

$card-one: $one-column !default;
$card-one-offset: 0 !default;
$card-two: calc(#{$two-column} - #{$card-two-spacing * 2}) !default;
$card-two-offset: -$card-two-spacing !default;
$card-three: calc(#{$three-column} - #{$card-three-spacing * 2}) !default;
$card-three-offset: -$card-three-spacing !default;
$card-four: calc(#{$four-column} - #{$card-four-spacing * 2}) !default;
$card-four-offset: -$card-four-spacing !default;
$card-five: calc(#{$five-column} - #{$card-five-spacing * 2}) !default;
$card-five-offset: -$card-five-spacing !default;
$card-six: calc(#{$six-column} - #{$card-six-spacing * 2}) !default;
$card-six-offset: -$card-six-spacing !default;
$card-seven: calc(#{$seven-column} - #{$card-seven-spacing * 2}) !default;
$card-seven-offset: -$card-seven-spacing !default;
$card-eight: calc(#{$eight-column} - #{$card-seven-spacing * 2}) !default;
$card-eight-offset: -$card-seven-spacing !default;
$card-nine: calc(#{$nine-column} - #{$card-nine-spacing * 2}) !default;
$card-nine-offset: -$card-nine-spacing !default;
$card-ten: calc(#{$ten-column} - #{$card-ten-spacing * 2}) !default;
$card-ten-offset: -$card-ten-spacing !default;

// Stackable */
$card-stackable-row-spacing: 1em !default;
$card-stackable-spacing: 1em !default;
$card-stackable-margin: calc(
  #{$one-column} - #{$card-stackable-spacing * 2}
) !default;

// Sizes */
$card-medium: 1em !default;

// Colored */
$card-colored-shadow-distance: 2px !default;

// Inverted */
$card-inverted-background: $black !default;
$card-inverted-content-divider: $card-border-width solid
  rgba(255, 255, 255, 0.15) !default;
$card-inverted-header-color: $inverted-text-color !default;
$card-inverted-description-color: $inverted-muted-text-color !default;
$card-inverted-meta-color: $inverted-light-text-color !default;
$card-inverted-meta-link-color: $inverted-light-text-color !default;
$card-inverted-meta-link-hover-color: $inverted-hovered-text-color !default;
$card-inverted-extra-color: $inverted-light-text-color !default;
$card-inverted-extra-link-color: $inverted-unselected-text-color !default;
$card-inverted-extra-divider: 1px solid rgba(255, 255, 255, 0.15) !default;
$card-inverted-link-hover-background: $black !default;
$card-inverted-box-shadow: 0 $card-shadow-distance 3px 0
    $solid-white-border-color,
  0 0 0 $card-border-width $solid-white-border-color !default;
