@import "../globals/variables";

//@-****************************** Advertisement *******************************/

$ad-margin: 1em 0;
$ad-overflow: hidden;

$ad-test-background: $light-black;
$ad-test-color: $white;
$ad-test-font-weight: $bold;
$ad-test-text: 'Ad';
$ad-test-font-size: $relative-medium;
$ad-test-mobile-font-size: $relative-tiny;
