
//@-****************************** Comments *******************************/


//--------------------  View --------------------*/

$comment-max-width: 650px !default;
$comment-super-margin: 1.5em 0 !default;

//-------------------- Elements --------------------*/

//- Comment */
$comment-background: none !default;
$comment-margin: 0.5em 0 0 !default;
$comment-padding: 0.5em 0 0 !default;
$comment-divider: none !default;
$comment-border: none !default;
$comment-line-height: 1.2 !default;
$comment-first-margin: 0 !default;
$comment-first-padding: 0 !default;

//- Nested Comment */
$comment-nested-comments-margin: 0 0 0.5em 0.5em !default;
$comment-nested-comments-padding: 1em 0 1em 1em !default;

$comment-nested-divider: none !default;
$comment-nested-border: none !default;
$comment-nested-background: none !default;

//- Avatar */
$comment-avatar-display: block !default;
$comment-avatar-float: left !default;
$comment-avatar-width: 2.5em !default;
$comment-avatar-height: auto !default;
$comment-avatar-spacing: 1em !default;
$comment-avatar-margin: ($comment-line-height - 1em) 0 0 !default;
$comment-avatar-border-radius: 0.25rem !default;

//- Content */
$comment-content-margin: $comment-avatar-width + $comment-avatar-spacing !default;

//- Author */
$comment-author-font-size: 1em !default;
$comment-author-color: $text-color !default;
$comment-author-hover-color: $link-hover-color !default;
$comment-author-font-weight: $bold !default;

//- Metadata */
$comment-metadata-display: inline-block !default;
$comment-metadata-font-size: 0.875em !default;
$comment-metadata-spacing: 0.5em !default;
$comment-metadata-content-spacing: 0.5em !default;
$comment-metadata-color: $light-text-color !default;

//- Text */
$comment-text-font-size: 1em !default;
$comment-text-margin: 0.25em 0 0.5em !default;
$comment-text-word-wrap: break-word !default;
$comment-text-line-height: 1.3 !default;

//- Actions */
$comment-action-font-size: 0.875em !default;
$comment-action-content-distance: 0.75em !default;
$comment-action-link-color: $unselected-text-color !default;
$comment-action-link-hover-color: $hovered-text-color !default;

//- Reply */
$comment-super-reply-distance: 1em !default;
$comment-reply-height: 12em !default;
$comment-reply-font-size: 1em !default;

$comment-reply-distance: $comment-super-reply-distance !default;

//-------------------- Variations --------------------*/

//- Threaded */
$comment-threaded-margin: -1.5em 0 -1em  ($comment-avatar-width / 2) !default;
$comment-threaded-padding: 3em 0 2em 2.25em !default;
$comment-threaded-box-shadow: -1px 0 0 $border-color !default;


//- Minimal */
$comment-minimal-action-position: absolute !default;
$comment-minimal-action-top: 0 !default;
$comment-minimal-action-right: 0 !default;
$comment-minimal-action-left: auto !default;

$comment-minimal-transition-delay: 0.1s !default;
$comment-minimal-easing: $default-easing !default;
$comment-minimal-duration: 0.2s !default;
$comment-minimal-transition: opacity $comment-minimal-duration $comment-minimal-easing !default;
