
//@-******************************  Feed *******************************/

//-------------------- Feed --------------------*/

$feed-margin: 1em 0 !default;

//-------------------- Elements --------------------*/

//- Event */
$feed-event-width: 100% !default;
$feed-event-padding: $_3px 0 !default;
$feed-event-margin: 0 !default;
$feed-event-background: none !default;
$feed-event-divider: none !default;

//- Event Label */
$feed-label-width: 2.5em !default;
$feed-label-height: auto !default;
$feed-label-align-self: stretch !default;
$feed-label-text-align: left !default;

//- Icon Label */
$feed-icon-label-opacity: 1 !default;
$feed-icon-label-width: 100% !default;
$feed-icon-label-size: 1.5em !default;
$feed-icon-label-padding: 0.25em !default;
$feed-icon-label-background: none !default;
$feed-icon-label-border-radius: none !default;
$feed-icon-label-border: none !default;
$feed-icon-label-color: rgba(0, 0, 0, 0.6) !default;

//- Image Label */
$feed-image-label-width: 100% !default;
$feed-image-label-height: auto !default;
$feed-image-label-border-radius: $circular-radius !default;

//- Content w/ Label */
$feed-labeled-content-margin: 0.5em 0 $relative5px $relative-large !default;
$feed-last-labeled-content-padding: 0 !default;

//- Content */
$feed-content-align-self: stretch !default;
$feed-content-text-align: left !default;
$feed-content-word-wrap: break-word !default;

//- Date */
$feed-date-margin: -0.5rem 0 0 !default;
$feed-date-padding: 0 !default;
$feed-date-color: $light-text-color !default;
$feed-date-font-size: $relative-medium !default;
$feed-date-font-weight: $normal !default;
$feed-date-font-style: $normal !default;

//- Summary */
$feed-summary-margin: 0 !default;
$feed-summary-font-size: $relative-medium !default;
$feed-summary-font-weight: $bold !default;
$feed-summary-color: $text-color !default;

//- Summary Image */
$feed-summary-image-width: auto !default;
$feed-summary-image-height: 10em !default;
$feed-summary-image-margin: -0.25em 0.25em 0 0 !default;
$feed-summary-image-vertical-align: middle !default;
$feed-summary-image-border-radius: 0.25em !default;

//- Summary Date */
$feed-summary-date-display: inline-block !default;
$feed-summary-date-float: none !default;
$feed-summary-date-margin: 0 0 0 0.5em !default;
$feed-summary-date-padding: 0 !default;
$feed-summary-date-font-size: $relative-tiny !default;
$feed-summary-date-font-weight: $feed-date-font-weight !default;
$feed-summary-date-font-style: $feed-date-font-style !default;
$feed-summary-date-color: $feed-date-color !default;

//- User */
$feed-user-font-weight: $bold !default;
$feed-user-distance: 0 !default;
$feed-user-image-width: $feed-summary-image-width !default;
$feed-user-image-height: $feed-summary-image-height !default;
$feed-user-image-margin: $feed-summary-image-margin !default;
$feed-user-image-vertical-align: $feed-summary-image-vertical-align !default;

//- Extra Summary Data */
$feed-extra-margin: 0.5em 0 0 !default;
$feed-extra-background: none !default;
$feed-extra-padding: 0 !default;
$feed-extra-color: $text-color !default;

//- Extra Images */
$feed-extra-image-margin: 0 0.25em 0 0 !default;
$feed-extra-image-width: 6em !default;

//- Extra Text */
$feed-extra-text-padding: 0 !default;
$feed-extra-text-pointer: none !default;
$feed-extra-text-font-size: $relative-medium !default;
$feed-extra-text-line-height: $line-height !default;
$feed-extra-text-max-width: 500px !default;

//- Metadata Group */
$feed-metadata-display: inline-block !default;
$feed-metadata-font-size: $relative-tiny !default;
$feed-metadata-margin: 0.5em 0 0 !default;
$feed-metadata-background: none !default;
$feed-metadata-border: none !default;
$feed-metadata-border-radius: 0 !default;
$feed-metadata-box-shadow: none !default;
$feed-metadata-padding: 0 !default;
$feed-metadata-color: rgba(0, 0, 0, 0.6) !default;

$feed-metadata-element-spacing: 0.75em !default;

//- Like */
$feed-like-color: '' !default;
$feed-like-hover-color: #FF2733 !default;
$feed-like-active-color: #EF404A !default;
$feed-like-transition: 0.2s color ease !default;

//- Metadata Divider */
$feed-metadata-divider: '' !default;
$feed-metadata-divider-color: rgba(0, 0, 0, 0.2) !default;
$feed-metadata-divider-offset: -1em !default;

$feed-metadata-action-cursor: pointer !default;
$feed-metadata-action-opacity: 1 !default;
$feed-metadata-action-color: rgba(0, 0, 0, 0.5) !default;
$feed-metadata-action-transition: color $default-duration $default-easing !default;

$feed-metadata-action-hover-color: $selected-text-color !default;

//-------------------- Variations --------------------*/
