@import "../globals/variables";

//@-******************************  Statistic *******************************/

//--------------------  View --------------------*/

$statistic-vertical-margin: 1em;
$statistic-margin: $statistic-vertical-margin 0;
$statistic-text-align: center;
$statistic-max-width: none;

//- Group */
$statistic-horizontal-spacing: 1.5em;
$statistic-row-spacing: 1em;
$statistic-group-margin: $statistic-vertical-margin -$statistic-horizontal-spacing -$statistic-row-spacing;

//- Group Element */
$statistic-element-margin: 0 $statistic-horizontal-spacing $statistic-row-spacing;
$statistic-element-max-width: $statistic-max-width;

//--------------------  Content --------------------*/

//- Value */
$statistic-value-font: $page-font;
$statistic-value-font-weight: $normal;
$statistic-value-line-height: 1em;
$statistic-value-color: $black;
$statistic-value-text-transform: uppercase;

//- Label */
$statistic-label-size: $relative-medium;
$statistic-top-label-distance: 0;
$statistic-bottom-label-distance: 0;
$statistic-label-font: $header-font;
$statistic-label-font-weight: $bold;
$statistic-label-color: $text-color;
$statistic-label-line-height: $relative-large;
$statistic-label-text-transform: uppercase;

//- Text */
$statistic-text-value-line-height: 1em;
$statistic-text-value-min-height: 2em;
$statistic-text-value-font-weight: $bold;

//- Label Image */
$statistic-image-height: 3rem;
$statistic-image-vertical-align: baseline;

//-------------------- Types --------------------*/

$statistic-horizontal-group-element-margin: 1em 0;
$statistic-horizontal-label-distance: 0.75em;

//-------------------- Variations --------------------*/

//- Floated */
$statistic-left-floated-margin: 0 2em 1em 0;
$statistic-right-floated-margin: 0 0 1em 2em;

//- Inverted */
$statistic-inverted-value-color: $white;
$statistic-inverted-label-color: $inverted-text-color;

//- Item Width */
$statistic-item-group-margin: 0 0 -$statistic-row-spacing;
$statistic-item-margin: 0 0 $statistic-row-spacing;

//- Stackable */
$statistic-stackable-row-spacing: 2rem;
$statistic-stackable-gutter: 2rem;

//- Size */
$statistic-mini-text-value-size: 1rem;
$statistic-mini-value-size: 1.5rem;
$statistic-mini-horizontal-value-size: 1.5rem;

$statistic-tiny-text-value-size: 1rem;
$statistic-tiny-value-size: 2rem;
$statistic-tiny-horizontal-value-size: 2rem;

$statistic-small-text-value-size: 1rem;
$statistic-small-value-size: 3rem;
$statistic-small-horizontal-value-size: 2rem;

$statistic-text-value-size: 2rem;
$statistic-value-size: 4rem;
$statistic-horizontal-value-size: 3rem;

$statistic-large-text-value-size: 2.5rem;
$statistic-large-value-size: 5rem;
$statistic-large-horizontal-value-size: 4rem;

$statistic-huge-text-value-size: 2.5rem;
$statistic-huge-value-size: 6rem;
$statistic-huge-horizontal-value-size: 5rem;
