@import "../../../../utils/all";
@import "./main";
@import "./sizes";

$mini: join-value-to-unit(
  round($mini-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$tiny: join-value-to-unit(
  round($tiny-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$small: join-value-to-unit(
  round($small-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$medium: join-value-to-unit(
  round($medium-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$large: join-value-to-unit(
  round($large-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$big: join-value-to-unit(
  round($big-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$huge: join-value-to-unit(
  round($huge-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$massive: join-value-to-unit(
  round($massive-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;

// em */
$relative-mini: join-value-to-unit(
  round($mini-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-tiny: join-value-to-unit(
  round($tiny-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-small: join-value-to-unit(
  round($small-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-medium: join-value-to-unit(
  round($medium-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-large: join-value-to-unit(
  round($large-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-big: join-value-to-unit(
  round($big-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-huge: join-value-to-unit(
  round($huge-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;
$relative-massive: join-value-to-unit(
  round($massive-size * strip-unit($em-size)) / strip-unit($em-size),
  em
) !default;

// rem */
$absolute-mini: join-value-to-unit(
  round($mini-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-tiny: join-value-to-unit(
  round($tiny-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-small: join-value-to-unit(
  round($small-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-medium: join-value-to-unit(
  round($medium-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-large: join-value-to-unit(
  round($large-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-big: join-value-to-unit(
  round($big-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-huge: join-value-to-unit(
  round($huge-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
$absolute-massive: join-value-to-unit(
  round($massive-size * strip-unit($em-size)) / strip-unit($em-size),
  rem
) !default;
