@import '../../../../functions/all';
@import './main';

$_1px  : join-value-to-unit( (1 / strip-unit($emSize)), rem) !default;
$_2px  : join-value-to-unit( (2 / strip-unit($emSize)), rem) !default;
$_3px  : join-value-to-unit( (3 / strip-unit($emSize)), rem) !default;
$_4px  : join-value-to-unit( (4 / strip-unit($emSize)), rem) !default;
$_5px  : join-value-to-unit( (5 / strip-unit($emSize)), rem) !default;
$_6px  : join-value-to-unit( (6 / strip-unit($emSize)), rem) !default;
$_7px  : join-value-to-unit( (7 / strip-unit($emSize)), rem) !default;
$_8px  : join-value-to-unit( (8 / strip-unit($emSize)), rem) !default;
$_9px  : join-value-to-unit( (9 / strip-unit($emSize)), rem) !default;
$_10px : join-value-to-unit( (10 / strip-unit($emSize)), rem) !default;
$_11px : join-value-to-unit( (11 / strip-unit($emSize)), rem) !default;
$_12px : join-value-to-unit( (12 / strip-unit($emSize)), rem) !default;
$_13px : join-value-to-unit( (13 / strip-unit($emSize)), rem) !default;
$_14px : join-value-to-unit( (14 / strip-unit($emSize)), rem) !default;
$_15px : join-value-to-unit( (15 / strip-unit($emSize)), rem) !default;
$_16px : join-value-to-unit( (16 / strip-unit($emSize)), rem) !default;
$_17px : join-value-to-unit( (17 / strip-unit($emSize)), rem) !default;
$_18px : join-value-to-unit( (18 / strip-unit($emSize)), rem) !default;
$_19px : join-value-to-unit( (19 / strip-unit($emSize)), rem) !default;
$_20px : join-value-to-unit( (20 / strip-unit($emSize)), rem) !default;
$_21px : join-value-to-unit( (21 / strip-unit($emSize)), rem) !default;
$_22px : join-value-to-unit( (22 / strip-unit($emSize)), rem) !default;
$_23px : join-value-to-unit( (23 / strip-unit($emSize)), rem) !default;
$_24px : join-value-to-unit( (24 / strip-unit($emSize)), rem) !default;
$_25px : join-value-to-unit( (25 / strip-unit($emSize)), rem) !default;
$_26px : join-value-to-unit( (26 / strip-unit($emSize)), rem) !default;
$_27px : join-value-to-unit( (27 / strip-unit($emSize)), rem) !default;
$_28px : join-value-to-unit( (28 / strip-unit($emSize)), rem) !default;
$_29px : join-value-to-unit( (29 / strip-unit($emSize)), rem) !default;
$_30px : join-value-to-unit( (30 / strip-unit($emSize)), rem) !default;
$_31px : join-value-to-unit( (31 / strip-unit($emSize)), rem) !default;
$_32px : join-value-to-unit( (32 / strip-unit($emSize)), rem) !default;
$_33px : join-value-to-unit( (33 / strip-unit($emSize)), rem) !default;
$_34px : join-value-to-unit( (34 / strip-unit($emSize)), rem) !default;
$_35px : join-value-to-unit( (35 / strip-unit($emSize)), rem) !default;
$_36px : join-value-to-unit( (36 / strip-unit($emSize)), rem) !default;
$_37px : join-value-to-unit( (37 / strip-unit($emSize)), rem) !default;
$_38px : join-value-to-unit( (38 / strip-unit($emSize)), rem) !default;
$_39px : join-value-to-unit( (39 / strip-unit($emSize)), rem) !default;
$_40px : join-value-to-unit( (40 / strip-unit($emSize)), rem) !default;
$_41px : join-value-to-unit( (41 / strip-unit($emSize)), rem) !default;
$_42px : join-value-to-unit( (42 / strip-unit($emSize)), rem) !default;
$_43px : join-value-to-unit( (43 / strip-unit($emSize)), rem) !default;
$_44px : join-value-to-unit( (44 / strip-unit($emSize)), rem) !default;
$_45px : join-value-to-unit( (45 / strip-unit($emSize)), rem) !default;
$_46px : join-value-to-unit( (46 / strip-unit($emSize)), rem) !default;
$_47px : join-value-to-unit( (47 / strip-unit($emSize)), rem) !default;
$_48px : join-value-to-unit( (48 / strip-unit($emSize)), rem) !default;
$_49px : join-value-to-unit( (49 / strip-unit($emSize)), rem) !default;
$_50px : join-value-to-unit( (50 / strip-unit($emSize)), rem) !default;
$_51px : join-value-to-unit( (51 / strip-unit($emSize)), rem) !default;
$_52px : join-value-to-unit( (52 / strip-unit($emSize)), rem) !default;
$_53px : join-value-to-unit( (53 / strip-unit($emSize)), rem) !default;
$_54px : join-value-to-unit( (54 / strip-unit($emSize)), rem) !default;
$_55px : join-value-to-unit( (55 / strip-unit($emSize)), rem) !default;
$_56px : join-value-to-unit( (56 / strip-unit($emSize)), rem) !default;
$_57px : join-value-to-unit( (57 / strip-unit($emSize)), rem) !default;
$_58px : join-value-to-unit( (58 / strip-unit($emSize)), rem) !default;
$_59px : join-value-to-unit( (59 / strip-unit($emSize)), rem) !default;
$_60px : join-value-to-unit( (60 / strip-unit($emSize)), rem) !default;
$_61px : join-value-to-unit( (61 / strip-unit($emSize)), rem) !default;
$_62px : join-value-to-unit( (62 / strip-unit($emSize)), rem) !default;
$_63px : join-value-to-unit( (63 / strip-unit($emSize)), rem) !default;
$_64px : join-value-to-unit( (64 / strip-unit($emSize)), rem) !default;

$relative1px  : join-value-to-unit( (1 / strip-unit($emSize)), em) !default;
$relative2px  : join-value-to-unit( (2 / strip-unit($emSize)), em) !default;
$relative3px  : join-value-to-unit( (3 / strip-unit($emSize)), em) !default;
$relative4px  : join-value-to-unit( (4 / strip-unit($emSize)), em) !default;
$relative5px  : join-value-to-unit( (5 / strip-unit($emSize)), em) !default;
$relative6px  : join-value-to-unit( (6 / strip-unit($emSize)), em) !default;
$relative7px  : join-value-to-unit( (7 / strip-unit($emSize)), em) !default;
$relative8px  : join-value-to-unit( (8 / strip-unit($emSize)), em) !default;
$relative9px  : join-value-to-unit( (9 / strip-unit($emSize)), em) !default;
$relative10px : join-value-to-unit( (10 / strip-unit($emSize)), em) !default;
$relative11px : join-value-to-unit( (11 / strip-unit($emSize)), em) !default;
$relative12px : join-value-to-unit( (12 / strip-unit($emSize)), em) !default;
$relative13px : join-value-to-unit( (13 / strip-unit($emSize)), em) !default;
$relative14px : join-value-to-unit( (14 / strip-unit($emSize)), em) !default;
$relative15px : join-value-to-unit( (15 / strip-unit($emSize)), em) !default;
$relative16px : join-value-to-unit( (16 / strip-unit($emSize)), em) !default;
$relative17px : join-value-to-unit( (17 / strip-unit($emSize)), em) !default;
$relative18px : join-value-to-unit( (18 / strip-unit($emSize)), em) !default;
$relative19px : join-value-to-unit( (19 / strip-unit($emSize)), em) !default;
$relative20px : join-value-to-unit( (20 / strip-unit($emSize)), em) !default;
$relative21px : join-value-to-unit( (21 / strip-unit($emSize)), em) !default;
$relative22px : join-value-to-unit( (22 / strip-unit($emSize)), em) !default;
$relative23px : join-value-to-unit( (23 / strip-unit($emSize)), em) !default;
$relative24px : join-value-to-unit( (24 / strip-unit($emSize)), em) !default;
$relative25px : join-value-to-unit( (25 / strip-unit($emSize)), em) !default;
$relative26px : join-value-to-unit( (26 / strip-unit($emSize)), em) !default;
$relative27px : join-value-to-unit( (27 / strip-unit($emSize)), em) !default;
$relative28px : join-value-to-unit( (28 / strip-unit($emSize)), em) !default;
$relative29px : join-value-to-unit( (29 / strip-unit($emSize)), em) !default;
$relative30px : join-value-to-unit( (30 / strip-unit($emSize)), em) !default;
$relative31px : join-value-to-unit( (31 / strip-unit($emSize)), em) !default;
$relative32px : join-value-to-unit( (32 / strip-unit($emSize)), em) !default;
$relative33px : join-value-to-unit( (33 / strip-unit($emSize)), em) !default;
$relative34px : join-value-to-unit( (34 / strip-unit($emSize)), em) !default;
$relative35px : join-value-to-unit( (35 / strip-unit($emSize)), em) !default;
$relative36px : join-value-to-unit( (36 / strip-unit($emSize)), em) !default;
$relative37px : join-value-to-unit( (37 / strip-unit($emSize)), em) !default;
$relative38px : join-value-to-unit( (38 / strip-unit($emSize)), em) !default;
$relative39px : join-value-to-unit( (39 / strip-unit($emSize)), em) !default;
$relative40px : join-value-to-unit( (40 / strip-unit($emSize)), em) !default;
$relative41px : join-value-to-unit( (41 / strip-unit($emSize)), em) !default;
$relative42px : join-value-to-unit( (42 / strip-unit($emSize)), em) !default;
$relative43px : join-value-to-unit( (43 / strip-unit($emSize)), em) !default;
$relative44px : join-value-to-unit( (44 / strip-unit($emSize)), em) !default;
$relative45px : join-value-to-unit( (45 / strip-unit($emSize)), em) !default;
$relative46px : join-value-to-unit( (46 / strip-unit($emSize)), em) !default;
$relative47px : join-value-to-unit( (47 / strip-unit($emSize)), em) !default;
$relative48px : join-value-to-unit( (48 / strip-unit($emSize)), em) !default;
$relative49px : join-value-to-unit( (49 / strip-unit($emSize)), em) !default;
$relative50px : join-value-to-unit( (50 / strip-unit($emSize)), em) !default;
$relative51px : join-value-to-unit( (51 / strip-unit($emSize)), em) !default;
$relative52px : join-value-to-unit( (52 / strip-unit($emSize)), em) !default;
$relative53px : join-value-to-unit( (53 / strip-unit($emSize)), em) !default;
$relative54px : join-value-to-unit( (54 / strip-unit($emSize)), em) !default;
$relative55px : join-value-to-unit( (55 / strip-unit($emSize)), em) !default;
$relative56px : join-value-to-unit( (56 / strip-unit($emSize)), em) !default;
$relative57px : join-value-to-unit( (57 / strip-unit($emSize)), em) !default;
$relative58px : join-value-to-unit( (58 / strip-unit($emSize)), em) !default;
$relative59px : join-value-to-unit( (59 / strip-unit($emSize)), em) !default;
$relative60px : join-value-to-unit( (60 / strip-unit($emSize)), em) !default;
$relative61px : join-value-to-unit( (61 / strip-unit($emSize)), em) !default;
$relative62px : join-value-to-unit( (62 / strip-unit($emSize)), em) !default;
$relative63px : join-value-to-unit( (63 / strip-unit($emSize)), em) !default;
$relative64px : join-value-to-unit( (64 / strip-unit($emSize)), em) !default;