//******************************  Button *******************************/
@import "../globals/variables";

//------------------- Element --------------------*/

// Button */
$button-vertical-margin: 0 !default;
$button-horizontal-margin: 0.25em !default;
$button-background-color: #e0e1e2 !default;
$button-background-image: none !default;
$button-background: $button-background-color $button-background-image !default;
$button-line-height: 1em !default;

// Button defaults to using same height as input globally */
$button-vertical-padding: $input-vertical-padding !default;
$button-horizontal-padding: 1.5em !default;

// Text */
$button-text-transform: none !default;
$button-tap-color: transparent !default;
$button-font-family: $page-font !default;
$button-font-weight: $bold !default;
$button-text-color: rgba(0, 0, 0, 0.6) !default;
$button-text-shadow: none !default;
$button-inverted-text-shadow: $button-text-shadow !default;
$button-border-radius: $default-border-radius !default;
$button-vertical-align: baseline !default;

// Internal Shadow */
$button-shadow-distance: 0 !default;
$button-shadow-offset: ($button-shadow-distance / 2) !default;
$button-shadow-box-shadow: 0 (-$button-shadow-distance) 0 0 $border-color inset !default;

// Box Shadow */
$button-border-box-shadow-color: transparent !default;
$button-border-box-shadow-width: 1px !default;
$button-border-box-shadow: 0 0 0 $button-border-box-shadow-width
  $button-border-box-shadow-color inset !default;
$button-box-shadow: $button-border-box-shadow, $button-shadow-box-shadow !default;

// Icon */
$button-icon-height: auto !default;
$button-icon-opacity: 0.8 !default;
$button-icon-distance: $relative6px !default;
$button-icon-color: "" !default;
$button-icon-transition: opacity $default-duration $default-easing !default;
$button-icon-vertical-align: "" !default;

$button-icon-margin: 0 $button-icon-distance 0 (-$button-icon-distance / 2) !default;
$button-right-icon-margin: 0 (-$button-icon-distance / 2) 0
  $button-icon-distance !default;

// Loader */
$button-inverted-loader-fill-color: rgba(0, 0, 0, 0.15) !default;

$button-transition: opacity $default-duration $default-easing,
  background-color $default-duration $default-easing,
  color $default-duration $default-easing,
  box-shadow $default-duration $default-easing,
  background $default-duration $default-easing !default;

$button-will-change: auto !default;

//-------------------  Group --------------------*/
$button-group-box-shadow: none !default;
$button-group-super-box-shadow: $button-box-shadow !default;
$button-vertical-box-shadow: none !default;
$button-group-offset: 0 0 0 0 !default;
$button-vertical-group-offset: 0 0 0 0 !default;

//-------------------  States --------------------*/

// Hovered */
$button-hover-background-color: #cacbcd !default;
$button-hover-background-image: $button-background-image !default;
$button-hover-box-shadow: $button-box-shadow !default;
$button-hover-color: $hovered-text-color !default;
$button-icon-hover-opacity: 0.85 !default;

// Focused */
$button-focus-background-color: $button-hover-background-color !default;
$button-focus-background-image: none !default;
$button-focus-box-shadow: "" !default;
$button-focus-color: $hovered-text-color !default;
$button-icon-focus-opacity: 0.85 !default;

// Disabled */
$button-disabled-background-image: none !default;
$button-disabled-box-shadow: none !default;

// Pressed Down */
$button-down-background-color: #babbbc !default;
$button-down-background-image: "" !default;
$button-down-pressed-shadow: none !default;
$button-down-box-shadow: $button-border-box-shadow, $button-down-pressed-shadow !default;
$button-down-color: $pressed-text-color !default;

// Active */
$button-active-background-color: #c0c1c2 !default;
$button-active-background-image: none !default;
$button-active-color: $selected-text-color !default;
$button-active-box-shadow: $button-border-box-shadow !default;

// Active + Hovered */
$button-active-hover-background-color: $button-active-background-color !default;
$button-active-hover-background-image: none !default;
$button-active-hover-color: $button-active-color !default;
$button-active-hover-box-shadow: $button-active-box-shadow !default;

// Loading */
$button-loading-opacity: 1 !default;
$button-loading-pointer-events: auto !default;
$button-loading-transition: all 0s linear,
  opacity $default-duration $default-easing !default;

//-------------------  Types --------------------*/
// Or */
$button-or-text: "or" !default;

$button-or-gap: 0.3em !default;
$button-or-height: ($button-vertical-padding * 2) + 1em !default;
$button-or-z-index: 3 !default;

$button-or-circle-distance-to-edge: $button-vertical-padding !default;
$button-or-circle-size: (
  $button-or-height - $button-or-circle-distance-to-edge
) !default;
$button-or-line-height: ($button-or-circle-size - 0.1) !default;
$button-or-box-shadow: $button-border-box-shadow !default;

$button-or-vertical-offset: (-$button-or-circle-size / 2) !default;
$button-or-horizontal-offset: (-$button-or-circle-size / 2) !default;

$button-or-background-color: $white !default;
$button-or-text-shadow: $button-inverted-text-shadow !default;
$button-or-text-style: $normal !default;
$button-or-text-weight: $bold !default;
$button-or-text-color: $light-text-color !default;

$button-or-spacer-height: $button-vertical-padding !default;
$button-or-spacer-color: transparent !default;

// Icon */
$button-with-icon-opacity: 0.9 !default;

// Labeled */
$button-labeled-label-font-size: $medium !default;
$button-labeled-label-align: center !default;
$button-labeled-label-padding: "" !default;
$button-labeled-label-font-size: $relative-medium !default;
$button-labeled-label-border-color: $border-color !default;
$button-labeled-label-border-offset: -$button-border-box-shadow-width !default;
$button-labeled-tag-label-size: 1.85em !default; // hypotenuse of triangle */
$button-labeled-icon-margin: 0 !default;

// Labeled Icon */
$button-labeled-icon-width: 1em + ($button-vertical-padding * 2) !default;
$button-labeled-icon-background-color: rgba(0, 0, 0, 0.05) !default;
$button-labeled-icon-padding: (
  $button-horizontal-padding + $button-labeled-icon-width - 0.8
) !default;
$button-labeled-icon-border: transparent !default;
$button-labeled-icon-color: "" !default;

$button-labeled-icon-left-shadow: -1px 0 0 0 $button-labeled-icon-border inset !default;
$button-labeled-icon-right-shadow: 1px 0 0 0 $button-labeled-icon-border inset !default;

// Inverted */
$button-inverted-border-size: 2px !default;
$button-inverted-text-color: $white !default;
$button-inverted-text-hover-color: $button-hover-color !default;
$button-inverted-group-offset: 0 0 0 (-$button-inverted-border-size) !default;
$button-inverted-vertical-group-offset: 0 0 (-$button-inverted-border-size) 0 !default;

// Basic */
$button-basic-border-radius: $button-border-radius !default;
$button-basic-border-size: 1px !default;
$button-basic-text-color: $button-text-color !default;
$button-basic-colored-border-size: 1px !default;

$button-basic-background: transparent none !default;
$button-basic-font-weight: $normal !default;
$button-basic-border: 1px solid $border-color !default;
$button-basic-box-shadow: 0 0 0 $button-basic-border-size $border-color inset !default;
$button-basic-loading-color: $off-white !default;
$button-basic-text-transform: none !default;

// Basic Hover */
$button-basic-hover-background: #ffffff !default;
$button-basic-hover-text-color: $hovered-text-color !default;
$button-basic-hover-box-shadow: 0 0 0 $button-basic-border-size
    $selected-border-color inset,
  0 0 0 0 $border-color inset !default;
// Basic Focus */
$button-basic-focus-background: $button-basic-hover-background !default;
$button-basic-focus-text-color: $button-basic-hover-text-color !default;
$button-basic-focus-box-shadow: $button-basic-hover-box-shadow !default;

// Basic Down */
$button-basic-down-background: #f8f8f8 !default;
$button-basic-down-text-color: $pressed-text-color !default;
$button-basic-down-box-shadow: 0 0 0 $button-basic-border-size
    rgba(0, 0, 0, 0.15) inset,
  0 1px 4px 0 $border-color inset !default;
// Basic Active */
$button-basic-active-background: $transparent-black !default;
$button-basic-active-box-shadow: "" !default;
$button-basic-active-text-color: $selected-text-color !default;

// Basic Inverted */
$button-basic-inverted-background: transparent !default;
$button-basic-inverted-focus-background: transparent !default;
$button-basic-inverted-down-background: $transparent-white !default;
$button-basic-inverted-active-background: $transparent-white !default;

$button-basic-inverted-box-shadow: 0 0 0 $button-inverted-border-size
  rgba(255, 255, 255, 0.5) inset !default;
$button-basic-inverted-hover-box-shadow: 0 0 0 $button-inverted-border-size
  rgba(255, 255, 255, 1) inset !default;
$button-basic-inverted-focus-box-shadow: 0 0 0 $button-inverted-border-size
  rgba(255, 255, 255, 1) inset !default;
$button-basic-inverted-down-box-shadow: 0 0 0 $button-inverted-border-size
  rgba(255, 255, 255, 0.9) inset !default;
$button-basic-inverted-active-box-shadow: 0 0 0 $button-inverted-border-size
  rgba(255, 255, 255, 0.7) inset !default;

$button-basic-inverted-color: $dark-white !default;
$button-basic-inverted-hover-color: $dark-white-hover !default;
$button-basic-inverted-down-color: $dark-white-active !default;
$button-basic-inverted-active-color: $button-inverted-text-color !default;

// Basic Group */
$button-basic-group-border: $button-basic-border-size solid $border-color !default;
$button-basic-group-box-shadow: none !default;

//------------- Tertiary -------------*/
$button-tertiary-line-padding: 0.5em !default;
$button-tertiary-line-height: 0.2em !default;
$button-tertiary-text-color: $button-text-color !default;
$button-tertiary-line-color: lighten($button-tertiary-text-color, 20%) !default;
$button-tertiary-with-underline: false !default;
$button-tertiary-with-overline: false !default;
$button-tertiary-background-color: none !default;

// Tertiary Hover */
$button-tertiary-hover-color: lighten(
  fade-in($button-tertiary-text-color, 1),
  20%
) !default;
$button-tertiary-hover-line-color: lighten(
  $button-tertiary-hover-color,
  20%
) !default;
$button-tertiary-hover-with-underline: true !default;
$button-tertiary-hover-with-overline: false !default;
$button-tertiary-hover-background-color: none !default;

// Tertiary Focus */
$button-tertiary-focus-color: lighten(
  fade-in($button-tertiary-text-color, 1),
  20%
) !default;
$button-tertiary-focus-line-color: lighten(
  $button-tertiary-hover-color,
  20%
) !default;
$button-tertiary-focus-with-underline: true !default;
$button-tertiary-focus-with-overline: false !default;
$button-tertiary-focus-background-color: none !default;

// Tertiary Active */
$button-tertiary-active-color: lighten(
  $button-tertiary-hover-color,
  20%
) !default;
$button-tertiary-active-line-color: lighten(
  $button-tertiary-active-color,
  20%
) !default;
$button-tertiary-active-with-underline: true !default;
$button-tertiary-active-with-overline: false !default;
$button-tertiary-active-background-color: none !default;

//-------------------  Variations --------------------*/

// Colored */
$button-colored-background-image: none !default;
$button-colored-box-shadow: $button-shadow-box-shadow !default;

// Colors */
$button-brown-text-color: $button-inverted-text-color !default;
$button-brown-text-shadow: $button-inverted-text-shadow !default;
$button-red-text-color: $button-inverted-text-color !default;
$button-red-text-shadow: $button-inverted-text-shadow !default;
$button-orange-text-color: $button-inverted-text-color !default;
$button-orange-text-shadow: $button-inverted-text-shadow !default;
$button-green-text-color: $button-inverted-text-color !default;
$button-green-text-shadow: $button-inverted-text-shadow !default;
$button-blue-text-color: $button-inverted-text-color !default;
$button-blue-text-shadow: $button-inverted-text-shadow !default;
$button-violet-text-color: $button-inverted-text-color !default;
$button-violet-text-shadow: $button-inverted-text-shadow !default;
$button-purple-text-color: $button-inverted-text-color !default;
$button-purple-text-shadow: $button-inverted-text-shadow !default;
$button-pink-text-color: $button-inverted-text-color !default;
$button-pink-text-shadow: $button-inverted-text-shadow !default;
$button-black-text-color: $button-inverted-text-color !default;
$button-black-text-shadow: $button-inverted-text-shadow !default;
$button-olive-text-color: $button-inverted-text-color !default;
$button-olive-text-shadow: $button-inverted-text-shadow !default;
$button-yellow-text-color: $button-inverted-text-color !default;
$button-yellow-text-shadow: $button-inverted-text-shadow !default;
$button-teal-text-color: $button-inverted-text-color !default;
$button-teal-text-shadow: $button-inverted-text-shadow !default;
$button-grey-text-color: $button-inverted-text-color !default;
$button-grey-text-shadow: $button-inverted-text-shadow !default;

// Inverted */
$button-light-brown-text-color: $button-inverted-text-color !default;
$button-light-brown-text-shadow: $button-inverted-text-shadow !default;
$button-light-red-text-color: $button-inverted-text-color !default;
$button-light-red-text-shadow: $button-inverted-text-shadow !default;
$button-light-orange-text-color: $button-inverted-text-color !default;
$button-light-orange-text-shadow: $button-inverted-text-shadow !default;
$button-light-green-text-color: $button-inverted-text-color !default;
$button-light-green-text-shadow: $button-inverted-text-shadow !default;
$button-light-blue-text-color: $button-inverted-text-color !default;
$button-light-blue-text-shadow: $button-inverted-text-shadow !default;
$button-light-violet-text-color: $button-inverted-text-color !default;
$button-light-violet-text-shadow: $button-inverted-text-shadow !default;
$button-light-purple-text-color: $button-inverted-text-color !default;
$button-light-purple-text-shadow: $button-inverted-text-shadow !default;
$button-light-pink-text-color: $button-inverted-text-color !default;
$button-light-pink-text-shadow: $button-inverted-text-shadow !default;
$button-light-black-text-color: $button-inverted-text-color !default;
$button-light-black-text-shadow: $button-inverted-text-shadow !default;
$button-light-olive-text-color: $button-text-color !default;
$button-light-olive-text-shadow: $button-text-shadow !default;
$button-light-yellow-text-color: $button-text-color !default;
$button-light-yellow-text-shadow: $button-text-shadow !default;
$button-light-teal-text-color: $button-text-color !default;
$button-light-teal-text-shadow: $button-text-shadow !default;
$button-light-grey-text-color: $button-text-color !default;
$button-light-grey-text-shadow: $button-text-shadow !default;

// Ordinality */
$button-primary-background-image: $button-colored-background-image !default;
$button-primary-text-color: $button-inverted-text-color !default;
$button-light-primary-text-color: $button-inverted-text-color !default;
$button-primary-text-shadow: $button-inverted-text-shadow !default;
$button-primary-box-shadow: $button-colored-box-shadow !default;

$button-secondary-background-image: $button-colored-background-image !default;
$button-secondary-text-color: $button-inverted-text-color !default;
$button-secondary-text-shadow: $button-inverted-text-shadow !default;
$button-light-secondary-text-color: $button-inverted-text-color !default;
$button-secondary-box-shadow: $button-colored-box-shadow !default;

$button-positive-background-image: $button-colored-background-image !default;
$button-positive-text-color: $button-inverted-text-color !default;
$button-positive-text-shadow: $button-inverted-text-shadow !default;
$button-positive-box-shadow: $button-colored-box-shadow !default;

$button-negative-background-image: $button-colored-background-image !default;
$button-negative-text-color: $button-inverted-text-color !default;
$button-negative-text-shadow: $button-inverted-text-shadow !default;
$button-negative-box-shadow: $button-colored-box-shadow !default;

// Compact */
$button-compact-vertical-padding: ($button-vertical-padding * 0.75) !default;
$button-compact-horizontal-padding: (
  $button-horizontal-padding * 0.75
) !default;

// Attached */
$button-attached-offset: -1px !default;
$button-attached-box-shadow: 0 0 0 1px $border-color !default;
$button-attached-horizontal-padding: 0.75em !default;
$button-attached-z-index: auto !default;

// Floated */
$button-floated-margin: 0.25em !default;

// Animated */
$button-animated-vertical-align: middle !default;
$button-animated-z-index: 1 !default;
$button-animation-duration: 0.3s !default;
$button-animation-easing: ease !default;
$button-fade-scale-high: 1.5 !default;
$button-fade-scale-low: 0.75 !default;

@import './button.colors-map';