$button-colors-map: (
  primary: (
    color          : $primary-color,
    light          : $light-primary-color,
    border         : $primary-border-color,
    background     : $primary-background,
    header         : $primary-header-color,
    boxShadow      : $button-primary-box-shadow,
    boxFloatShadow : $primary-box-floating-shadow,
    text           : $button-primary-text-color,
    lightText      : $button-light-primary-text-color,
    hoverText      : $primary-hover-text-color,
    focus          : $primary-color-focus,
    lightFocus     : $light-primary-color-focus,
    down           : $primary-color-down,
    lightDown      : $light-primary-color-down,
    active         : $primary-color-active,
    lightActive    : $light-primary-color-active,
    shadow         : $button-primary-text-shadow,
    lightShadow    : $light-primary-text-shadow,
    hover          : $primary-color-hover,
    lightHover     : $light-primary-color-hover,
    ribbon         : $primary-ribbon-shadow,
    invertedRibbon : $primary-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  secondary: (
    color          : $secondary-color,
    light          : $light-secondary-color,
    border         : $secondary-border-color,
    background     : $secondary-background,
    header         : $secondary-header-color,
    boxShadow      : $button-secondary-box-shadow,
    boxFloatShadow : $secondary-box-floating-shadow,
    text           : $button-secondary-text-color,
    lightText      : $button-light-secondary-text-color,
    hoverText      : $secondary-hover-text-color,
    focus          : $secondary-color-focus,
    lightFocus     : $light-secondary-color-focus,
    down           : $secondary-color-down,
    lightDown      : $light-secondary-color-down,
    active         : $secondary-color-active,
    lightActive    : $light-secondary-color-active,
    shadow         : $button-secondary-text-shadow,
    lightShadow    : $light-secondary-text-shadow,
    hover          : $secondary-color-hover,
    lightHover     : $light-secondary-color-hover,
    ribbon         : $secondary-ribbon-shadow,
    invertedRibbon : $secondary-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  red: (
    color          : $red,
    light          : $light-red,
    border         : $red-border-color,
    background     : $red-background,
    header         : $red-header-color,
    boxShadow      : $red-box-shadow,
    boxFloatShadow : $red-box-floating-shadow,
    text           : $button-red-text-color,
    lightText      : $button-light-red-text-color,
    hoverText      : $red-hover-text-color,
    focus          : $red-focus,
    lightFocus     : $light-red-focus,
    down           : $red-down,
    lightDown      : $light-red-down,
    active         : $red-active,
    lightActive    : $light-red-active,
    shadow         : $button-red-text-shadow,
    lightShadow    : $button-light-red-text-shadow,
    hover          : $red-hover,
    lightHover     : $light-red-hover,
    ribbon         : $red-ribbon-shadow,
    invertedRibbon : $red-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  orange: (
    color          : $orange,
    light          : $light-orange,
    border         : $orange-border-color,
    background     : $orange-background,
    header         : $orange-header-color,
    boxShadow      : $orange-box-shadow,
    boxFloatShadow : $orange-box-floating-shadow,
    text           : $button-orange-text-color,
    lightText      : $button-light-orange-text-color,
    hoverText      : $orange-hover-text-color,
    focus          : $orange-focus,
    lightFocus     : $light-orange-focus,
    down           : $orange-down,
    lightDown      : $light-orange-down,
    active         : $orange-active,
    lightActive    : $light-orange-active,
    shadow         : $button-orange-text-shadow,
    lightShadow    : $button-light-orange-text-shadow,
    hover          : $orange-hover,
    lightHover     : $light-orange-hover,
    ribbon         : $orange-ribbon-shadow,
    invertedRibbon : $orange-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  yellow: (
    color          : $yellow,
    light          : $light-yellow,
    border         : $yellow-border-color,
    background     : $yellow-background,
    header         : $yellow-header-color,
    boxShadow      : $yellow-box-shadow,
    boxFloatShadow : $yellow-box-floating-shadow,
    text           : $button-yellow-text-color,
    lightText      : $button-light-yellow-text-color,
    hoverText      : $yellow-hover-text-color,
    focus          : $yellow-focus,
    lightFocus     : $light-yellow-focus,
    down           : $yellow-down,
    lightDown      : $light-yellow-down,
    active         : $yellow-active,
    lightActive    : $light-yellow-active,
    shadow         : $button-yellow-text-shadow,
    lightShadow    : $button-light-yellow-text-shadow,
    hover          : $yellow-hover,
    lightHover     : $light-yellow-hover,
    ribbon         : $yellow-ribbon-shadow,
    invertedRibbon : $yellow-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  olive: (
    color          : $olive,
    light          : $light-olive,
    border         : $olive-border-color,
    background     : $olive-background,
    header         : $olive-header-color,
    boxShadow      : $olive-box-shadow,
    boxFloatShadow : $olive-box-floating-shadow,
    text           : $button-olive-text-color,
    lightText      : $button-light-olive-text-color,
    hoverText      : $olive-hover-text-color,
    focus          : $olive-focus,
    lightFocus     : $light-olive-focus,
    down           : $olive-down,
    lightDown      : $light-olive-down,
    active         : $olive-active,
    lightActive    : $light-olive-active,
    shadow         : $button-olive-text-shadow,
    lightShadow    : $button-light-olive-text-shadow,
    hover          : $olive-hover,
    lightHover     : $light-olive-hover,
    ribbon         : $olive-ribbon-shadow,
    invertedRibbon : $olive-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  green: (
    color          : $green,
    light          : $light-green,
    border         : $green-border-color,
    background     : $green-background,
    header         : $green-header-color,
    boxShadow      : $green-box-shadow,
    boxFloatShadow : $green-box-floating-shadow,
    text           : $button-green-text-color,
    lightText      : $button-light-green-text-color,
    hoverText      : $green-hover-text-color,
    focus          : $green-focus,
    lightFocus     : $light-green-focus,
    down           : $green-down,
    lightDown      : $light-green-down,
    active         : $green-active,
    lightActive    : $light-green-active,
    shadow         : $button-green-text-shadow,
    lightShadow    : $button-light-green-text-shadow,
    hover          : $green-hover,
    lightHover     : $light-green-hover,
    ribbon         : $green-ribbon-shadow,
    invertedRibbon : $green-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  teal: (
    color          : $teal,
    light          : $light-teal,
    border         : $teal-border-color,
    background     : $teal-background,
    header         : $teal-header-color,
    boxShadow      : $teal-box-shadow,
    boxFloatShadow : $teal-box-floating-shadow,
    text           : $button-teal-text-color,
    lightText      : $button-light-teal-text-color,
    hoverText      : $teal-hover-text-color,
    focus          : $teal-focus,
    lightFocus     : $light-teal-focus,
    down           : $teal-down,
    lightDown      : $light-teal-down,
    active         : $teal-active,
    lightActive    : $light-teal-active,
    shadow         : $button-teal-text-shadow,
    lightShadow    : $button-light-teal-text-shadow,
    hover          : $teal-hover,
    lightHover     : $light-teal-hover,
    ribbon         : $teal-ribbon-shadow,
    invertedRibbon : $teal-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  blue: (
    color          : $blue,
    light          : $light-blue,
    border         : $blue-border-color,
    background     : $blue-background,
    header         : $blue-header-color,
    boxShadow      : $blue-box-shadow,
    boxFloatShadow : $blue-box-floating-shadow,
    text           : $button-blue-text-color,
    lightText      : $button-light-blue-text-color,
    hoverText      : $blue-hover-text-color,
    focus          : $blue-focus,
    lightFocus     : $light-blue-focus,
    down           : $blue-down,
    lightDown      : $light-blue-down,
    active         : $blue-active,
    lightActive    : $light-blue-active,
    shadow         : $button-blue-text-shadow,
    lightShadow    : $button-light-blue-text-shadow,
    hover          : $blue-hover,
    lightHover     : $light-blue-hover,
    ribbon         : $blue-ribbon-shadow,
    invertedRibbon : $blue-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  violet: (
    color          : $violet,
    light          : $light-violet,
    border         : $violet-border-color,
    background     : $violet-background,
    header         : $violet-header-color,
    boxShadow      : $violet-box-shadow,
    boxFloatShadow : $violet-box-floating-shadow,
    text           : $button-violet-text-color,
    lightText      : $button-light-violet-text-color,
    hoverText      : $violet-hover-text-color,
    focus          : $violet-focus,
    lightFocus     : $light-violet-focus,
    down           : $violet-down,
    lightDown      : $light-violet-down,
    active         : $violet-active,
    lightActive    : $light-violet-active,
    shadow         : $button-violet-text-shadow,
    lightShadow    : $button-light-violet-text-shadow,
    hover          : $violet-hover,
    lightHover     : $light-violet-hover,
    ribbon         : $violet-ribbon-shadow,
    invertedRibbon : $violet-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  purple: (
    color          : $purple,
    light          : $light-purple,
    border         : $purple-border-color,
    background     : $purple-background,
    header         : $purple-header-color,
    boxShadow      : $purple-box-shadow,
    boxFloatShadow : $purple-box-floating-shadow,
    text           : $button-purple-text-color,
    lightText      : $button-light-purple-text-color,
    hoverText      : $purple-hover-text-color,
    focus          : $purple-focus,
    lightFocus     : $light-purple-focus,
    down           : $purple-down,
    lightDown      : $light-purple-down,
    active         : $purple-active,
    lightActive    : $light-purple-active,
    shadow         : $button-purple-text-shadow,
    lightShadow    : $button-light-purple-text-shadow,
    hover          : $purple-hover,
    lightHover     : $light-purple-hover,
    ribbon         : $purple-ribbon-shadow,
    invertedRibbon : $purple-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  pink: (
    color          : $pink,
    light          : $light-pink,
    border         : $pink-border-color,
    background     : $pink-background,
    header         : $pink-header-color,
    boxShadow      : $pink-box-shadow,
    boxFloatShadow : $pink-box-floating-shadow,
    text           : $button-pink-text-color,
    lightText      : $button-light-pink-text-color,
    hoverText      : $pink-hover-text-color,
    focus          : $pink-focus,
    lightFocus     : $light-pink-focus,
    down           : $pink-down,
    lightDown      : $light-pink-down,
    active         : $pink-active,
    lightActive    : $light-pink-active,
    shadow         : $button-pink-text-shadow,
    lightShadow    : $button-light-pink-text-shadow,
    hover          : $pink-hover,
    lightHover     : $light-pink-hover,
    ribbon         : $pink-ribbon-shadow,
    invertedRibbon : $pink-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  brown: (
    color          : $brown,
    light          : $light-brown,
    border         : $brown-border-color,
    background     : $brown-background,
    header         : $brown-header-color,
    boxShadow      : $brown-box-shadow,
    boxFloatShadow : $brown-box-floating-shadow,
    text           : $button-brown-text-color,
    lightText      : $button-light-brown-text-color,
    hoverText      : $brown-hover-text-color,
    focus          : $brown-focus,
    lightFocus     : $light-brown-focus,
    down           : $brown-down,
    lightDown      : $light-brown-down,
    active         : $brown-active,
    lightActive    : $light-brown-active,
    shadow         : $button-brown-text-shadow,
    lightShadow    : $button-light-brown-text-shadow,
    hover          : $brown-hover,
    lightHover     : $light-brown-hover,
    ribbon         : $brown-ribbon-shadow,
    invertedRibbon : $brown-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  grey: (
    color          : $grey,
    light          : $light-grey,
    border         : $grey-border-color,
    background     : $grey-background,
    header         : $grey-header-color,
    boxShadow      : $grey-box-shadow,
    boxFloatShadow : $grey-box-floating-shadow,
    text           : $button-grey-text-color,
    lightText      : $button-light-grey-text-color,
    hoverText      : $grey-hover-text-color,
    focus          : $grey-focus,
    lightFocus     : $light-grey-focus,
    down           : $grey-down,
    lightDown      : $light-grey-down,
    active         : $grey-active,
    lightActive    : $light-grey-active,
    shadow         : $button-grey-text-shadow,
    lightShadow    : $button-light-grey-text-shadow,
    hover          : $grey-hover,
    lightHover     : $light-grey-hover,
    ribbon         : $grey-ribbon-shadow,
    invertedRibbon : $grey-inverted-ribbon-shadow,
    isDark         : true,
    isVeryDark     : false,
  ),
  black: (
    color          : $black,
    light          : $light-black,
    border         : $black-border-color,
    background     : $black-background,
    header         : $black-header-color,
    boxShadow      : $black-box-shadow,
    boxFloatShadow : $black-box-floating-shadow,
    text           : $button-black-text-color,
    lightText      : $button-light-black-text-color,
    hoverText      : $black-hover-text-color,
    focus          : $black-focus,
    lightFocus     : $light-black-focus,
    down           : $black-down,
    lightDown      : $light-black-down,
    active         : $black-active,
    lightActive    : $light-black-active,
    shadow         : $button-black-text-shadow,
    lightShadow    : $button-light-black-text-shadow,
    hover          : $black-hover,
    lightHover     : $light-black-hover,
    ribbon         : $black-ribbon-shadow,
    invertedRibbon : $black-inverted-ribbon-shadow,
    isDark         : true,
    isVeryDark     : true,
  ),
)
