//****************************** Container *******************************/
@import "../globals/variables";
//------------------ Element --------------------*/

// Minimum Gutter is used to determine  the maximum container width for a given device */

$container-max-width: 100% !default;

// Devices */
$container-mobile-minimum-gutter: 0 !default;
$container-mobile-width: auto !default;
$container-mobile-gutter: 1em !default;

$container-tablet-minimum-gutter: ($em-size * 1) !default;
$container-tablet-width: $tablet-breakpoint -
  ($container-tablet-minimum-gutter * 2) - $scrollbar-width !default;
$container-tablet-gutter: auto !default;

$container-computer-minimum-gutter: ($em-size * 1.5) !default;
$container-computer-width: $computer-breakpoint -
  ($container-computer-minimum-gutter * 2) - $scrollbar-width !default;
$container-computer-gutter: auto !default;

$container-large-monitor-minimum-gutter: ($em-size * 2) !default;
$container-large-monitor-width: $large-monitor-breakpoint -
  ($container-large-monitor-minimum-gutter * 2) - $scrollbar-width !default;
$container-large-monitor-gutter: auto !default;

// Coupling (Add Negative Margin to container size) */
$container-grid-gutter-width: 2rem !default;
$container-relaxed-grid-gutter-width: 3rem !default;
$container-very-relaxed-grid-gutter-width: 5rem !default;

$container-mobile-grid-width: $container-mobile-width !default;
$container-tablet-grid-width: calc(
  #{$container-tablet-width} + #{$container-grid-gutter-width}
) !default;
$container-computer-grid-width: calc(
  #{$container-computer-width} + #{$container-grid-gutter-width}
) !default;
$container-large-monitor-grid-width: calc(
  #{$container-large-monitor-width} + #{$container-grid-gutter-width}
) !default;

$container-mobile-relaxed-grid-width: $container-mobile-width !default;
$container-tablet-relaxed-grid-width: calc(
  #{$container-tablet-width} + #{$container-relaxed-grid-gutter-width}
) !default;
$container-computer-relaxed-grid-width: calc(
  #{$container-computer-width} + #{$container-relaxed-grid-gutter-width}
) !default;
$container-large-monitor-relaxed-grid-width: calc(
  #{$container-large-monitor-width} + #{$container-relaxed-grid-gutter-width}
) !default;

$container-mobile-very-relaxed-grid-width: $container-mobile-width !default;
$container-tablet-very-relaxed-grid-width: calc(
  #{$container-tablet-width} + #{$container-very-relaxed-grid-gutter-width}
) !default;
$container-computer-very-relaxed-grid-width: calc(
  #{$container-computer-width} + #{$container-very-relaxed-grid-gutter-width}
) !default;
$container-large-monitor-very-relaxed-grid-width: calc(
  #{$container-large-monitor-width} + #{$container-very-relaxed-grid-gutter-width}
) !default;

//------------------- Types --------------------*/

// Text */
$container-text-width: 700px !default;
$container-text-font-family: $page-font !default;
$container-text-line-height: 1.5 !default;
$container-text-size: $large !default;
