//****************************** Divider *******************************/
@import '../globals/site';

//------------------- Element --------------------*/

$margin: 1rem 0 !default;

$highlightWidth: 1px !default;
$highlightColor: $whiteBorderColor !default;

$shadowWidth: 1px !default;
$shadowColor: $borderColor !default;

// Text */
$letterSpacing: 0.05em !default;
$fontWeight: $bold !default;
$color: $darkTextColor !default;
$textTransform: uppercase !default;

//------------------- Coupling --------------------*/

// Icon */
$dividerIconSize: 1rem !default;
$dividerIconMargin: 0 !default;


//******************************  Variations *******************************/

// Horizontal / Vertical */
$horizontalMargin: '' !default;
$horizontalDividerMargin: 1em !default;
$horizontalRulerOffset: calc(-50% - #{$horizontalDividerMargin}) !default;

$verticalDividerMargin: 1rem !default;
$verticalDividerHeight: calc(100% - #{$verticalDividerMargin}) !default;

// Inverted */
$invertedTextColor: $white !default;
$invertedHighlightColor: rgba(255, 255, 255, 0.15) !default;
$invertedShadowColor: $borderColor !default;

// Section */
$sectionMargin: 2rem !default;

// Sizes */
$medium: 1rem !default;
