//****************************** Flag *******************************/
@import "../globals/variables";

//------------------- Element --------------------*/
$flag-sprite-path: "#{$image-path}/flags.png" !default;
$flag-width: 16px !default;
$flag-height: 11px !default;
$flag-vertical-align: baseline !default;
$flag-margin: 0.5em !default;