//****************************** Icon *******************************/
@import "../globals/variables";
//-------------- Font Files ---------------*/

// Solid Icons */
$icon-font-name: "icons" !default;
$icon-src: url("#{$font-path}/#{$icon-font-name}.eot?#iefix") format("embedded-opentype"),
  url("#{$font-path}/#{$icon-font-name}.woff2") format("woff2"),
  url("#{$font-path}/#{$icon-font-name}.woff") format("woff"),
  url("#{$font-path}/#{$icon-font-name}.ttf") format("truetype"),
  url("#{$font-path}/#{$icon-font-name}.svg#icons") format("svg") !default;
$icon-fallback-src: url("#{$font-path}/#{$icon-font-name}.eot") !default;

// Outline Icons */
$icon-import-outline-icons: true !default;
$icon-outline-font-name: "outline-icons" !default;
$icon-outline-src: url("#{$font-path}/#{$icon-outline-font-name}.eot?#iefix")
    format("embedded-opentype"),
  url("#{$font-path}/#{$icon-outline-font-name}.woff2") format("woff2"),
  url("#{$font-path}/#{$icon-outline-font-name}.woff") format("woff"),
  url("#{$font-path}/#{$icon-outline-font-name}.ttf") format("truetype"),
  url("#{$font-path}/#{$icon-outline-font-name}.svg#icons") format("svg") !default;
$icon-outline-fallback-src: url("#{$font-path}/#{$icon-outline-font-name}.eot") !default;

// Brand Icons */
$icon-import-brand-icons: true !default;
$icon-brand-font-name: "brand-icons" !default;
$icon-brand-src: url("#{$font-path}/#{$icon-brand-font-name}.eot?#iefix")
    format("embedded-opentype"),
  url("#{$font-path}/#{$icon-brand-font-name}.woff2") format("woff2"),
  url("#{$font-path}/#{$icon-brand-font-name}.woff") format("woff"),
  url("#{$font-path}/#{$icon-brand-font-name}.ttf") format("truetype"),
  url("#{$font-path}/#{$icon-brand-font-name}.svg#icons") format("svg") !default;
$icon-brand-fallback-src: url("#{$font-path}/#{$icon-brand-font-name}.eot") !default;

//-------------- Definition ---------------*/

// Icon Variables */
$icon-opacity: 1 !default;
$icon-width: $icon-width !default;
$icon-height: 1em !default;
$icon-distance-from-text: 0.25rem !default;

// Variations */
$icon-link-opacity: 0.8 !default;
$icon-link-duration: 0.3s !default;
$icon-loading-duration: 2s !default;

$icon-circular-size: 2em !default;
$icon-circular-padding: 0.5em 0 !default;
$icon-circular-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset !default;

$icon-bordered-size: 2em !default;
$icon-bordered-vertical-padding: (
  ($icon-bordered-size - $icon-height) / 2
) !default;
$icon-bordered-horizontal-padding: 0 !default;
$icon-bordered-shadow: 0 0 0 0.1em rgba(0, 0, 0, 0.1) inset !default;

$icon-corner-size: 0.45em !default;
$icon-corner-stroke: 1px !default;
$icon-corner-shadow: -$icon-corner-stroke -$icon-corner-stroke 0 $white,
  $icon-corner-stroke -$icon-corner-stroke 0 $white,
  -$icon-corner-stroke $icon-corner-stroke 0 $white,
  $icon-corner-stroke $icon-corner-stroke 0 $white !default;
$icon-corner-inverted-shadow: -$icon-corner-stroke -$icon-corner-stroke 0 $black,
  $icon-corner-stroke -$icon-corner-stroke 0 $black,
  -$icon-corner-stroke $icon-corner-stroke 0 $black,
  $icon-corner-stroke $icon-corner-stroke 0 $black !default;

$icon-mini: 0.4em !default;
$icon-tiny: 0.5em !default;
$icon-small: 0.75em !default;
$icon-medium: 1em !default;
$icon-large: 1.5em !default;
$icon-big: 2em !default;
$icon-huge: 4em !default;
$icon-massive: 8em !default;
