//****************************** Image *******************************/
@import '../globals/site';
//------------------ Element --------------------*/

$placeholderColor: transparent !default;
$roundedBorderRadius: 0.3125em !default;

$imageHorizontalMargin: 0.25rem !default;
$imageVerticalMargin: 0.5rem !default;
$imageBorder: 1px solid rgba(0, 0, 0, 0.1) !default;

//------------------- Types --------------------*/

// Avatar */
$avatarSize: 2em !default;
$avatarMargin: 0.25em !default;


//------------------- Variations --------------------*/

// Spaced */
$spacedDistance: 0.5em !default;

// Floated */
$floatedHorizontalMargin: 1em !default;
$floatedVerticalMargin: 1em !default;

// Size */
$miniWidth: 35px !default;
$tinyWidth: 80px !default;
$smallWidth: 150px !default;
$mediumWidth: 300px !default;
$largeWidth: 450px !default;
$bigWidth: 600px !default;
$hugeWidth: 800px !default;
$massiveWidth: 960px !default;
