//****************************** Image *******************************/
@import "../globals/variables";
//------------------ Element --------------------*/

$image-placeholder-color: transparent !default;
$image-rounded-border-radius: 0.3125em !default;

$image-horizontal-margin: 0.25rem !default;
$image-vertical-margin: 0.5rem !default;
$image-border: 1px solid rgba(0, 0, 0, 0.1) !default;

//------------------- Types --------------------*/

// Avatar */
$image-avatar-size: 2em !default;
$image-avatar-margin: 0.25em !default;

//------------------- Variations --------------------*/

// Spaced */
$image-spaced-distance: 0.5em !default;

// Floated */
$image-floated-horizontal-margin: 1em !default;
$image-floated-vertical-margin: 1em !default;

// Size */
$image-mini-width: 35px !default;
$image-tiny-width: 80px !default;
$image-small-width: 150px !default;
$image-medium-width: 300px !default;
$image-large-width: 450px !default;
$image-big-width: 600px !default;
$image-huge-width: 800px !default;
$image-massive-width: 960px !default;
