//****************************** Input *******************************/
@import '../globals/site';
//------------------- Element --------------------*/

$inputFont: $pageFont !default;
$verticalPadding: $inputVerticalPadding !default;
$horizontalPadding: $inputHorizontalPadding !default;

$lineHeight: $inputLineHeight !default;
$lineHeightOffset: (($lineHeight - 1em) / 2) !default;

$padding: ($verticalPadding - $lineHeightOffset) $horizontalPadding !default;

$textAlign: left !default;
$background: $inputBackground !default;
$borderWidth: 1px !default;
$border: $borderWidth solid $borderColor !default;
$boxShadow: none !default;

$borderRadius: $defaultBorderRadius !default;
$transition:
  box-shadow $defaultDuration $defaultEasing,
  border-color $defaultDuration $defaultEasing
 !default;

//------------------- Types --------------------*/

// Icon Input */
$iconWidth: ($verticalPadding * 2) + $glyphWidth !default;
$iconOpacity: 0.5 !default;
$iconFocusOpacity: 1 !default;
$iconOffset: -0.5em !default;

$iconDistance: 0 !default;
$iconMargin: $iconWidth + $iconDistance !default;
$iconTransition: opacity 0.3s $defaultEasing !default;

$transparentIconWidth: $glyphWidth !default;
$transparentIconMargin: 2em !default;

$textareaIconHeight: 3em !default;

// Circular Icon Input */
$circularIconVerticalOffset: 0.35em !default;
$circularIconHorizontalOffset: 0.5em !default;

// Labeled Input */
$labelCornerTop: $borderWidth !default;
$labelCornerRight: $borderWidth !default;
$labelCornerSize: $relative9px !default;
$labelSize: 1em !default;
$labelVerticalPadding: ($verticalPadding - $lineHeightOffset) !default;

$labeledMargin: 2.5em !default;
$labeledIconInputMargin: 3.25em !default;
$labeledIconMargin: 1.25em !default;

//-------------------  States -------------------*/

// Placeholder */
$placeholderColor: $inputPlaceholderColor !default;
$placeholderFocusColor: $inputPlaceholderFocusColor !default;

// Down */
$downBorderColor: rgba(0, 0, 0, 0.3) !default;
$downBackground: #FAFAFA !default;
$downColor: $textColor !default;
$downBoxShadow: none !default;

// Focus */
$focusBorderColor: $focusedFormBorderColor !default;
$focusBackground: $background !default;
$focusColor: $hoveredTextColor !default;
$focusBoxShadow: none !default;

// Error */
$errorBackground: $negativeBackgroundColor !default;
$errorColor: $negativeTextColor !default;
$errorBorder: $negativeBorderColor !default;
$errorBoxShadow: none !default;

$placeholderErrorColor: lighten($errorColor, 40) !default;
$placeholderErrorFocusColor: lighten($errorColor, 30) !default;

// Loader */
$invertedLoaderFillColor: rgba(0, 0, 0, 0.15) !default;

//------------------- Variations --------------------*/

// Inverted */
$transparentInvertedPlaceholderColor: $invertedUnselectedTextColor !default;
$transparentInvertedColor: $white !default;

