//****************************** List *******************************/
@import "../globals/variables";
//------------------- View --------------------*/

// List */
$list-style-type: none !default;
$list-style-position: outside !default;
$list-margin: 1em 0 !default;
$list-vertical-padding: 0 !default;
$list-horizontal-padding: 0 !default;

// List Item */
$list-item-vertical-padding: $relative3px !default;
$list-item-horizontal-padding: 0 !default;
$list-item-padding: $list-item-vertical-padding $list-item-horizontal-padding !default;
$list-item-line-height: $relative-large !default;

// Sub List */
$list-child-padding: 0.75em 0 0.25em 0.5em !default;
$list-child-indent: 1em !default;

// Sub List Item */
$list-child-item-vertical-padding: $relative2px !default;
$list-child-item-horizontal-padding: 0 !default;
$list-child-item-padding: $list-child-item-vertical-padding
  $list-child-item-horizontal-padding !default;
$list-child-item-line-height: inherit !default;

//-------------------  Elements --------------------*/

// Icon */
$list-icon-distance: $relative4px !default;
$list-icon-offset: 0 !default;
$list-icon-transition: color $default-duration $default-easing !default;
$list-icon-vertical-align: top !default;
$list-icon-content-vertical-align: top !default;

// Image */
$list-image-distance: 0.5em !default;
$list-image-align: top !default;

// Content */
$list-content-distance: 0.5em !default;
$list-content-line-height: $list-item-line-height !default;
$list-content-line-height-offset: ($list-content-line-height - 1em) / 2 !default;
$list-content-vertical-align: top !default;
$list-content-color: $text-color !default;

// Header */
$list-item-header-font-family: $header-font !default;
$list-item-header-font-weight: $bold !default;
$list-item-header-color: $text-color !default;

// Description */
$list-item-description-color: rgba(0, 0, 0, 0.7) !default;

// Link */
$list-item-link-color: $link-color !default;
$list-item-link-hover-color: $link-hover-color !default;

// Header Link */
$list-item-header-link-color: $list-item-link-color !default;
$list-item-header-link-hover-color: $list-item-link-hover-color !default;

// Linked Icon */
$list-item-link-icon-color: $light-text-color !default;
$list-item-link-icon-hover-color: $text-color !default;
$list-inverted-icon-link-color: $inverted-light-text-color !default;

//------------------- States --------------------*/

$list-disabled-color: $disabled-text-color !default;
$list-inverted-disabled-color: $inverted-disabled-text-color !default;

//-------------------  Variations --------------------*/

// Float */
$list-float-distance: 1em !default;
$list-left-float-margin: 0 $list-float-distance 0 0 !default;
$list-right-float-margin: 0 0 0 $list-float-distance !default;

// Horizontal */
$list-horizontal-spacing: 1em !default;
$list-horizontal-icon-distance: 0.25em !default;
$list-horizontal-vertical-align: middle !default;

// Inverted */
$list-inverted-icon-color: $inverted-light-text-color !default;
$list-inverted-header-color: $inverted-text-color !default;
$list-inverted-description-color: $inverted-light-text-color !default;
$list-inverted-item-link-color: $inverted-text-color !default;
$list-inverted-item-link-hover-color: $link-hover-color !default;
$list-inverted-content-color: $inverted-light-text-color !default;

// Link List */
$list-link-item-color: $unselected-text-color !default;
$list-link-item-hover-color: $hovered-text-color !default;
$list-link-item-down-color: $pressed-text-color !default;
$list-link-item-active-color: $selected-text-color !default;
$list-link-transition: $default-duration color $default-easing !default;

// Inverted Link List */
$list-inverted-link-item-color: $inverted-unselected-text-color !default;
$list-inverted-link-item-hover-color: $inverted-hovered-text-color !default;
$list-inverted-link-item-down-color: $inverted-pressed-text-color !default;
$list-inverted-link-item-active-color: $inverted-selected-text-color !default;

// Selection List */
$list-selection-item-margin: 0 !default;
$list-selection-item-border-radius: 0.5em !default;
$list-selection-item-vertical-padding: 0.5em !default;
$list-selection-item-horizontal-padding: 0.5em !default;
$list-selection-transition: $default-duration color $default-easing,
  $default-duration padding-left $default-easing,
  $default-duration background-color $default-easing !default;

// Selection List States */
$list-selection-background: transparent !default;
$list-selection-color: $unselected-text-color !default;
$list-selection-hover-background: $subtle-transparent-black !default;
$list-selection-hover-color: $hovered-text-color !default;
$list-selection-down-background: $transparent-black !default;
$list-selection-down-color: $pressed-text-color !default;
$list-selection-active-background: $transparent-black !default;
$list-selection-active-color: $selected-text-color !default;

// Inverted Selection List */
$list-inverted-selection-background: transparent !default;
$list-inverted-selection-color: $inverted-unselected-text-color !default;
$list-inverted-selection-hover-background: $subtle-transparent-white !default;
$list-inverted-selection-hover-color: $inverted-hovered-text-color !default;
$list-inverted-selection-down-background: $transparent-white !default;
$list-inverted-selection-down-color: $inverted-pressed-text-color !default;
$list-inverted-selection-active-background: $transparent-white !default;
$list-inverted-selection-active-color: $inverted-selected-text-color !default;

// Animated List */
$list-animated-duration: 0.25s !default;
$list-animated-delay: 0.1s !default;
$list-animated-transition: $list-animated-duration color $default-easing
    $list-animated-delay,
  $list-animated-duration padding-left $default-easing $list-animated-delay,
  $list-animated-duration background-color $default-easing $list-animated-delay !default;
$list-animated-indent: 1em !default;

// Bulleted */
$list-bullet-distance: 1.25rem !default;
$list-bullet-offset: -$list-bullet-distance !default;

$list-bullet-opacity: 1 !default;
$list-bullet-character: "•" !default;
$list-bullet-color: inherit !default;
$list-bullet-link-color: $text-color !default;
$list-bullet-vertical-align: top !default;
$list-bullet-child-distance: $list-bullet-distance !default;

// Horizontal Bullets */
$list-horizontal-bullet-color: $text-color !default;
$list-horizontal-bullet-spacing: strip-unit($list-bullet-distance) + 0.5em !default;

// Ordered List */
$list-ordered-count-name: ordered !default;
$list-ordered-count-separator: "." !default;
$list-ordered-count-suffix: "." !default;
$list-ordered-count-content: counters(
    $list-ordered-count-name,
    $list-ordered-count-separator
  )
  " " !default;
$list-ordered-count-content-suffixed: counters(
    $list-ordered-count-name,
    $list-ordered-count-separator
  )
  $list-ordered-count-suffix !default;
$list-ordered-count-color: $text-color !default;
$list-ordered-count-distance: 1.25rem !default;
$list-ordered-count-opacity: 0.8 !default;
$list-ordered-count-text-align: right !default;
$list-ordered-count-vertical-align: middle !default;

$list-ordered-child-count-distance: 1em !default;
$list-ordered-child-count-offset: -2em !default;

$list-ordered-inverted-count-color: $inverted-light-text-color !default;

// Horizontal Ordered */
$list-horizontal-ordered-count-distance: 0.5em !default;

// Divided */
$list-divided-border-width: 1px !default;
$list-divided-border: $list-divided-border-width solid $border-color !default;
$list-divided-inverted-border-color: $white-border-color !default;
$list-divided-child-border: none !default;
$list-divided-child-item-border: none !default;

// Divided Horizontal */
$list-horizontal-divided-spacing: ($list-horizontal-spacing / 2) !default;
$list-horizontal-divided-line-height: 0.6 !default;

// Divided */
$list-celled-border-width: 1px !default;
$list-celled-border: $list-celled-border-width solid $border-color !default;
$list-celled-inverted-border: $white-border-color !default;
$list-celled-horizontal-padding: 0.5em !default;
$list-celled-child-border: none !default;
$list-celled-child-item-border: none !default;

// Divided Horizontal */
$list-horizontal-celled-spacing: ($list-horizontal-spacing / 2) !default;
$list-horizontal-celled-line-height: 0.6 !default;

// Relaxed */
$list-relaxed-item-vertical-padding: $relative6px !default;
$list-relaxed-child-item-vertical-padding: $relative3px !default;
$list-relaxed-header-margin: 0.25rem !default;
$list-relaxed-horizontal-padding: 1rem !default;

// Very Relaxed */
$list-very-relaxed-item-vertical-padding: $relative12px !default;
$list-very-relaxed-child-item-vertical-padding: $relative4px !default;
$list-very-relaxed-header-margin: 0.5rem !default;
$list-very-relaxed-horizontal-padding: 1.5rem !default;
