//****************************** Text *******************************/
@import '../globals/site';

//------------------- Element --------------------*/
$mini: 0.4em !default;
$tiny: 0.5em !default;
$small: 0.75em !default;
$medium: 1em !default;
$large: 1.5em !default;
$big: 2em !default;
$huge: 4em !default;
$massive: 8em !default;

