@import "../globals/variables";

//@-****************************** Image *******************************/

//--------------------  Element --------------------*/

$image-placeholder-color: transparent;
$image-rounded-border-radius: 0.3125em;

$image-horizontal-margin: 0.25rem;
$image-vertical-margin: 0.5rem;
$image-border: 1px solid rgba(0, 0, 0, 0.1);

//--------------------  Types --------------------*/

//- Avatar */
$image-avatar-size: 2em;
$image-avatar-margin: 0.25em;


//--------------------  Variations --------------------*/

//- Spaced */
$image-spaced-distance: 0.5em;

//- Floated */
$image-floated-horizontal-margin: 1em;
$image-floated-vertical-margin: 1em;

//- Size */
$image-mini-width: 35px;
$image-tiny-width: 80px;
$image-small-width: 150px;
$image-medium-width: 300px;
$image-large-width: 450px;
$image-big-width: 600px;
$image-huge-width: 800px;
$image-massive-width: 960px;
