@import "../globals/variables";

//@-****************************** Input *******************************/

//-------------------- Element --------------------*/

$input-font: $page-font !default;
$input-vertical-padding: $input-vertical-padding !default;
$input-horizontal-padding: $input-horizontal-padding !default;

$input-line-height: $input-line-height !default;
$input-line-height-offset: (($input-line-height - 1em) / 2) !default;

$input-padding: ($input-vertical-padding - $input-line-height-offset) $input-horizontal-padding !default;

$input-text-align: left !default;
$input-background: $input-background !default;
$input-border-width: 1px !default;
$input-border: $input-border-width solid $border-color !default;
$input-box-shadow: none !default;

$input-border-radius: $default-border-radius !default;
$input-transition:
  box-shadow $default-duration $default-easing,
  border-color $default-duration $default-easing
 !default;

//-------------------- Types --------------------*/

//- Icon Input */
$input-icon-width: ($input-vertical-padding * 2) + $glyph-width !default;
$input-icon-opacity: 0.5 !default;
$input-icon-focus-opacity: 1 !default;
$input-icon-offset: -0.5em !default;

$input-icon-distance: 0 !default;
$input-icon-margin: $input-icon-width + $input-icon-distance !default;
$input-icon-transition: opacity 0.3s $default-easing !default;

$input-transparent-icon-width: $glyph-width !default;
$input-transparent-icon-margin: 2em !default;

$input-textarea-icon-height: 3em !default;
$input-transparent-textarea-icon-height: 1.3em !default;

//- Circular Icon Input */
$input-circular-icon-vertical-offset: 0.35em !default;
$input-circular-icon-horizontal-offset: 0.5em !default;

//- Labeled Input */
$input-label-corner-top: $input-border-width !default;
$input-label-corner-right: $input-border-width !default;
$input-label-corner-size: $relative9px !default;
$input-label-size: 1em !default;
$input-label-vertical-padding: ($input-vertical-padding - $input-line-height-offset) !default;

$input-labeled-margin: 2.5em !default;
$input-labeled-icon-itself-margin: 3.25em !default;
$input-labeled-icon-margin: 1.25em !default;

//-------------------- States --------------------*/

//- Placeholder */
$input-placeholder-color: $input-placeholder-color !default;
$input-placeholder-focus-color: $input-placeholder-focus-color !default;

//- Down */
$input-down-border-color: rgba(0, 0, 0, 0.3) !default;
$input-down-background: #FAFAFA !default;
$input-down-color: $text-color !default;
$input-down-box-shadow: none !default;

//- Focus */
$input-focus-border-color: $focused-form-border-color !default;
$input-focus-background: $input-background !default;
$input-focus-color: $hovered-text-color !default;
$input-focus-box-shadow: none !default;

//- Error */
$input-error-background: $negative-background-color !default;
$input-error-color: $negative-text-color !default;
$input-error-border: $negative-border-color !default;
$input-error-box-shadow: none !default;

$input-placeholder-error-color: lighten($input-error-color, 40) !default;
$input-placeholder-error-focus-color: lighten($input-error-color, 30) !default;

//- Loader */
$input-inverted-loader-fill-color: rgba(0, 0, 0, 0.15) !default;

//-------------------- Variations --------------------*/

//- Inverted */
$input-transparent-inverted-placeholder-color: $inverted-unselected-text-color !default;
$input-transparent-inverted-color: $white !default;

