@import "../globals/variables";

//@-******************************  Label *******************************/

//--------------------  Element --------------------*/

$label-vertical-align: baseline !default;
$label-vertical-margin: 0 !default;
$label-horizontal-margin: $relative2px !default;
$label-background-color: #E8E8E8 !default;
$label-color: $muted-text-color !default;
$label-background-image: none !default;
$label-vertical-padding: 0.5833em !default; //- medium is not $em-size custom value required */
$label-horizontal-padding: 0.833em !default;
$label-border-radius: $absolute-border-radius !default;
$label-text-transform: none !default;
$label-font-weight: $bold !default;
$label-border-width: 1px !default;
$label-border: 0 solid transparent !default;

$label-line-height-offset: -($label-vertical-padding / 2) !default;

$label-transition-duration: $default-duration !default;
$label-transition-easing: $default-easing !default;
$label-transition: background $label-transition-duration $label-transition-easing !default;

//- Group */
$label-group-vertical-margin: 0.5em !default;
$label-group-horizontal-margin: 0.5em !default;

//-------------------- Parts --------------------*/

//- Link */
$label-link-opacity: 0.5 !default;
$label-link-transition: $label-transition-duration opacity $label-transition-easing !default;

//- Icon */
$label-icon-distance: 0.75em !default;

//- Image */
$label-image-height: (1em + $label-vertical-padding * 2) !default;

//- Detail */
$label-detail-font-weight: $bold !default;
$label-detail-opacity: 0.8 !default;
$label-detail-icon-distance: 0.25em !default;
$label-detail-margin: 1em !default;

//- Delete */
$label-delete-opacity: $label-link-opacity !default;
$label-delete-size: $relative-small !default;
$label-delete-margin: 0.5em !default;
$label-delete-transition: background $label-transition-duration $label-transition-easing !default;

//-------------------- Types --------------------*/

//- Image Label */
$label-image-background: $label-background-color !default;
$label-image-vertical-padding: $label-vertical-padding !default;
$label-image-horizontal-padding: $label-horizontal-padding !default;
$label-image-text-distance: 0.5em !default;
$label-image-detail-distance: $label-image-text-distance !default;
$label-image-border-radius: $label-border-radius !default;
$label-image-box-shadow: none !default;
$label-image-padding: $label-image-vertical-padding $label-image-horizontal-padding $label-image-vertical-padding $label-image-text-distance !default;

$label-image-image-margin: (-$label-vertical-padding) $label-image-text-distance (-$label-vertical-padding) (-$label-image-text-distance) !default;
$label-image-image-border-radius: $label-image-border-radius 0 0 $label-image-border-radius !default;
$label-image-image-height: $label-image-height !default;

$label-image-detail-background: $strong-transparent-black !default;
$label-image-detail-padding: $label-image-vertical-padding $label-image-horizontal-padding !default;
$label-image-detail-margin: -$label-image-vertical-padding (-$label-image-horizontal-padding) (-$label-image-vertical-padding) $label-image-detail-distance !default;

//-------------------- States --------------------*/

//- Hover */
$label-hover-background-color: #E0E0E0 !default;
$label-hover-background-image: none !default;
$label-hover-text-color: $hovered-text-color !default;

//- Active */
$label-active-background-color: #D0D0D0 !default;
$label-active-background-image: none !default;
$label-active-text-color: $selected-text-color !default;

//- Active Hover */
$label-active-hover-background-color: #C8C8C8 !default;
$label-active-hover-background-image: none !default;
$label-active-hover-text-color: $selected-text-color !default;


//-------------------- Variations --------------------*/

//- Basic */
$label-basic-background: none $white !default;
$label-basic-border-width: 1px !default;
$label-basic-border-width-offset: -$label-basic-border-width !default;
$label-basic-border-full-width-offset: calc(100% + #{$label-basic-border-width}) !default;
$label-basic-border: $label-basic-border-width solid $border-color !default;
$label-basic-color: $text-color !default;
$label-basic-box-shadow: none !default;

$label-basic-hover-background: $label-basic-background !default;
$label-basic-hover-color: $link-hover-color !default;
$label-basic-hover-border: $label-basic-border !default;
$label-basic-hover-box-shadow: $label-basic-box-shadow !default;

//- Tag */
$label-tag-circle-color: $white !default;
$label-tag-circle-size: 0.5em !default;
$label-tag-horizontal-padding: 1.5em !default;
$label-tag-circle-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3) !default;
$label-basic-tag-circle-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.8) !default;
$label-tag-triangle-right-offset: 100% !default;
$label-tag-triangle-top-offset: 50% !default;
$label-tag-triangle-size: 1.56em !default;
$label-tag-triangle-background-image: none !default;
$label-tag-transition: none !default; //- Avoids error with background: inherit !default; on animation */

//- Ribbon */
$label-ribbon-triangle-size: 1.2em !default;
$label-basic-ribbon-triangle-size:  calc(#{$label-ribbon-triangle-size} - #{$label-basic-border-width}) !default;
$label-basic-ribbon-triangle-size-offset:  calc(1rem + #{$label-ribbon-triangle-size} - #{$label-basic-border-width}) !default;
$label-ribbon-shadow-color: rgba(0, 0, 0, 0.15) !default;

$label-ribbon-margin: 1rem !default;
$label-ribbon-offset:  calc(#{-$label-ribbon-margin} - #{$label-ribbon-triangle-size}) !default;
$label-basic-ribbon-offset:  calc(#{$label-vertical-padding} - #{$label-basic-border-width}) !default;
$label-ribbon-distance:  calc(#{$label-ribbon-margin} + #{$label-ribbon-triangle-size}) !default;
$label-right-ribbon-offset:  calc(100% + #{$label-ribbon-margin} + #{$label-ribbon-triangle-size}) !default;

$label-ribbon-image-top-distance: 1rem !default;
$label-ribbon-image-margin: -0.05rem !default; //- Rounding Offset on Triangle */
$label-ribbon-image-offset:  calc(#{-$label-ribbon-image-margin} - #{$label-ribbon-triangle-size}) !default;
$label-right-ribbon-image-offset:  calc(100% + #{$label-ribbon-image-margin} + #{$label-ribbon-triangle-size}) !default;

$label-ribbon-table-margin: $relative-medium !default; //- Rounding Offset on Triangle */
$label-ribbon-table-offset:  calc(#{-$label-ribbon-table-margin} - #{$label-ribbon-triangle-size}) !default;
$label-right-ribbon-table-offset:  calc(100% + #{$label-ribbon-table-margin} + #{$label-ribbon-triangle-size}) !default;

//- Inverted */
$label-inverted-background-color: darken($label-background-color,20) !default;
$label-inverted-background: $black !default;
$label-inverted-box-shadow-size: 2px !default;
$label-inverted-border-size: 1px !default;

$label-basic-inverted-border-color: rgba(255, 255, 255, 0.5) !default;

//- Colors */
$label-red-text-color: $white !default;
$label-orange-text-color: $white !default;
$label-yellow-text-color: $white !default;
$label-olive-text-color: $white !default;
$label-green-text-color: $white !default;
$label-teal-text-color: $white !default;
$label-blue-text-color: $white !default;
$label-violet-text-color: $white !default;
$label-purple-text-color: $white !default;
$label-pink-text-color: $white !default;
$label-brown-text-color: $white !default;
$label-grey-text-color: $white !default;
$label-black-text-color: $white !default;

$label-red-hover-text-color: $white !default;
$label-orange-hover-text-color: $white !default;
$label-yellow-hover-text-color: $white !default;
$label-olive-hover-text-color: $white !default;
$label-green-hover-text-color: $white !default;
$label-teal-hover-text-color: $white !default;
$label-blue-hover-text-color: $white !default;
$label-violet-hover-text-color: $white !default;
$label-purple-hover-text-color: $white !default;
$label-pink-hover-text-color: $white !default;
$label-brown-hover-text-color: $white !default;
$label-grey-hover-text-color: $white !default;
$label-black-hover-text-color: $white !default;

$label-primary-hover-text-color: $white !default;
$label-secondary-hover-text-color: $white !default;

$label-primary-text-color: $inverted-text-color !default;
$label-secondary-text-color: $inverted-text-color !default;

//- Attached */
$label-attached-segment-padding: 2rem !default;
$label-attached-vertical-padding: 0.75em !default;
$label-attached-horizontal-padding: 1em !default;

$label-attached-corner-border-radius: $_3px !default;
$label-attached-border-radius: $label-border-radius !default;

//- Corner */
$label-corner-size-ratio: 1 !default;
$label-corner-transition: color $label-transition-duration $label-transition-easing !default;
$label-corner-triangle-size: 4em !default;
$label-corner-triangle-transition: border-color $label-transition-duration $label-transition-easing !default;
$label-corner-triangle-z-index: 1 !default;

$label-corner-icon-size: $relative-large !default;
$label-corner-icon-top-offset: $relative9px !default;
$label-corner-icon-left-offset: $relative8px !default;
$label-corner-icon-right-offset: $relative8px !default;

//- Corner Text */
$label-corner-text-width: 3em !default;
$label-corner-text-weight: $bold !default;
$label-corner-text-size: 1em !default;

//- Horizontal */
$label-horizontal-min-width: 3em !default;
$label-in-horizontal-position-margin: 0.5em !default;
$label-horizontal-vertical-padding: 0.4em !default;

//- Circular Padding */
$label-circular-padding: 0.5em !default;
$label-circular-min-size: 2em !default;
$label-empty-circle-size: 0.5em !default;

//- Pointing */
$label-pointing-border-color: inherit !default;
$label-pointing-border-width: $label-border-width !default;
$label-pointing-vertical-distance: 1em !default;
$label-pointing-triangle-size: 0.6666em !default;
$label-pointing-horizontal-distance: $label-pointing-triangle-size !default;

$label-pointing-triangle-transition: none !default; //- Avoids error with background: inherit !default; on animation */
$label-pointing-triangle-z-index: 2 !default;

//- Basic Pointing */
$label-basic-pointing-triangle-offset: -$label-pointing-border-width !default;

//- Floating */
$label-floating-top-offset: -1em !default;
$label-floating-bottom-offset: $label-floating-top-offset !default;
$label-floating-align-offset: 1.2em !default;
$label-floating-z-index: 100 !default;

//-------------------- Group --------------------*/

//- Sizing */
$label-mini    : $_9px !default;
$label-tiny    : $_10px !default;
$label-small   : $_11px !default;
$label-medium  : $_12px !default;
$label-large   : $absolute-medium !default;
$label-big     : $absolute-big !default;
$label-huge    : $absolute-huge !default;
$label-massive : $absolute-massive !default;

$label-colors-map: (
  primary: (
    color          : $primary-color,
    light          : $light-primary-color,
    border         : $primary-border-color,
    background     : $primary-background,
    header         : $primary-header-color,
    boxShadow      : $primary-box-shadow,
    boxFloatShadow : $primary-box-floating-shadow,
    text           : $label-primary-text-color,
    lightText      : $light-primary-text-color,
    hoverText      : $label-primary-hover-text-color,
    focus          : $primary-color-focus,
    lightFocus     : $light-primary-color-focus,
    down           : $primary-color-down,
    lightDown      : $light-primary-color-down,
    active         : $primary-color-active,
    lightActive    : $light-primary-color-active,
    shadow         : $primary-text-shadow,
    lightShadow    : $light-primary-text-shadow,
    hover          : $primary-color-hover,
    lightHover     : $light-primary-color-hover,
    ribbon         : $primary-ribbon-shadow,
    invertedRibbon : $primary-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  secondary: (
    color          : $secondary-color,
    light          : $light-secondary-color,
    border         : $secondary-border-color,
    background     : $secondary-background,
    header         : $secondary-header-color,
    boxShadow      : $secondary-box-shadow,
    boxFloatShadow : $secondary-box-floating-shadow,
    text           : $label-secondary-text-color,
    lightText      : $light-secondary-text-color,
    hoverText      : $label-secondary-hover-text-color,
    focus          : $secondary-color-focus,
    lightFocus     : $light-secondary-color-focus,
    down           : $secondary-color-down,
    lightDown      : $light-secondary-color-down,
    active         : $secondary-color-active,
    lightActive    : $light-secondary-color-active,
    shadow         : $secondary-text-shadow,
    lightShadow    : $light-secondary-text-shadow,
    hover          : $secondary-color-hover,
    lightHover     : $light-secondary-color-hover,
    ribbon         : $secondary-ribbon-shadow,
    invertedRibbon : $secondary-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  red: (
    color          : $red,
    light          : $light-red,
    border         : $red-border-color,
    background     : $red-background,
    header         : $red-header-color,
    boxShadow      : $red-box-shadow,
    boxFloatShadow : $red-box-floating-shadow,
    text           : $label-red-text-color,
    lightText      : $light-red-text-color,
    hoverText      : $label-red-hover-text-color,
    focus          : $red-focus,
    lightFocus     : $light-red-focus,
    down           : $red-down,
    lightDown      : $light-red-down,
    active         : $red-active,
    lightActive    : $light-red-active,
    shadow         : $red-text-shadow,
    lightShadow    : $light-red-text-shadow,
    hover          : $red-hover,
    lightHover     : $light-red-hover,
    ribbon         : $red-ribbon-shadow,
    invertedRibbon : $red-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  orange: (
    color          : $orange,
    light          : $light-orange,
    border         : $orange-border-color,
    background     : $orange-background,
    header         : $orange-header-color,
    boxShadow      : $orange-box-shadow,
    boxFloatShadow : $orange-box-floating-shadow,
    text           : $label-orange-text-color,
    lightText      : $light-orange-text-color,
    hoverText      : $label-orange-hover-text-color,
    focus          : $orange-focus,
    lightFocus     : $light-orange-focus,
    down           : $orange-down,
    lightDown      : $light-orange-down,
    active         : $orange-active,
    lightActive    : $light-orange-active,
    shadow         : $orange-text-shadow,
    lightShadow    : $light-orange-text-shadow,
    hover          : $orange-hover,
    lightHover     : $light-orange-hover,
    ribbon         : $orange-ribbon-shadow,
    invertedRibbon : $orange-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  yellow: (
    color          : $yellow,
    light          : $light-yellow,
    border         : $yellow-border-color,
    background     : $yellow-background,
    header         : $yellow-header-color,
    boxShadow      : $yellow-box-shadow,
    boxFloatShadow : $yellow-box-floating-shadow,
    text           : $label-yellow-text-color,
    lightText      : $light-yellow-text-color,
    hoverText      : $label-yellow-hover-text-color,
    focus          : $yellow-focus,
    lightFocus     : $light-yellow-focus,
    down           : $yellow-down,
    lightDown      : $light-yellow-down,
    active         : $yellow-active,
    lightActive    : $light-yellow-active,
    shadow         : $yellow-text-shadow,
    lightShadow    : $light-yellow-text-shadow,
    hover          : $yellow-hover,
    lightHover     : $light-yellow-hover,
    ribbon         : $yellow-ribbon-shadow,
    invertedRibbon : $yellow-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  olive: (
    color          : $olive,
    light          : $light-olive,
    border         : $olive-border-color,
    background     : $olive-background,
    header         : $olive-header-color,
    boxShadow      : $olive-box-shadow,
    boxFloatShadow : $olive-box-floating-shadow,
    text           : $label-olive-text-color,
    lightText      : $light-olive-text-color,
    hoverText      : $label-olive-hover-text-color,
    focus          : $olive-focus,
    lightFocus     : $light-olive-focus,
    down           : $olive-down,
    lightDown      : $light-olive-down,
    active         : $olive-active,
    lightActive    : $light-olive-active,
    shadow         : $olive-text-shadow,
    lightShadow    : $light-olive-text-shadow,
    hover          : $olive-hover,
    lightHover     : $light-olive-hover,
    ribbon         : $olive-ribbon-shadow,
    invertedRibbon : $olive-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  green: (
    color          : $green,
    light          : $light-green,
    border         : $green-border-color,
    background     : $green-background,
    header         : $green-header-color,
    boxShadow      : $green-box-shadow,
    boxFloatShadow : $green-box-floating-shadow,
    text           : $label-green-text-color,
    lightText      : $light-green-text-color,
    hoverText      : $label-green-hover-text-color,
    focus          : $green-focus,
    lightFocus     : $light-green-focus,
    down           : $green-down,
    lightDown      : $light-green-down,
    active         : $green-active,
    lightActive    : $light-green-active,
    shadow         : $green-text-shadow,
    lightShadow    : $light-green-text-shadow,
    hover          : $green-hover,
    lightHover     : $light-green-hover,
    ribbon         : $green-ribbon-shadow,
    invertedRibbon : $green-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  teal: (
    color          : $teal,
    light          : $light-teal,
    border         : $teal-border-color,
    background     : $teal-background,
    header         : $teal-header-color,
    boxShadow      : $teal-box-shadow,
    boxFloatShadow : $teal-box-floating-shadow,
    text           : $label-teal-text-color,
    lightText      : $light-teal-text-color,
    hoverText      : $label-teal-hover-text-color,
    focus          : $teal-focus,
    lightFocus     : $light-teal-focus,
    down           : $teal-down,
    lightDown      : $light-teal-down,
    active         : $teal-active,
    lightActive    : $light-teal-active,
    shadow         : $teal-text-shadow,
    lightShadow    : $light-teal-text-shadow,
    hover          : $teal-hover,
    lightHover     : $light-teal-hover,
    ribbon         : $teal-ribbon-shadow,
    invertedRibbon : $teal-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  blue: (
    color          : $blue,
    light          : $light-blue,
    border         : $blue-border-color,
    background     : $blue-background,
    header         : $blue-header-color,
    boxShadow      : $blue-box-shadow,
    boxFloatShadow : $blue-box-floating-shadow,
    text           : $label-blue-text-color,
    lightText      : $light-blue-text-color,
    hoverText      : $label-blue-hover-text-color,
    focus          : $blue-focus,
    lightFocus     : $light-blue-focus,
    down           : $blue-down,
    lightDown      : $light-blue-down,
    active         : $blue-active,
    lightActive    : $light-blue-active,
    shadow         : $blue-text-shadow,
    lightShadow    : $light-blue-text-shadow,
    hover          : $blue-hover,
    lightHover     : $light-blue-hover,
    ribbon         : $blue-ribbon-shadow,
    invertedRibbon : $blue-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  violet: (
    color          : $violet,
    light          : $light-violet,
    border         : $violet-border-color,
    background     : $violet-background,
    header         : $violet-header-color,
    boxShadow      : $violet-box-shadow,
    boxFloatShadow : $violet-box-floating-shadow,
    text           : $label-violet-text-color,
    lightText      : $light-violet-text-color,
    hoverText      : $label-violet-hover-text-color,
    focus          : $violet-focus,
    lightFocus     : $light-violet-focus,
    down           : $violet-down,
    lightDown      : $light-violet-down,
    active         : $violet-active,
    lightActive    : $light-violet-active,
    shadow         : $violet-text-shadow,
    lightShadow    : $light-violet-text-shadow,
    hover          : $violet-hover,
    lightHover     : $light-violet-hover,
    ribbon         : $violet-ribbon-shadow,
    invertedRibbon : $violet-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  purple: (
    color          : $purple,
    light          : $light-purple,
    border         : $purple-border-color,
    background     : $purple-background,
    header         : $purple-header-color,
    boxShadow      : $purple-box-shadow,
    boxFloatShadow : $purple-box-floating-shadow,
    text           : $label-purple-text-color,
    lightText      : $light-purple-text-color,
    hoverText      : $label-purple-hover-text-color,
    focus          : $purple-focus,
    lightFocus     : $light-purple-focus,
    down           : $purple-down,
    lightDown      : $light-purple-down,
    active         : $purple-active,
    lightActive    : $light-purple-active,
    shadow         : $purple-text-shadow,
    lightShadow    : $light-purple-text-shadow,
    hover          : $purple-hover,
    lightHover     : $light-purple-hover,
    ribbon         : $purple-ribbon-shadow,
    invertedRibbon : $purple-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  pink: (
    color          : $pink,
    light          : $light-pink,
    border         : $pink-border-color,
    background     : $pink-background,
    header         : $pink-header-color,
    boxShadow      : $pink-box-shadow,
    boxFloatShadow : $pink-box-floating-shadow,
    text           : $label-pink-text-color,
    lightText      : $light-pink-text-color,
    hoverText      : $label-pink-hover-text-color,
    focus          : $pink-focus,
    lightFocus     : $light-pink-focus,
    down           : $pink-down,
    lightDown      : $light-pink-down,
    active         : $pink-active,
    lightActive    : $light-pink-active,
    shadow         : $pink-text-shadow,
    lightShadow    : $light-pink-text-shadow,
    hover          : $pink-hover,
    lightHover     : $light-pink-hover,
    ribbon         : $pink-ribbon-shadow,
    invertedRibbon : $pink-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  brown: (
    color          : $brown,
    light          : $light-brown,
    border         : $brown-border-color,
    background     : $brown-background,
    header         : $brown-header-color,
    boxShadow      : $brown-box-shadow,
    boxFloatShadow : $brown-box-floating-shadow,
    text           : $label-brown-text-color,
    lightText      : $light-brown-text-color,
    hoverText      : $label-brown-hover-text-color,
    focus          : $brown-focus,
    lightFocus     : $light-brown-focus,
    down           : $brown-down,
    lightDown      : $light-brown-down,
    active         : $brown-active,
    lightActive    : $light-brown-active,
    shadow         : $brown-text-shadow,
    lightShadow    : $light-brown-text-shadow,
    hover          : $brown-hover,
    lightHover     : $light-brown-hover,
    ribbon         : $brown-ribbon-shadow,
    invertedRibbon : $brown-inverted-ribbon-shadow,
    isDark         : false,
    isVeryDark     : false,
  ),
  grey: (
    color          : $grey,
    light          : $light-grey,
    border         : $grey-border-color,
    background     : $grey-background,
    header         : $grey-header-color,
    boxShadow      : $grey-box-shadow,
    boxFloatShadow : $grey-box-floating-shadow,
    text           : $label-grey-text-color,
    lightText      : $light-grey-text-color,
    hoverText      : $label-grey-hover-text-color,
    focus          : $grey-focus,
    lightFocus     : $light-grey-focus,
    down           : $grey-down,
    lightDown      : $light-grey-down,
    active         : $grey-active,
    lightActive    : $light-grey-active,
    shadow         : $grey-text-shadow,
    lightShadow    : $light-grey-text-shadow,
    hover          : $grey-hover,
    lightHover     : $light-grey-hover,
    ribbon         : $grey-ribbon-shadow,
    invertedRibbon : $grey-inverted-ribbon-shadow,
    isDark         : true,
    isVeryDark     : false,
  ),
  black: (
    color          : $black,
    light          : $light-black,
    border         : $black-border-color,
    background     : $black-background,
    header         : $black-header-color,
    boxShadow      : $black-box-shadow,
    boxFloatShadow : $black-box-floating-shadow,
    text           : $label-black-text-color,
    lightText      : $light-black-text-color,
    hoverText      : $label-black-hover-text-color,
    focus          : $black-focus,
    lightFocus     : $light-black-focus,
    down           : $black-down,
    lightDown      : $light-black-down,
    active         : $black-active,
    lightActive    : $light-black-active,
    shadow         : $black-text-shadow,
    lightShadow    : $light-black-text-shadow,
    hover          : $black-hover,
    lightHover     : $light-black-hover,
    ribbon         : $black-ribbon-shadow,
    invertedRibbon : $black-inverted-ribbon-shadow,
    isDark         : true,
    isVeryDark     : true,
  )
) !default;