@import "../globals/variables";

$placeholder-max-width: 30rem !default;

//- Variations */
$placeholder-full-line-outdent: 0 !default;
$placeholder-very-long-line-outdent: 10% !default;
$placeholder-long-line-outdent: 35% !default;
$placeholder-medium-line-outdent: 50% !default;
$placeholder-short-line-outdent: 65% !default;
$placeholder-very-short-line-outdent: 80% !default;

//- Key Content Sizing */
$placeholder-line-margin: $relative12px !default;
$placeholder-header-line-height: $relative9px !default;
$placeholder-line-height: $relative7px !default;
$placeholder-paragraph-line-height: $placeholder-line-height !default;

$placeholder-spacing: $relative20px !default;

//- Interval between consecutive placeholders */
$placeholder-animation-interval: 0.15s !default;

//- Repeated Placeholder */
$placeholder-consecutive-spacing: 2rem !default;

//- Image */
$placeholder-image-height: 100px !default;

//- Header Image */
$placeholder-image-width: 3em !default;
$placeholder-image-text-indent: $_10px !default;

//- Paragraph */
$placeholder-header-line-one-outdent: 20% !default;
$placeholder-header-line-two-outdent: 60% !default;

$placeholder-line-one-outdent: $placeholder-full-line-outdent !default;
$placeholder-line-two-outdent: $placeholder-medium-line-outdent !default;
$placeholder-line-three-outdent: $placeholder-very-long-line-outdent !default;
$placeholder-line-four-outdent: $placeholder-long-line-outdent !default;
$placeholder-line-five-outdent: $placeholder-short-line-outdent !default;


//- Glow Gradient */
$placeholder-loading-animation-duration: 2s !default;
$placeholder-loading-gradient-width: 1200px !default;
$placeholder-loading-gradient: linear-gradient(to right,
  rgba(0, 0, 0, 0.08) 0,
  rgba(0, 0, 0, 0.15) 15%,
  rgba(0, 0, 0, 0.08) 30%
) !default;
$placeholder-inverted-loading-gradient: linear-gradient(to right,
  rgba(255, 255, 255, 0.08) 0,
  rgba(255, 255, 255, 0.14) 15%,
  rgba(255, 255, 255, 0.08) 30%
) !default;
