@import "../globals/variables";

//@-****************************** Reveal *******************************/

$reveal-transition-delay: 0.1s !default;
$reveal-transition-duration: 0.5s !default;
$reveal-transition-easing: cubic-bezier(0.175, 0.885, 0.320, 1) !default;
$reveal-transition: all $reveal-transition-duration $default-easing $reveal-transition-delay !default;

$reveal-bottom-z-index: 2 !default;
$reveal-top-z-index: 3 !default;
$reveal-active-z-index: 4 !default;
$reveal-overlay-z-index: 5 !default;

//- Types */
$reveal-rotate-degrees: 110deg !default;
$reveal-move-transition: transform $reveal-transition-duration $reveal-transition-easing $reveal-transition-delay !default;
$reveal-slide-transition: transform $reveal-transition-duration $default-easing $reveal-transition-delay !default;
