@import "../globals/variables";

//@-******************************  Step *******************************/

//--------------------  Group --------------------*/

$step-margin: 1em 0;
$step-steps-border-radius: $default-border-radius;
$step-steps-background: '';
$step-steps-box-shadow: none;
$step-steps-border: 1px solid $border-color;

//-------------------- Element --------------------*/

$step-vertical-margin: 0;
$step-horizontal-margin: 0;

$step-arrow-size: $relative-large;
$step-vertical-padding: $relative-large;
$step-horizontal-padding: 2em;

$step-transition:
  background-color $default-duration $default-easing,
  opacity $default-duration $default-easing,
  color $default-duration $default-easing,
  box-shadow $default-duration $default-easing
;
$step-line-height: $relative-large;
$step-align-items: center;
$step-justify-content: center;
$step-background-color: $white;
$step-background: $step-background-color;
$step-border-radius: 0;
$step-border-width: 1px;
$step-box-shadow: none;
$step-border: none;
$step-divider: $step-border-width solid $border-color;

//- Icon */
$step-icon-distance: 1rem;
$step-icon-size: 2.5em;
$step-icon-align: middle;

//- Title */
$step-title-font-family: $header-font;
$step-title-font-weight: $bold;
$step-title-font-size: $relative-large;
$step-title-color: $dark-text-color;

//- Description */
$step-description-distance: 0.25em;
$step-description-font-size: $relative-small;
$step-description-font-weight: $normal;
$step-description-color: $text-color;


//- Arrow */
$step-arrow-background-color: $step-background-color;
$step-arrow-top-offset: 50%;
$step-arrow-right-offset: 0;
$step-arrow-border-width: 0 $step-border-width $step-border-width 0;

$step-arrow-display: block;
$step-last-arrow-display: none;

$step-active-arrow-display: block;
$step-active-last-arrow-display: none;

//- Mobile */
$step-mobile-icon-distance: $step-icon-distance;

//--------------------  Types --------------------*/

//- Vertical */
$step-vertical-divider: $step-divider;
$step-vertical-arrow-top-offset: 50%;
$step-vertical-arrow-right-offset: 0;
$step-vertical-arrow-border-width: 0 $step-border-width $step-border-width 0;

$step-vertical-arrow-display: none;
$step-vertical-last-arrow-display: $step-vertical-arrow-display;

$step-vertical-active-arrow-display: block;
$step-vertical-active-last-arrow-display: block;

//-------------------- Variations --------------------*/

$step-attached-horizontal-offset: -$step-border-width;
$step-attached-vertical-offset: 0;
$step-attached-width: calc(100% + #{-$step-attached-horizontal-offset * 2});

$step-ordered-font-family: inherit;
$step-ordered-font-weight: $bold;

//--------------------  States --------------------*/

//- Completed */
$step-completed-color: $positive-color;

//- Hover */
$step-hover-background: $off-white;
$step-hover-color: $hovered-text-color;

//- Down */
$step-down-background: $dark-white;
$step-down-color: $pressed-text-color;

//- Active */
$step-active-background: $dark-white;
$step-active-color: $link-color;
$step-active-icon-color: $dark-text-color;

//- Active + Hover */
$step-active-hover-background: $light-grey;
$step-active-hover-color: $text-color;


//- Disabled */
$step-disabled-background: $step-background;
$step-disabled-color: $disabled-text-color;

//- Inverted */
$step-inverted-active-background: #333333;
$step-inverted-active-hover-background: #444444;
$step-inverted-hover-background: #3F3F3F;
$step-inverted-disabled-background: #222222;
