
//@-****************************** Text *******************************/

//--------------------  Element --------------------*/
$text-mini: 0.4em !default;
$text-tiny: 0.5em !default;
$text-small: 0.75em !default;
$text-medium: 1em !default;
$text-large: 1.5em !default;
$text-big: 2em !default;
$text-huge: 4em !default;
$text-massive: 8em !default;

