@import "../globals/variables";

//@-****************************** Text *******************************/

//--------------------  Element --------------------*/
$text-mini: 0.4em;
$text-tiny: 0.5em;
$text-small: 0.75em;
$text-medium: 1em;
$text-large: 1.5em;
$text-big: 2em;
$text-huge: 4em;
$text-massive: 8em;

