//****************************** Breadcrumb *******************************

@import "../globals/variables";

$breadcrumb-vertical-margin: 0 !default;
$breadcrumb-display: inline-block !default;
$breadcrumb-vertical-align: middle !default;

$breadcrumb-divider-spacing: $_3px !default;
$breadcrumb-divider-opacity: 0.7 !default;
$breadcrumb-divider-color: $light-text-color !default;

$breadcrumb-divider-size: $relative-small !default;
$breadcrumb-divider-vertical-align: baseline !default;

$breadcrumb-icon-divider-size: $relative-tiny !default;
$breadcrumb-icon-divider-vertical-align: baseline !default;

$breadcrumb-section-margin: 0 !default;
$breadcrumb-section-padding: 0 !default;

// Coupling */
$breadcrumb-segment-padding: $relative-mini $relative-medium !default;

// Inverted */
$breadcrumb-inverted-color: $mid-white !default;
$breadcrumb-inverted-active-color: $white !default;
$breadcrumb-inverted-divider-color: $inverted-light-text-color !default;

//-------------------States--------------------*/
$breadcrumb-active-font-weight: $bold !default;
