@import "../globals/variables";

//@-****************************** Breadcrumb *******************************/

//--------------------  Breadcrumb --------------------*/

$breadcrumb-vertical-margin: 0;
$breadcrumb-display: inline-block;
$breadcrumb-vertical-align: middle;

$breadcrumb-divider-spacing: $_3px;
$breadcrumb-divider-opacity: 0.7;
$breadcrumb-divider-color: $light-text-color;

$breadcrumb-divider-size: $relative-small;
$breadcrumb-divider-vertical-align: baseline;

$breadcrumb-icon-divider-size: $relative-tiny;
$breadcrumb-icon-divider-vertical-align: baseline;

$breadcrumb-section-margin: 0;
$breadcrumb-section-padding: 0;

//- Coupling */
$breadcrumb-segment-padding: $relative-mini $relative-medium;

//- Inverted */
$breadcrumb-inverted-color: $mid-white;
$breadcrumb-inverted-active-color: $white;
$breadcrumb-inverted-divider-color: $inverted-light-text-color;

//--------------------  States --------------------*/

$breadcrumb-active-font-weight: $bold;
