@import "../globals/variables";

//@-******************************  Form *******************************/

//--------------------  Elements --------------------*/

//- Form */
$form-gutter-width: 1em;
$form-row-distance: 1em;

//- Text */
$form-paragraph-margin: $form-row-distance 0;

//- Field */
$form-field-margin: 0 0 $form-row-distance;

//- Fields */
$form-fields-margin: 0 (-$form-gutter-width / 2) $form-row-distance;

//- Form Label */
$form-label-distance: $_4px;
$form-label-margin: 0 0 $form-label-distance 0;
$form-label-font-size: $relative-small;
$form-label-font-weight: $bold;
$form-label-text-transform: none;
$form-label-color: $text-color;

//- Input */
$form-input-font: $page-font;
$form-input-width: 100%;
$form-input-font-size: 1em;
$form-input-padding: ($input-vertical-padding + ((1em - $input-line-height) / 2)) $input-horizontal-padding;
$form-input-border: 1px solid $border-color;
$form-input-border-radius: $absolute-border-radius;
$form-input-color: $text-color;
$form-input-transition:
  color $default-duration $default-easing,
  border-color $default-duration $default-easing
;
$form-input-box-shadow: 0 0 0 0 transparent inset;

//- Select */
$form-select-background: $white;
$form-select-border-radius: $form-input-border-radius;
$form-select-border: $form-input-border;
$form-select-padding: 0.62em $input-horizontal-padding;
$form-select-box-shadow: $form-input-box-shadow;
$form-select-transition: $form-input-transition;
$form-select-color: $form-input-color;

//- Text Area */
$form-text-area-padding: $input-vertical-padding $input-horizontal-padding;
$form-text-area-height: 12em;
$form-text-area-resize: vertical;
$form-text-area-line-height: 1.2857;
$form-text-area-min-height: 8em;
$form-text-area-max-height: 24em;
$form-text-area-background: $input-background;
$form-text-area-border: $form-input-border;
$form-text-area-font-size: $form-input-font-size;
$form-text-area-transition: $form-input-transition;

//- Checkbox */
$form-checkbox-vertical-align: top;
$form-checkbox-label-font-size: 1em;
$form-checkbox-label-text-transform: $form-label-text-transform;
$form-checkbox-label-field-top-margin: 0.7em;
$form-checkbox-field-top-margin: 1.2em;
$form-checkbox-toggle-field-top-margin: 1em;
$form-checkbox-slider-field-top-margin: 1.4em;

//- Errored Input */
$form-error-color: $negative-text-color;
$form-error-border: $negative-border-color;
$form-error-background: $negative-background-color;

//- Inline Validation Prompt */
$form-prompt-background: $white;
$form-prompt-border-color: $form-error-border;
$form-prompt-border: 1px solid $form-prompt-border-color;
$form-prompt-text-color: $form-error-color;
$form-inline-prompt-margin: -0.25em 0 -0.5em 0.5em;
$form-inline-prompt-border-width: 1px;

//-------------------- States --------------------*/

//- Focus */
$form-input-focus-pointer-size: 0;

//- Input Focus */
$form-input-focus-background: $input-background;
$form-input-focus-border-color: $focused-form-border-color;
$form-input-focus-color: $selected-text-color;
$form-input-focus-box-shadow: $form-input-focus-pointer-size 0 0 0 $selected-border-color inset;
$form-input-focus-border-radius: $form-input-border-radius;

//- Text Area Focus */
$form-text-area-focus-background: $form-input-focus-background;
$form-text-area-focus-border-color: $form-input-focus-border-color;
$form-text-area-focus-color: $form-input-focus-color;
$form-text-area-focus-box-shadow: $form-input-focus-box-shadow;
$form-text-area-focus-border-radius: $form-input-focus-border-radius;

//- Disabled */
$form-disabled-label-opacity: $disabled-opacity;

//- Errored Input */
$form-transparent-error-color: $form-error-color;
$form-transparent-error-background: $form-error-background;
$form-transparent-padding: $form-input-padding;

//- AutoFill */
$form-input-auto-fill-background: #FFFFF0;
$form-input-auto-fill-border: #E5DFA1;
$form-input-auto-fill-focus-background: $form-input-auto-fill-background;
$form-input-auto-fill-focus-border: #D5C315;
$form-input-auto-fill-error-background: #FFFAF0;
$form-input-auto-fill-error-border: #E0B4B4;


//- Input Error */
$form-input-error-border-radius: '';
$form-input-error-box-shadow: none;

//- Dropdown Error */
$form-dropdown-error-hover-background: #FBE7E7;
$form-dropdown-error-selected-background: $form-dropdown-error-hover-background;
$form-dropdown-error-active-background: #FDCFCF;
$form-dropdown-error-label-background: #EACBCB;
$form-dropdown-error-label-color: $error-text-color;

//- Focused Error */
$form-input-error-focus-background: $negative-background-color;
$form-input-error-focus-color: $negative-text-color;
$form-input-error-focus-border: $negative-border-color;
$form-input-error-focus-box-shadow: none;

//- Placeholder Error */
$form-input-error-placeholder-color: lighten($form-error-color, 40);
$form-input-error-placeholder-focus-color: lighten($form-error-color, 30);

//- Loading Dimmer */
$form-loader-dimmer-color: rgba(255, 255, 255, 0.8);
$form-loader-inverted-dimmer-color: rgba(0, 0, 0 , 0.85);
$form-loader-dimmer-z-index: 100;

//- Loading Spinner */
$form-loader-size: 3em;
$form-loader-line-z-index: 101;

//-------------------- Types --------------------*/

//- Required */
$form-required-content: '*';
$form-required-color: $negative-color;
$form-required-vertical-offset: -0.2em;
$form-required-distance: 0.2em;
$form-required-margin: $form-required-vertical-offset 0 0 $form-required-distance;

//- Inverted */
$form-inverted-input-background: $input-background;
$form-inverted-input-border-color: $white-border-color;
$form-inverted-input-box-shadow: $form-input-box-shadow;
$form-inverted-input-color: $form-input-color;
$form-inverted-label-color: $inverted-text-color;
$form-inverted-input-box-shadow: none;

//-------------------- Variations --------------------*/

//- Grouped Fields */
$form-grouped-margin: $form-field-margin;
$form-grouped-field-margin: 0.5em 0;

$form-grouped-label-distance: $form-label-distance;
$form-grouped-label-color: $form-label-color;
$form-grouped-label-margin: $form-label-margin;
$form-grouped-label-font-size: $form-label-font-size;
$form-grouped-label-font-weight: $form-label-font-weight;
$form-grouped-label-text-transform: $form-label-text-transform;


//- Inline */
$form-inline-input-size: $relative-medium;

$form-inline-label-distance: $relative-tiny;
$form-inline-label-color: $form-label-color;
$form-inline-label-font-size: $form-label-font-size;
$form-inline-label-font-weight: $form-label-font-weight;
$form-inline-label-text-transform: $form-label-text-transform;

$form-grouped-inline-label-margin: 0.035714em 1em 0 0;

//--------------------  Groups --------------------*/

$form-inline-fields-margin: 0 1em 0 0;
