
//@-******************************  Grid *******************************/

//- Inherited From Site */

// $mobile-breakpoint
// $tablet-breakpoint
// $computer-breakpoint
// $large-monitor-breakpoint
// $widescreen-monitor-breakpoint

//-****************************** Grid *******************************/

$grid-min-width: 320px !default;

$grid-gutter-width: 2rem !default;
$grid-row-spacing: 2rem !default;

$grid-table-width: calc(100% + #{$grid-gutter-width}) !default;
$grid-column-max-image-width: 100% !default;

$grid-consecutive-distance: ($grid-row-spacing / 2) !default;

//-******************************  Variations *******************************/

//---------------  Relaxed ---------------*/

$grid-relaxed-gutter-width: 3rem !default;
$grid-very-relaxed-gutter-width: 5rem !default;

//---------------  Divided ---------------*/

$grid-divided-border: -1px 0 0 0 $border-color !default;
$grid-vertically-divided-border: 0 -1px 0 0 $border-color !default;

$grid-divided-inverted-border: -1px 0 0 0 $white-border-color !default;
$grid-vertically-divided-inverted-border: 0 -1px 0 0 $white-border-color !default;

//--------------- Celled ---------------*/

$grid-celled-margin: 1em 0 !default;
$grid-celled-width: 1px !default;
$grid-celled-border-color: $solid-border-color !default;

$grid-celled-padding: 1em !default;
$grid-celled-relaxed-padding: 1.5em !default;
$grid-celled-very-relaxed-padding: 2em !default;

$grid-celled-divider: 0 0 0 $grid-celled-width $grid-celled-border-color !default;
$grid-celled-row-divider: 0 (-$grid-celled-width) 0 0 $grid-celled-border-color !default;
$grid-celled-column-divider: (-$grid-celled-width) 0 0 0 $grid-celled-border-color !default;


//--------------- Stackable ---------------*/

$grid-stackable-row-spacing: $grid-row-spacing !default;
$grid-stackable-gutter: $grid-gutter-width !default;
$grid-stackable-mobile-border: 1px solid $border-color !default;
$grid-stackable-inverted-mobile-border: 1px solid $white-border-color !default;

//--------------- Compact ---------------*/
$grid-compact-gutter-width: $grid-gutter-width / 2 !default;
$grid-compact-row-spacing: $grid-row-spacing / 2 !default;
$grid-compact-celled-relaxed-padding: $grid-celled-relaxed-padding / 2 !default;
$grid-compact-celled-very-relaxed-padding: $grid-celled-very-relaxed-padding / 2 !default;

//------------------- Very Compact ------------------*/
$grid-very-compact-gutter-width: $grid-compact-gutter-width / 2 !default;
$grid-very-compact-row-spacing: $grid-compact-row-spacing / 2 !default;
$grid-very-compact-celled-relaxed-padding: $grid-compact-celled-relaxed-padding / 2 !default;
$grid-very-compact-celled-very-relaxed-padding: $grid-compact-celled-very-relaxed-padding / 2 !default;


//-******************************  Legacy *******************************/

//---------------  Page ---------------*/

//- Legacy (DO NOT USE)  */
$grid-mobile-width: auto !default;
$grid-mobile-margin: 0 !default;
$grid-mobile-gutter: 0 !default;

$grid-tablet-width: auto !default;
$grid-tablet-margin: 0 !default;
$grid-tablet-gutter: 2em !default;

$grid-computer-width: auto !default;
$grid-computer-margin: 0 !default;
$grid-computer-gutter: 3% !default;

$grid-large-monitor-width: auto !default;
$grid-large-monitor-margin: 0 !default;
$grid-large-monitor-gutter: 15% !default;

$grid-widescreen-monitor-width: auto !default;
$grid-widescreen-margin: 0 !default;
$grid-widescreen-monitor-gutter: 23% !default;
