@import "../globals/variables";

//@-******************************  Menu *******************************/

//-------------------- Collection --------------------*/

//- Menu Item */
$menu-item-vertical-padding: $relative-small !default;
$menu-item-horizontal-padding: $relative-large !default;
$menu-item-text-transform: none !default;
$menu-item-transition:
  background $default-duration $default-easing,
  box-shadow $default-duration $default-easing,
  color $default-duration $default-easing
 !default;
$menu-item-font-weight: $normal !default;
$menu-item-text-color: $text-color !default;

//- Menu */
$menu-vertical-margin: $medium !default;
$menu-horizontal-margin: 0 !default;
$menu-margin: $menu-vertical-margin $menu-horizontal-margin !default;
$menu-background: #FFFFFF !default;
$menu-font-family: $page-font !default;
$menu-item-background: none !default;
$menu-font-weight: $normal !default;
$menu-border-width: 1px !default;
$menu-border: $menu-border-width solid $border-color !default;
$menu-box-shadow: $subtle-shadow !default;
$menu-border-radius: $default-border-radius !default;
$menu-min-height: ($menu-item-vertical-padding * 2) + 1em !default;

//- Divider */
$menu-divider-size: 1px !default;
$menu-divider-background: $internal-border-color !default;

//- Sub Menu */
$menu-sub-distance: 0.5em !default;
$menu-sub-margin: $menu-sub-distance (-$menu-item-horizontal-padding) 0 !default;
$menu-sub-font-size: $relative-tiny !default;
$menu-sub-text-color: rgba(0, 0, 0, 0.5) !default;

$menu-sub-indent: 0 !default;
$menu-sub-horizontal-padding: ($menu-item-horizontal-padding / $tiny-size) + $menu-sub-indent !default;
$menu-sub-vertical-padding: 0.5em !default;

//- Text Item */
$menu-text-line-height: 1.3 !default;

//--------------- Elements ---------------*/

//- Icon */
$menu-icon-float: none !default;
$menu-icon-margin: 0 $relative5px 0 0 !default;
$menu-icon-opacity: 0.9 !default;

//- Dropdown Icon */
$menu-dropdown-icon-float: right !default;
$menu-dropdown-icon-distance: 1em !default;

//- Header */
$menu-header-background: '' !default;
$menu-header-weight: $bold !default;
$menu-header-text-transform: $normal !default;

//- Vertical Icon */
$menu-vertical-icon-float: right !default;
$menu-vertical-icon-margin: 0 0 0 0.5em !default;

//- Vertical Header */
$menu-vertical-header-margin: 0 0 0.5em !default;
$menu-vertical-header-font-size: $relative-medium !default;
$menu-vertical-header-font-weight: $bold !default;

//- Pointing Arrow */
$menu-arrow-size: $relative8px !default;
$menu-arrow-border-width: 1px !default;
$menu-arrow-border: $menu-arrow-border-width solid $solid-border-color !default;
$menu-arrow-transition: background $default-duration $default-easing !default;
$menu-arrow-z-index: 2 !default;

$menu-arrow-hover-color: #F2F2F2 !default;
$menu-arrow-active-color: $menu-arrow-hover-color !default;
$menu-arrow-active-hover-color: $menu-arrow-active-color !default;

$menu-arrow-vertical-hover-color: $menu-arrow-hover-color !default;
$menu-arrow-vertical-active-color: $menu-arrow-active-color !default;
$menu-arrow-vertical-sub-color: $white !default;

//--------------- Couplings ---------------*/

//- Button */
$menu-button-size: $relative-medium !default;
$menu-button-offset: 0 !default;
$menu-button-margin: -0.5em 0 !default;
$menu-button-vertical-padding: $relative-mini !default;

//- Input */
$menu-input-size: $relative-medium !default;
$menu-input-vertical-margin: -0.5em !default;
$menu-input-offset: 0 !default;
$menu-input-vertical-padding: $relative8px !default;

//- Image */
$menu-image-margin: -0.3em 0 !default;
$menu-image-width: 2.5em !default;
$menu-vertical-image-width: auto !default;

//- Label */
$menu-label-offset: -0.15em !default;
$menu-label-background: #999999 !default;
$menu-label-text-color: $white !default;

$menu-label-text-margin: 1em !default;
$menu-label-vertical-padding: 0.3em !default;
$menu-circular-label-vertical-padding: 0.5em !default; //- has to be equal to @circularPadding from label.less */
$menu-label-horizontal-padding: $relative-mini !default;

$menu-label-and-icon-float: none !default;
$menu-label-and-icon-margin: 0 0.5em 0 0 !default;

//- Image Label */
$menu-image-label-text-distance: 0.8em !default;
$menu-image-label-vertical-padding: 0.2833em !default; //- Calculates as: @verticalLabel (from label.less) - $menu-label-vertical-padding (from here) */
$menu-image-label-height: (1em + $menu-image-label-vertical-padding * 2) !default;  //- Logic adopted from label.less */
$menu-image-label-image-margin: (-$menu-image-label-vertical-padding) $menu-image-label-text-distance (-$menu-image-label-vertical-padding) (-$menu-image-label-text-distance) !default;

//- Dropdown in Menu */
$menu-dropdown-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08) !default;

$menu-dropdown-background: #FFFFFF !default;
$menu-dropdown-distance: 0 !default;
$menu-dropdown-border-radius: $menu-border-radius !default;

$menu-dropdown-item-font-size: $relative-medium !default;
$menu-dropdown-item-padding: $relative-mini $relative-large !default;
$menu-dropdown-item-background: transparent !default;
$menu-dropdown-item-color: $text-color !default;
$menu-dropdown-item-text-transform: none !default;
$menu-dropdown-item-font-weight: $normal !default;
$menu-dropdown-item-box-shadow: none !default;
$menu-dropdown-item-transition: none !default;

$menu-dropdown-item-icon-float: none !default;
$menu-dropdown-item-icon-font-size: $relative-medium !default;
$menu-dropdown-item-icon-margin: 0 0.75em 0 0 !default;

$menu-dropdown-hovered-item-background: $transparent-black !default;
$menu-dropdown-hovered-item-color: $selected-text-color !default;

//- Dropdown Variations */
$menu-dropdown-vertical-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08) !default;
$menu-secondary-dropdown-distance: $relative5px !default;
$menu-pointing-dropdown-distance: 0.75em !default;
$menu-inverted-selection-dropdown-color: $inverted-text-color !default;

//---------------  States ---------------*/

//- Hovered Item */
$menu-hover-item-background: $subtle-transparent-black !default;
$menu-hover-item-text-color: $selected-text-color !default;

//- Pressed Item */
$menu-pressed-item-background: $subtle-transparent-black !default;
$menu-pressed-item-text-color: $menu-hover-item-text-color !default;


//- Active Item */
$menu-active-item-background: $transparent-black !default;
$menu-active-item-text-color: $selected-text-color !default;
$menu-active-item-font-weight: $normal !default;
$menu-active-icon-opacity: 1 !default;
$menu-active-item-box-shadow: none !default;

//- Active Hovered Item */
$menu-active-hover-item-background: $transparent-black !default;
$menu-active-hover-item-color: $selected-text-color !default;

//- Selected Dropdown */
$menu-dropdown-selected-item-background: $transparent-black !default;
$menu-dropdown-selected-item-color: $selected-text-color !default;

//- Active Dropdown */
$menu-dropdown-active-item-background: $subtle-transparent-black !default;
$menu-dropdown-active-item-color: $selected-text-color !default;
$menu-dropdown-active-item-font-weight: $bold !default;

//- Active Sub Menu */
$menu-sub-active-background: transparent !default;
$menu-sub-active-text-color: $menu-active-item-text-color !default;
$menu-sub-active-font-weight: $bold !default;


//---------------  Types ---------------*/

//- Vertical */
$menu-vertical-box-shadow: $menu-box-shadow !default;
$menu-vertical-pointer-width: 2px !default;
$menu-vertical-background: #FFFFFF !default;
$menu-vertical-item-background: none !default;
$menu-vertical-divider-background: $menu-divider-background !default;

$menu-vertical-active-box-shadow: none !default;


//- Secondary */
$menu-secondary-background: none !default;
$menu-secondary-item-spacing: $relative5px !default;
$menu-secondary-margin: 0 (-$menu-secondary-item-spacing) !default;
$menu-secondary-item-background: none !default;
$menu-secondary-item-margin: 0 $menu-secondary-item-spacing !default;
$menu-secondary-item-vertical-padding: $relative-mini !default;
$menu-secondary-item-horizontal-padding: $relative-small !default;
$menu-secondary-item-padding: $relative-mini $relative-small !default;
$menu-secondary-item-border-radius: $default-border-radius !default;
$menu-secondary-item-transition: color $default-duration $default-easing !default;
$menu-secondary-item-color: $unselected-text-color !default;

$menu-secondary-hover-item-background: $transparent-black !default;
$menu-secondary-hover-item-color: $selected-text-color !default;

$menu-secondary-active-item-background: $transparent-black !default;
$menu-secondary-active-item-color: $selected-text-color !default;
$menu-secondary-active-hover-item-background: $transparent-black !default;
$menu-secondary-active-hover-item-color: $selected-text-color !default;

$menu-secondary-active-hovered-item-background: $transparent-black !default;
$menu-secondary-active-hovered-item-color: $selected-text-color !default;

$menu-secondary-header-background: none transparent !default;
$menu-secondary-header-border: none !default;

$menu-secondary-item-vertical-spacing: $menu-secondary-item-spacing !default;
$menu-secondary-vertical-item-margin: 0 0 $menu-secondary-item-vertical-spacing !default;
$menu-secondary-vertical-item-border-radius: $default-border-radius !default;

$menu-secondary-sub-menu-margin: 0 (-$menu-secondary-item-horizontal-padding) !default;
$menu-secondary-sub-menu-item-margin: 0 !default;
$menu-secondary-sub-horizontal-padding: ($menu-item-horizontal-padding / $tiny-size) + $menu-sub-indent !default;
$menu-secondary-sub-menu-item-padding: $relative7px $menu-secondary-sub-horizontal-padding !default;

//- Pointing */
$menu-secondary-pointing-border-width: 2px !default;
$menu-secondary-pointing-border-color: $border-color !default;
$menu-secondary-pointing-item-vertical-padding: $relative-tiny !default;
$menu-secondary-pointing-item-horizontal-padding: $relative-large !default;

$menu-secondary-pointing-hover-text-color: $text-color !default;

$menu-secondary-pointing-active-border-color: currentColor !default;
$menu-secondary-pointing-active-text-color: $selected-text-color !default;
$menu-secondary-pointing-active-font-weight: $bold !default;

$menu-secondary-pointing-active-dropdown-border-color: transparent !default;

$menu-secondary-pointing-active-hover-border-color: $menu-secondary-pointing-active-border-color !default;
$menu-secondary-pointing-active-hover-text-color: $menu-secondary-pointing-active-text-color !default;

$menu-secondary-pointing-header-color: $dark-text-color !default;
$menu-secondary-vertical-pointing-item-margin: 0 (-$menu-secondary-pointing-border-width) 0 0 !default;

//- Inverted Secondary */
$menu-secondary-inverted-color: $inverted-light-text-color !default;

$menu-secondary-inverted-hover-background: $transparent-white !default;
$menu-secondary-inverted-hover-color: $inverted-selected-text-color !default;

$menu-secondary-inverted-active-background: $strong-transparent-white !default;
$menu-secondary-inverted-active-color: $inverted-selected-text-color !default;

//- Inverted Pointing */
$menu-secondary-pointing-inverted-border-color: $white-border-color !default;
$menu-secondary-pointing-inverted-item-text-color: $inverted-text-color !default;
$menu-secondary-pointing-inverted-item-header-color: $white !default;
$menu-secondary-pointing-inverted-item-hover-text-color: $inverted-selected-text-color !default;
$menu-secondary-pointing-inverted-active-border-color: $white !default;
$menu-secondary-pointing-inverted-active-color: $inverted-selected-text-color !default;


//- Tiered */
$menu-tiered-active-item-background: #FCFCFC !default;
$menu-tiered-active-background: #FCFCFC !default;

$menu-tiered-sub-text-transform: $normal !default;
$menu-tiered-sub-font-weight: $normal !default;

$menu-tiered-sub-color: $light-text-color !default;

$menu-tiered-sub-hover-background: none transparent !default;
$menu-tiered-sub-hover-color: $hovered-text-color !default;

$menu-tiered-sub-active-background: none transparent !default;
$menu-tiered-sub-active-color: $selected-text-color !default;

$menu-tiered-inverted-sub-background: rgba(0, 0, 0, 0.2) !default;


//- Icon */
$menu-icon-text-align: center !default;
$menu-icon-item-color: $black !default;
$menu-icon-inverted-item-color: $white !default;


//- Tabular */
$menu-tabular-border-color: $solid-border-color !default;
$menu-tabular-background-color: transparent !default;
$menu-tabular-background: none $menu-tabular-background-color !default;
$menu-tabular-border-width: 1px !default;
$menu-tabular-opposite-border-width: $menu-tabular-border-width + 1px !default;
$menu-tabular-vertical-padding: $menu-item-vertical-padding !default;
$menu-tabular-horizontal-padding: $relative-huge !default;
$menu-tabular-border-radius: $default-border-radius !default;
$menu-tabular-text-color: $menu-item-text-color !default;

$menu-tabular-hovered-text-color: $hovered-text-color !default;

$menu-tabular-vertical-background: none $menu-tabular-background-color !default;

$menu-tabular-fluid-offset: 1px !default;
$menu-tabular-fluid-width: calc(100% + #{$menu-tabular-fluid-offset * 2}) !default;

$menu-tabular-active-background: none $white !default;
$menu-tabular-active-color: $selected-text-color !default;
$menu-tabular-active-box-shadow: none !default;
$menu-tabular-active-weight: $bold !default;



//- Pagination */
$menu-pagination-min-width: 3em !default;
$menu-pagination-active-background: $transparent-black !default;
$menu-pagination-active-text-color: $selected-text-color !default;

//- Labeled Icon */
$menu-labeled-icon-item-horizontal-padding: $relative-massive !default;
$menu-labeled-icon-size: $relative-massive !default;
$menu-labeled-icon-min-width: 6em !default;
$menu-labeled-icon-text-margin: 0.5rem !default;


//- Text */
$menu-text-item-spacing: $relative7px !default;
$menu-text-margin: $relative-medium -($menu-text-item-spacing) !default;
$menu-text-item-color: $muted-text-color !default;
$menu-text-item-font-weight: $normal !default;
$menu-text-item-margin: 0 0 !default;
$menu-text-item-padding: $relative5px $menu-text-item-spacing !default;
$menu-text-item-transition: opacity $default-duration $default-easing !default;

$menu-text-sub-menu-margin: 0 !default;
$menu-text-sub-menu-item-margin: 0 !default;
$menu-text-sub-menu-item-padding: $relative7px 0 !default;

$menu-text-active-item-font-weight: $normal !default;
$menu-text-active-item-color: $selected-text-color !default;

$menu-text-header-size: $relative-small !default;
$menu-text-header-color: $dark-text-color !default;
$menu-text-header-font-weight: $bold !default;
$menu-text-header-text-transform: uppercase !default;

$menu-text-vertical-margin: $relative-medium 0 !default;
$menu-text-vertical-header-margin: $relative8px 0 $relative10px !default;
$menu-text-vertical-item-margin: $relative8px 0 !default;

$menu-text-vertical-icon-float: none !default;
$menu-text-vertical-icon-margin: $menu-icon-margin !default;


//---------------  Variations ---------------*/

//- Inverted */
$menu-inverted-background: $black !default;
$menu-inverted-box-shadow: none !default;
$menu-inverted-border: 0 solid transparent !default;
$menu-inverted-header-background: transparent !default;

$menu-inverted-item-background: transparent !default;
$menu-inverted-item-text-color: $inverted-text-color !default;

//- Inverted Sub Menu */
$menu-inverted-sub-background: transparent !default;
$menu-inverted-sub-color: $inverted-unselected-text-color !default;

//- Inverted Hover */
$menu-inverted-hover-background: $transparent-white !default;
$menu-inverted-hover-color: $inverted-selected-text-color !default;

$menu-inverted-sub-hover-background: transparent !default;
$menu-inverted-sub-hover-color: $inverted-selected-text-color !default;

//- Pressed */
$menu-inverted-pressed-background: $transparent-white !default;
$menu-inverted-pressed-color: $inverted-selected-text-color !default;

//- Inverted Active */
$menu-inverted-arrow-active-color: #3D3E3F !default;
$menu-inverted-active-background: $menu-inverted-arrow-active-color !default;
$menu-inverted-active-color: $inverted-selected-text-color !default;

//- Inverted Active Hover*/
$menu-inverted-active-hover-background: $menu-inverted-active-background !default;
$menu-inverted-active-hover-color: $white !default;
$menu-inverted-arrow-active-hover-color: $menu-inverted-arrow-active-color !default;

$menu-inverted-sub-active-background: transparent !default;
$menu-inverted-sub-active-color: $white !default;

//- Inverted Menu Divider */
$menu-inverted-divider-background: rgba(255, 255, 255, 0.08) !default;
$menu-inverted-vertical-divider-background: $menu-inverted-divider-background !default;

//- Inverted Colored */
$menu-inverted-colored-divider-background: $menu-divider-background !default;
$menu-inverted-colored-active-background: $strong-transparent-black !default;

//- Fixed */
$menu-fixed-preceding-grid-margin: 2.75rem !default;

//- Floated */
$menu-floated-distance: 0.5rem !default;

//- Attached */
$menu-attached-top-offset: 0 !default;
$menu-attached-bottom-offset: 0 !default;
$menu-attached-horizontal-offset: -$menu-border-width !default;
$menu-attached-width: calc(100% + #{-$menu-attached-horizontal-offset * 2}) !default;
$menu-attached-box-shadow: none !default;
$menu-attached-border: $menu-border-width solid $solid-border-color !default;
$menu-attached-bottom-box-shadow:
  $menu-box-shadow,
  $menu-attached-box-shadow
 !default;

//- Resize large sizes */
$menu-mini: $_11px !default;
$menu-tiny: $_12px !default;
$menu-small: $_13px !default;
$menu-large: $_15px !default;
$menu-big: $_16px !default;
$menu-huge: $_17px !default;
$menu-massive: $_18px !default;

//- Sizes */
$menu-mini-width: 9rem !default;
$menu-tiny-width: 11rem !default;
$menu-small-width: 13rem !default;
$menu-medium-width: 15rem !default;
$menu-large-width: 18rem !default;
$menu-big-width: 20rem !default;
$menu-huge-width: 22rem !default;
$menu-massive-width: 25rem !default;


//-------------------- Inverted dropdowns --------------------*/
$menu-inverted-dropdown-background: $black !default;
$menu-inverted-dropdown-box-shadow: none !default;

$menu-inverted-dropdown-item-color: $inverted-muted-text-color !default;

$menu-inverted-dropdown-hovered-item-background: $transparent-white !default;
$menu-inverted-dropdown-hovered-item-color: $menu-inverted-dropdown-item-color !default;

$menu-inverted-dropdown-active-item-background: transparent !default;
$menu-inverted-dropdown-active-item-color: $menu-inverted-dropdown-item-color !default;

$menu-inverted-dropdown-selected-item-background: $strong-transparent-white !default;
$menu-inverted-dropdown-selected-item-color: $menu-inverted-dropdown-item-color !default;
