
//@-****************************** Message *******************************/

// $text-color

//--------------------  Elements --------------------*/

$message-vertical-margin: 1em !default;
$message-vertical-padding: 1em !default;
$message-horizontal-padding: 1.5em !default;
$message-padding: $message-vertical-padding $message-horizontal-padding !default;
$message-background: #F8F8F9 !default;
$message-line-height-offset: (($line-height - 1em) / 2) !default;

$message-border-radius: $default-border-radius !default;
$message-border-width: 1px !default;
$message-border-shadow: 0 0 0 $message-border-width $strong-border-color inset !default;
$message-shadow-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !default;
$message-box-shadow:
  $message-border-shadow,
  $message-shadow-shadow
 !default;

$message-transition:
  opacity $default-duration $default-easing,
  color $default-duration $default-easing,
  background $default-duration $default-easing,
  box-shadow $default-duration $default-easing
 !default;

//- Header */
$message-header-font-size: $relative-large !default;
$message-header-font-weight: $bold !default;
$message-header-display: block !default;
$message-header-distance: 0 !default;
$message-header-margin: (-$header-line-height-offset) 0 $message-header-distance 0 !default;
$message-header-paragraph-distance: 0.25em !default;

//- Paragraph */
$message-text-opacity: 0.85 !default;
$message-paragraph-margin: 0.75em !default;

//- List */
$message-list-opacity: 0.85 !default;
$message-list-style-position: inside !default;
$message-list-margin: 0.5em !default;
$message-list-item-indent: 1em !default;
$message-list-item-margin: 0.3em !default;

//- Icon */
$message-icon-distance: 0.6em !default;

//- Close Icon */
$message-close-top-distance: $message-vertical-padding - $message-line-height-offset !default;
$message-close-right-distance: 0.5em !default;
$message-close-opacity: 0.7 !default;
$message-close-transition: opacity $default-duration $default-easing !default;


//-------------------- Types --------------------*/

//- Icon Message */
$message-icon-size: 3em !default;
$message-icon-opacity: 0.8 !default;
$message-icon-content-distance: 0 !default;
$message-icon-vertical-align: middle !default;

//- Attached */
$message-attached-x-offset: -1px !default;
$message-attached-y-offset: -1px !default;
$message-attached-box-shadow: 0 0 0 $message-border-width $border-color inset !default;
$message-attached-bottom-box-shadow:
  $message-attached-box-shadow,
  $subtle-shadow
 !default;

//- Floating */
$message-floating-box-shadow:
  $message-border-shadow,
  $floating-shadow
 !default;

//- Colors */
$message-red-box-shadow:
  0 0 0 $message-border-width $red-border-color inset,
  $message-shadow-shadow
 !default;
$message-red-box-floating-shadow:
  0 0 0 $message-border-width $red-border-color inset,
  $floating-shadow
 !default;
$message-orange-box-shadow:
  0 0 0 $message-border-width $orange-border-color inset,
  $message-shadow-shadow
 !default;
$message-orange-box-floating-shadow:
  0 0 0 $message-border-width $orange-border-color inset,
  $floating-shadow
 !default;
$message-yellow-box-shadow:
  0 0 0 $message-border-width $yellow-border-color inset,
  $message-shadow-shadow
 !default;
$message-yellow-box-floating-shadow:
   0 0 0 $message-border-width $yellow-border-color inset,
   $floating-shadow
 !default;
$message-olive-box-shadow:
  0 0 0 $message-border-width $olive-border-color inset,
  $message-shadow-shadow
 !default;
$message-olive-box-floating-shadow:
  0 0 0 $message-border-width $olive-border-color inset,
  $floating-shadow
 !default;
$message-green-box-shadow:
  0 0 0 $message-border-width $green-border-color inset,
  $message-shadow-shadow
 !default;
$message-green-box-floating-shadow:
  0 0 0 $message-border-width $green-border-color inset,
  $floating-shadow
 !default;
$message-teal-box-shadow:
  0 0 0 $message-border-width $teal-border-color inset,
  $message-shadow-shadow
 !default;
$message-teal-box-floating-shadow:
  0 0 0 $message-border-width $teal-border-color inset,
  $floating-shadow
 !default;
$message-blue-box-shadow:
  0 0 0 $message-border-width $blue-border-color inset,
  $message-shadow-shadow
 !default;
$message-blue-box-floating-shadow:
  0 0 0 $message-border-width $blue-border-color inset,
  $floating-shadow
 !default;
$message-violet-box-shadow:
  0 0 0 $message-border-width $violet-border-color inset,
  $message-shadow-shadow
 !default;
$message-violet-box-floating-shadow:
  0 0 0 $message-border-width $violet-border-color inset,
  $floating-shadow
 !default;
$message-purple-box-shadow:
  0 0 0 $message-border-width $purple-border-color inset,
  $message-shadow-shadow
 !default;
$message-purple-box-floating-shadow:
  0 0 0 $message-border-width $purple-border-color inset,
  $floating-shadow
 !default;
$message-pink-box-shadow:
  0 0 0 $message-border-width $pink-border-color inset,
  $message-shadow-shadow
 !default;
$message-pink-box-floating-shadow:
  0 0 0 $message-border-width $pink-border-color inset,
  $floating-shadow
 !default;
$message-brown-box-shadow:
  0 0 0 $message-border-width $brown-border-color inset,
  $message-shadow-shadow
 !default;
$message-brown-box-floating-shadow:
  0 0 0 $message-border-width $brown-border-color inset,
  $floating-shadow
 !default;

//- Warning / Positive / Negative / Info */
$message-positive-box-shadow:
  0 0 0 $message-border-width $positive-border-color inset,
  $message-shadow-shadow
 !default;
$message-positive-box-floating-shadow:
  0 0 0 $message-border-width $positive-border-color inset,
  $floating-shadow
 !default;
$message-negative-box-shadow:
  0 0 0 $message-border-width $negative-border-color inset,
  $message-shadow-shadow
 !default;
$message-negative-box-floating-shadow:
  0 0 0 $message-border-width $negative-border-color inset,
  $floating-shadow
 !default;
$message-info-box-shadow:
  0 0 0 $message-border-width $info-border-color inset,
  $message-shadow-shadow
 !default;
$message-info-box-floating-shadow:
  0 0 0 $message-border-width $info-border-color inset,
  $floating-shadow
 !default;
$message-warning-box-shadow:
  0 0 0 $message-border-width $warning-border-color inset,
  $message-shadow-shadow
 !default;
$message-warning-box-floating-shadow:
  0 0 0 $message-border-width $warning-border-color inset,
  $floating-shadow
 !default;
$message-error-box-shadow:
  0 0 0 $message-border-width $error-border-color inset,
  $message-shadow-shadow
 !default;
$message-error-box-floating-shadow:
  0 0 0 $message-border-width $error-border-color inset,
  $floating-shadow
 !default;
$message-success-box-shadow:
  0 0 0 $message-border-width $success-border-color inset,
  $message-shadow-shadow
 !default;
$message-success-box-floating-shadow:
  0 0 0 $message-border-width $success-border-color inset,
  $floating-shadow
 !default;


$message-consequences: (
  positive: (
    background     : $positive-background-color,
    header         : $positive-header-color,
    boxShadow      : $message-positive-box-shadow,
    boxFloatShadow : $message-positive-box-floating-shadow,
    text           : $positive-text-color,
  ),
  negative: (
    background     : $negative-background-color,
    header         : $negative-header-color,
    boxShadow      : $message-negative-box-shadow,
    boxFloatShadow : $message-negative-box-floating-shadow,
    text           : $negative-text-color,
  ),
  info: (
    background     : $info-background-color,
    header         : $info-header-color,
    boxShadow      : $message-info-box-shadow,
    boxFloatShadow : $message-info-box-floating-shadow,
    text           : $info-text-color,
  ),
  warning: (
    background     : $warning-background-color,
    header         : $warning-header-color,
    boxShadow      : $message-warning-box-shadow,
    boxFloatShadow : $message-warning-box-floating-shadow,
    text           : $warning-text-color,
  ),
  error: (
    background     : $error-background-color,
    header         : $error-header-color,
    boxShadow      : $message-error-box-shadow,
    boxFloatShadow : $message-error-box-floating-shadow,
    text           : $error-text-color,
  ),
  success: (
    background     : $success-background-color,
    header         : $success-header-color,
    boxShadow      : $message-success-box-shadow,
    boxFloatShadow : $message-success-box-floating-shadow,
    text           : $success-text-color,
  ),
) !default;
