@import "../globals/variables";

//@-******************************  Table *******************************/

//--------------------  Element --------------------*/

$table-vertical-margin: 1em;
$table-horizontal-margin: 0;
$table-margin: $table-vertical-margin $table-horizontal-margin;
$table-border-collapse: separate;
$table-border-spacing: 0;
$table-border-radius: $default-border-radius;
$table-transition:
  background $default-duration $default-easing,
  color $default-duration $default-easing
;
$table-background: $white;
$table-color: $text-color;
$table-border-width: 1px;
$table-border: $table-border-width solid $border-color;
$table-box-shadow: none;
$table-text-align: left;
$table-vertical-align: middle;

//---------------  Parts ---------------*/

//- Table Row */
$table-row-border: 1px solid $internal-border-color;

//- Table Cell */
$table-cell-vertical-padding: $relative-mini;
$table-cell-horizontal-padding: $relative-mini;
$table-cell-vertical-align: inherit;
$table-cell-text-align: inherit;
$table-cell-border: 1px solid $internal-border-color;

//- Table Header */
$table-header-border: 1px solid $internal-border-color;
$table-header-divider: none;
$table-header-background: $off-white;
$table-header-align: inherit;
$table-header-vertical-align: inherit;
$table-header-color: $text-color;
$table-header-vertical-padding: $relative-small;
$table-header-horizontal-padding: $table-cell-horizontal-padding;
$table-header-font-style: none;
$table-header-font-weight: $bold;
$table-header-text-transform: none;
$table-header-box-shadow: none;

//- Table Footer */
$table-footer-box-shadow: none;
$table-footer-border: 1px solid $border-color;
$table-footer-divider: none;
$table-footer-background: $off-white;
$table-footer-align: inherit;
$table-footer-vertical-align: middle;
$table-footer-color: $text-color;
$table-footer-vertical-padding: $table-cell-vertical-padding;
$table-footer-horizontal-padding: $table-cell-horizontal-padding;
$table-footer-font-style: $normal;
$table-footer-font-weight: $normal;
$table-footer-text-transform: none;

//- Responsive Size */
$table-responsive-header-display: block;
$table-responsive-footer-display: block;
$table-responsive-row-vertical-padding: 1em;
$table-responsive-row-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important;
$table-responsive-cell-vertical-padding: 0.25em;
$table-responsive-cell-horizontal-padding: 0.75em;
$table-responsive-cell-box-shadow: none !important;
$table-responsive-cell-header-font-weight: $bold;

//--------------------  Types --------------------*/

//- Definition */
$table-definition-page-background: $white;

$table-definition-header-background: $white;
$table-definition-header-color: $unselected-text-color;
$table-definition-header-font-weight: $normal;

$table-definition-footer-background: $table-definition-header-background;
$table-definition-footer-color: $table-definition-header-color;
$table-definition-footer-font-weight: $table-definition-header-font-weight;

$table-definition-column-background: $subtle-transparent-black;
$table-definition-column-font-weight: $bold;
$table-definition-column-color: $selected-text-color;
$table-definition-column-font-size: $relative-medium;
$table-definition-column-text-transform: '';
$table-definition-column-box-shadow: '';
$table-definition-column-text-align: '';
$table-definition-column-horizontal-padding: '';


//--------------- Couplings ---------------*/

$table-icon-vertical-align: baseline;

//---------------  States ---------------*/

$table-state-marker-width: 0;

//- Positive */
$table-positive-color: $positive-text-color;
$table-positive-box-shadow: $table-state-marker-width 0 0 $positive-border-color inset;
$table-positive-background-hover: darken($positive-background-color, 3);
$table-positive-color-hover: darken($table-positive-color, 3);

//- Negative */
$table-negative-color: $negative-text-color;
$table-negative-box-shadow: $table-state-marker-width 0 0 $negative-border-color inset;
$table-negative-background-hover: darken($negative-background-color, 3);
$table-negative-color-hover: darken($table-negative-color, 3);

//- Error */
$table-error-color: $error-text-color;
$table-error-box-shadow: $table-state-marker-width 0 0 $error-border-color inset;
$table-error-background-hover: darken($error-background-color, 3);
$table-error-color-hover: darken($table-error-color, 3);

//- Warning */
$table-warning-color: $warning-text-color;
$table-warning-box-shadow: $table-state-marker-width 0 0 $warning-border-color inset;
$table-warning-background-hover: darken($warning-background-color, 3);
$table-warning-color-hover: darken($table-warning-color, 3);

//- Active */
$table-active-color: $text-color;
$table-active-background-color: #E0E0E0;
$table-active-box-shadow: $table-state-marker-width 0 0 $table-active-color inset;

$table-active-background-hover: #EFEFEF;
$table-active-color-hover: $selected-text-color;

//---------------  Types ---------------*/

//- Attached */
$table-attached-top-offset: 0;
$table-attached-bottom-offset: 0;
$table-attached-horizontal-offset: -$table-border-width;
$table-attached-width: calc(100% + #{-$table-attached-horizontal-offset * 2});
$table-attached-box-shadow: none;
$table-attached-border: $table-border-width solid $solid-border-color;
$table-attached-bottom-box-shadow:
  $table-box-shadow,
  $table-attached-box-shadow
;

//- Striped */
$table-striped-background: rgba(0, 0, 50, 0.02);
$table-inverted-striped-background: rgba(255, 255, 255, 0.05);

//- Selectable */
$table-selectable-background: $transparent-black;
$table-selectable-text-color: $selected-text-color;
$table-selectable-inverted-background: $transparent-white;
$table-selectable-inverted-text-color: $inverted-selected-text-color;

//- Sortable */
$table-sortable-background: '';
$table-sortable-color: $text-color;

$table-sortable-border: 1px solid $border-color;
$table-sortable-icon-width: auto;
$table-sortable-icon-distance: 0.5em;
$table-sortable-icon-opacity: 0.8;
$table-sortable-icon-font: 'Icons';
$table-sortable-icon-ascending: '\f0d8';
$table-sortable-icon-descending: '\f0d7';
$table-sortable-disabled-color: $disabled-text-color;

$table-sortable-hover-background: $transparent-black;
$table-sortable-hover-color: $hovered-text-color;

$table-sortable-active-background: $transparent-black;
$table-sortable-active-color: $selected-text-color;

$table-sortable-active-hover-background: $transparent-black;
$table-sortable-active-hover-color: $selected-text-color;

$table-sortable-inverted-border-color: transparent;
$table-sortable-inverted-hover-background: $transparent-white $subtle-gradient;
$table-sortable-inverted-hover-color: $inverted-hovered-text-color;
$table-sortable-inverted-active-background: $strong-transparent-white $subtle-gradient;
$table-sortable-inverted-active-color: $inverted-selected-text-color;

//- Colors */
$table-colored-border-size: 0.2em;
$table-colored-border-radius: 0 0 $table-border-radius $table-border-radius;
$table-colored-border-size-cover: $table-colored-border-size / 2;

//- Inverted */
$table-inverted-background: #333333;
$table-inverted-border: none;
$table-inverted-cell-border: 1px solid $white-border-color;
$table-inverted-cell-border-color: $white-border-color;
$table-inverted-cell-color: $inverted-text-color;

$table-inverted-header-background: $very-strong-transparent-black;
$table-inverted-header-color: $inverted-text-color;
$table-inverted-header-border-color: $table-inverted-cell-border-color;

$table-inverted-definition-column-background: $subtle-transparent-white;
$table-inverted-definition-column-color: $inverted-selected-text-color;
$table-inverted-definition-column-font-weight: $bold;

//- Basic */
$table-basic-background: transparent;
$table-basic-border: $border-color;
$table-basic-box-shadow: none;

$table-basic-header-background: transparent;
$table-basic-cell-background: transparent;
$table-basic-header-divider: none;
$table-basic-cell-border: 1px solid rgba(0, 0, 0, 0.1);
$table-basic-cell-padding: '';
$table-basic-striped-background: $transparent-black;

//- Padded */
$table-padded-vertical-padding: 1em;
$table-padded-horizontal-padding: 1em;
$table-very-padded-vertical-padding: 1.5em;
$table-very-padded-horizontal-padding: 1.5em;

//- Compact */
$table-compact-vertical-padding: 0.5em;
$table-compact-horizontal-padding: 0.7em;
$table-very-compact-vertical-padding: 0.4em;
$table-very-compact-horizontal-padding: 0.6em;


//- Sizes */
$table-small: 0.9em;
$table-medium: 1em;
$table-large: 1.1em;
