
//@-******************************  Table *******************************/

//--------------------  Element --------------------*/

$table-vertical-margin: 1em !default;
$table-horizontal-margin: 0 !default;
$table-margin: $table-vertical-margin $table-horizontal-margin !default;
$table-border-collapse: separate !default;
$table-border-spacing: 0 !default;
$table-border-radius: $default-border-radius !default;
$table-transition:
  background $default-duration $default-easing,
  color $default-duration $default-easing
 !default;
$table-background: $white !default;
$table-color: $text-color !default;
$table-border-width: 1px !default;
$table-border: $table-border-width solid $border-color !default;
$table-box-shadow: none !default;
$table-text-align: left !default;
$table-vertical-align: middle !default;

//---------------  Parts ---------------*/

//- Table Row */
$table-row-border: 1px solid $internal-border-color !default;

//- Table Cell */
$table-cell-vertical-padding: $relative-mini !default;
$table-cell-horizontal-padding: $relative-mini !default;
$table-cell-vertical-align: inherit !default;
$table-cell-text-align: inherit !default;
$table-cell-border: 1px solid $internal-border-color !default;

//- Table Header */
$table-header-border: 1px solid $internal-border-color !default;
$table-header-divider: none !default;
$table-header-background: $off-white !default;
$table-header-align: inherit !default;
$table-header-vertical-align: inherit !default;
$table-header-color: $text-color !default;
$table-header-vertical-padding: $relative-small !default;
$table-header-horizontal-padding: $table-cell-horizontal-padding !default;
$table-header-font-style: none !default;
$table-header-font-weight: $bold !default;
$table-header-text-transform: none !default;
$table-header-box-shadow: none !default;

//- Table Footer */
$table-footer-box-shadow: none !default;
$table-footer-border: 1px solid $border-color !default;
$table-footer-divider: none !default;
$table-footer-background: $off-white !default;
$table-footer-align: inherit !default;
$table-footer-vertical-align: middle !default;
$table-footer-color: $text-color !default;
$table-footer-vertical-padding: $table-cell-vertical-padding !default;
$table-footer-horizontal-padding: $table-cell-horizontal-padding !default;
$table-footer-font-style: $normal !default;
$table-footer-font-weight: $normal !default;
$table-footer-text-transform: none !default;

//- Responsive Size */
$table-responsive-header-display: block !default;
$table-responsive-footer-display: block !default;
$table-responsive-row-vertical-padding: 1em !default;
$table-responsive-row-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important !default;
$table-responsive-cell-vertical-padding: 0.25em !default;
$table-responsive-cell-horizontal-padding: 0.75em !default;
$table-responsive-cell-box-shadow: none !important !default;
$table-responsive-cell-header-font-weight: $bold !default;

//--------------------  Types --------------------*/

//- Definition */
$table-definition-page-background: $white !default;

$table-definition-header-background: $white !default;
$table-definition-header-color: $unselected-text-color !default;
$table-definition-header-font-weight: $normal !default;

$table-definition-footer-background: $table-definition-header-background !default;
$table-definition-footer-color: $table-definition-header-color !default;
$table-definition-footer-font-weight: $table-definition-header-font-weight !default;

$table-definition-column-background: $subtle-transparent-black !default;
$table-definition-column-font-weight: $bold !default;
$table-definition-column-color: $selected-text-color !default;
$table-definition-column-font-size: $relative-medium !default;
$table-definition-column-text-transform: '' !default;
$table-definition-column-box-shadow: '' !default;
$table-definition-column-text-align: '' !default;
$table-definition-column-horizontal-padding: '' !default;


//--------------- Couplings ---------------*/

$table-icon-vertical-align: baseline !default;

//---------------  States ---------------*/

$table-state-marker-width: 0 !default;

//- Positive */
$table-positive-color: $positive-text-color !default;
$table-positive-box-shadow: $table-state-marker-width 0 0 $positive-border-color inset !default;
$table-positive-background-hover: darken($positive-background-color, 3) !default;
$table-positive-color-hover: darken($table-positive-color, 3) !default;

//- Negative */
$table-negative-color: $negative-text-color !default;
$table-negative-box-shadow: $table-state-marker-width 0 0 $negative-border-color inset !default;
$table-negative-background-hover: darken($negative-background-color, 3) !default;
$table-negative-color-hover: darken($table-negative-color, 3) !default;

//- Error */
$table-error-color: $error-text-color !default;
$table-error-box-shadow: $table-state-marker-width 0 0 $error-border-color inset !default;
$table-error-background-hover: darken($error-background-color, 3) !default;
$table-error-color-hover: darken($table-error-color, 3) !default;

//- Warning */
$table-warning-color: $warning-text-color !default;
$table-warning-box-shadow: $table-state-marker-width 0 0 $warning-border-color inset !default;
$table-warning-background-hover: darken($warning-background-color, 3) !default;
$table-warning-color-hover: darken($table-warning-color, 3) !default;

//- Active */
$table-active-color: $text-color !default;
$table-active-background-color: #E0E0E0 !default;
$table-active-box-shadow: $table-state-marker-width 0 0 $table-active-color inset !default;

$table-active-background-hover: #EFEFEF !default;
$table-active-color-hover: $selected-text-color !default;

//---------------  Types ---------------*/

//- Attached */
$table-attached-top-offset: 0 !default;
$table-attached-bottom-offset: 0 !default;
$table-attached-horizontal-offset: -$table-border-width !default;
$table-attached-width: calc(100% + #{-$table-attached-horizontal-offset * 2}) !default;
$table-attached-box-shadow: none !default;
$table-attached-border: $table-border-width solid $solid-border-color !default;
$table-attached-bottom-box-shadow:
  $table-box-shadow,
  $table-attached-box-shadow
 !default;

//- Striped */
$table-striped-background: rgba(0, 0, 50, 0.02) !default;
$table-inverted-striped-background: rgba(255, 255, 255, 0.05) !default;

//- Selectable */
$table-selectable-background: $transparent-black !default;
$table-selectable-text-color: $selected-text-color !default;
$table-selectable-inverted-background: $transparent-white !default;
$table-selectable-inverted-text-color: $inverted-selected-text-color !default;

//- Sortable */
$table-sortable-background: '' !default;
$table-sortable-color: $text-color !default;

$table-sortable-border: 1px solid $border-color !default;
$table-sortable-icon-width: auto !default;
$table-sortable-icon-distance: 0.5em !default;
$table-sortable-icon-opacity: 0.8 !default;
$table-sortable-icon-font: 'Icons' !default;
$table-sortable-icon-ascending: '\f0d8' !default;
$table-sortable-icon-descending: '\f0d7' !default;
$table-sortable-disabled-color: $disabled-text-color !default;

$table-sortable-hover-background: $transparent-black !default;
$table-sortable-hover-color: $hovered-text-color !default;

$table-sortable-active-background: $transparent-black !default;
$table-sortable-active-color: $selected-text-color !default;

$table-sortable-active-hover-background: $transparent-black !default;
$table-sortable-active-hover-color: $selected-text-color !default;

$table-sortable-inverted-border-color: transparent !default;
$table-sortable-inverted-hover-background: $transparent-white $subtle-gradient !default;
$table-sortable-inverted-hover-color: $inverted-hovered-text-color !default;
$table-sortable-inverted-active-background: $strong-transparent-white $subtle-gradient !default;
$table-sortable-inverted-active-color: $inverted-selected-text-color !default;

//- Colors */
$table-colored-border-size: 0.2em !default;
$table-colored-border-radius: 0 0 $table-border-radius $table-border-radius !default;
$table-colored-border-size-cover: $table-colored-border-size / 2 !default;

//- Inverted */
$table-inverted-background: #333333 !default;
$table-inverted-border: none !default;
$table-inverted-cell-border: 1px solid $white-border-color !default;
$table-inverted-cell-border-color: $white-border-color !default;
$table-inverted-cell-color: $inverted-text-color !default;

$table-inverted-header-background: $very-strong-transparent-black !default;
$table-inverted-header-color: $inverted-text-color !default;
$table-inverted-header-border-color: $table-inverted-cell-border-color !default;

$table-inverted-definition-column-background: $subtle-transparent-white !default;
$table-inverted-definition-column-color: $inverted-selected-text-color !default;
$table-inverted-definition-column-font-weight: $bold !default;

//- Basic */
$table-basic-background: transparent !default;
$table-basic-border: $border-color !default;
$table-basic-box-shadow: none !default;

$table-basic-header-background: transparent !default;
$table-basic-cell-background: transparent !default;
$table-basic-header-divider: none !default;
$table-basic-cell-border: 1px solid rgba(0, 0, 0, 0.1) !default;
$table-basic-cell-padding: '' !default;
$table-basic-striped-background: $transparent-black !default;

//- Padded */
$table-padded-vertical-padding: 1em !default;
$table-padded-horizontal-padding: 1em !default;
$table-very-padded-vertical-padding: 1.5em !default;
$table-very-padded-horizontal-padding: 1.5em !default;

//- Compact */
$table-compact-vertical-padding: 0.5em !default;
$table-compact-horizontal-padding: 0.7em !default;
$table-very-compact-vertical-padding: 0.4em !default;
$table-very-compact-horizontal-padding: 0.6em !default;


//- Sizes */
$table-small: 0.9em !default;
$table-medium: 1em !default;
$table-large: 1.1em !default;
