//-------------- Button ------------------*/
$use-button: false;
//Types
$use-button-type-animated: false;
$use-button-type-labeled: false;
$use-button-type-basic: false;
$use-button-type-inverted: false;
$use-button-type-tertiary: false;
//Variations
$use-button-variation-social: false;
$use-button-variation-colors: false;
$use-button-variation-consequences: false;