//-------------- Input ------------------*/
$use-input: false;
//Variations
$use-input-variation-icon: false;
$use-input-variation-labeled: false;
$use-input-variation-action: false;
$use-input-variation-transparent: false;
$use-input-variation-inverted: false;