//-------------- Label ------------------*/
$use-label: false;
//Types
$use-label-type-image: false;
$use-label-type-pointing: false;
$use-label-type-corner: false;
$use-label-type-tag: false;
$use-label-type-ribbon: false;
$use-label-type-horizontal: false;
$use-label-type-attached: false;
$use-label-type-floating: false;
//Variations
$use-label-variation-circular: false;
$use-label-variation-basic: false;
$use-label-variation-inverted: false;
$use-label-variation-basic-pointing: false;
$use-label-variation-basic-tag: false;
$use-label-variation-colors: false;