//-------------- List ------------------*/
$use-list: false;
//Types
$use-list-type-bulleted: false;
$use-list-type-link: false;
$use-list-type-ordered: false;
//Variations
$use-list-variation-horizontal: false;
$use-list-variation-inverted: false;
$use-list-variation-selection: false;
$use-list-variation-divided: false;
$use-list-variation-celled: false;
$use-list-variation-relaxed: false;