//-------------- Segment ------------------*/
$use-segment: false;
//Types
$use-segment-type-placeholder: false;
$use-segment-type-piled: false;
$use-segment-type-stacked: false;
//Variations
$use-segment-variation-inverted: false;
$use-segment-variation-attached: false;
$use-segment-variation-colors: false;