//-------------- Step ------------------*/
$use-step: false;
//Types
$use-step-type-ordered: false;
$use-step-type-vertical: false;
//Variations
$use-step-variation-inverted: false;
$use-step-variation-attached: false;