@import '../colors/all';
@import '../texts/all';

$primaryHeaderColor   : darken($primaryTextColor, 5) !default;
$secondaryHeaderColor : darken($secondaryTextColor, 5) !default;
$redHeaderColor    : darken($redTextColor, 5) !default;
$oliveHeaderColor  : darken($oliveTextColor, 5) !default;
$greenHeaderColor  : darken($greenTextColor, 5) !default;
$yellowHeaderColor : darken($yellowTextColor, 5) !default;
$blueHeaderColor   : darken($blueTextColor, 5) !default;
$tealHeaderColor   : darken($tealTextColor, 5) !default;
$pinkHeaderColor   : darken($pinkTextColor, 5) !default;
$violetHeaderColor : darken($violetTextColor, 5) !default;
$purpleHeaderColor : darken($purpleTextColor, 5) !default;
$orangeHeaderColor : darken($orangeTextColor, 5) !default;
$brownHeaderColor  : darken($brownTextColor, 5) !default;
$greyHeaderColor  : darken($greyTextColor, 5) !default;
$blackHeaderColor  : darken($blackTextColor, 5) !default;