@import '../../../../functions/all';
@import '../fonts/all';

$headerFontWeight : $bold !default;
$headerLineHeight : join-value-to-unit((18 / 14), em) !default;

$h1 : join-value-to-unit((28 / 14), rem) !default;
$h2 : join-value-to-unit((24 / 14), rem) !default;
$h3 : join-value-to-unit((18 / 14), rem) !default;
$h4 : join-value-to-unit((15 / 14), rem) !default;
$h5 : join-value-to-unit((14 / 14), rem) !default;