$positive-header-color: #1a531b !default;
$success-header-color: $positive-header-color !default;

$negative-header-color: #912d2b !default;
$error-header-color: $negative-header-color !default;

$info-header-color: #0e566c !default;

$warning-header-color: #794b02 !default;
