$positiveHeaderColor    : #1A531B !default;
$successHeaderColor     : $positiveHeaderColor !default;

$negativeHeaderColor    : #912D2B !default;
$errorHeaderColor       : $negativeHeaderColor !default;

$infoHeaderColor        : #0E566C !default;

$warningHeaderColor     : #794B02 !default;
