//@import "../fonts/exact-pixels";

$circular-radius: 500rem !default;
$relative-border-radius: $relative4px !default;
$absolute-border-radius: $_4px !default;
$default-border-radius: $absolute-border-radius !default;
