@import '../fonts/exact-pixels';

$circularRadius : 500rem !default;
$relativeBorderRadius: $relative4px !default;
$absoluteBorderRadius: $_4px !default;
$defaultBorderRadius: $absoluteBorderRadius !default;