$positiveBorderColor     : #A3C293 !default;
$successBorderColor     : $positiveBorderColor !default;

$negativeBorderColor     : #E0B4B4 !default;
$errorBorderColor        : $negativeBorderColor !default;

$infoBorderColor        : #A9D5DE !default;
$warningBorderColor     : #C9BA9B !default;

$disabledBorderColor       : rgba(34, 36, 38, 0.5) !default;

$selectedBorderColor       : rgba(34, 36, 38, 0.35) !default;
$selectedWhiteBorderColor  : rgba(255, 255, 255, 0.8) !default;
$selectedSolidWhiteBorderColor : #999999 !default;