$primaryBackground   : #DFF0FF !default;
$secondaryBackground : #F4F4F4 !default;
$redBackground    : #FFE8E6 !default;
$orangeBackground : #FFEDDE !default;
$yellowBackground : #FFF8DB !default;
$oliveBackground  : #FBFDEF !default;
$greenBackground  : #E5F9E7 !default;
$tealBackground   : #E1F7F7 !default;
$blueBackground   : #DFF0FF !default;
$violetBackground : #EAE7FF !default;
$purpleBackground : #F6E7FF !default;
$pinkBackground   : #FFE3FB !default;
$brownBackground  : #F1E2D3 !default;
$greyBackground   : #F4F4F4 !default;
$blackBackground  : #F4F4F4 !default;