$primary-background: #dff0ff !default;
$secondary-background: #f4f4f4 !default;
$red-background: #ffe8e6 !default;
$orange-background: #ffedde !default;
$yellow-background: #fff8db !default;
$olive-background: #fbfdef !default;
$green-background: #e5f9e7 !default;
$teal-background: #e1f7f7 !default;
$blue-background: #dff0ff !default;
$violet-background: #eae7ff !default;
$purple-background: #f6e7ff !default;
$pink-background: #ffe3fb !default;
$brown-background: #f1e2d3 !default;
$grey-background: #f4f4f4 !default;
$black-background: #f4f4f4 !default;
