@import './main';
@import './light';

$facebookColor   : #3B5998 !default;
$twitterColor    : #1DA1F2 !default;
$googlePlusColor : #DD4B39 !default;
$linkedInColor   : #0077B5 !default;
$youtubeColor    : #FF0000 !default;
$pinterestColor  : #BD081C !default;
$vkColor         : #45668E !default;
$instagramColor  : #49769C !default;
$telegramColor   : #0088CC !default;
$whatsAppColor   : #25D366 !default;

$primaryColor        : $blue !default;
$secondaryColor      : $black !default;

$lightPrimaryColor   : $lightBlue !default;
$lightSecondaryColor : $lightBlack !default;

$blendingBaseColor: #cccccc !default;