$lightRed         : #FF695E !default;
$lightOrange      : #FF851B !default;
$lightYellow      : #FFE21F !default;
$lightOlive       : #D9E778 !default;
$lightGreen       : #2ECC40 !default;
$lightTeal        : #6DFFFF !default;
$lightBlue        : #54C8FF !default;
$lightViolet      : #A291FB !default;
$lightPurple      : #DC73FF !default;
$lightPink        : #FF8EDF !default;
$lightBrown       : #D67C1C !default;
$lightGrey        : #DCDDDE !default;
$lightBlack       : #545454 !default;