$red: #db2828 !default;
$orange: #f2711c !default;
$yellow: #fbbd08 !default;
$olive: #b5cc18 !default;
$green: #21ba45 !default;
$teal: #00b5ad !default;
$blue: #2185d0 !default;
$violet: #6435c9 !default;
$purple: #a333c8 !default;
$pink: #e03997 !default;
$brown: #a5673f !default;
$grey: #767676 !default;
$black: #1b1c1d !default;

$main-colors-names: "primary", "secondary";
$consequences-names: "positive", "negative";
$colors-variations-names: "red", "orange", "yellow", "olive", "green", "teal", "blue", "violet", "purple", "pink", "brown", "grey", "black";