$red              : #DB2828 !default;
$orange           : #F2711C !default;
$yellow           : #FBBD08 !default;
$olive            : #B5CC18 !default;
$green            : #21BA45 !default;
$teal             : #00B5AD !default;
$blue             : #2185D0 !default;
$violet           : #6435C9 !default;
$purple           : #A333C8 !default;
$pink             : #E03997 !default;
$brown            : #A5673F !default;
$grey             : #767676 !default;
$black            : #1B1C1D !default;