$subtleTransparentBlack     : rgba(0, 0, 0, 0.03) !default;
$subtleTransparentBlack02     : rgba(0, 0, 0, 0.02) !default;
$transparentBlack           : rgba(0, 0, 0, 0.05) !default;
$strongTransparentBlack     : rgba(0, 0, 0, 0.10) !default;
$veryStrongTransparentBlack : rgba(0, 0, 0, 0.15) !default;

$subtleTransparentWhite     : rgba(255, 255, 255, 0.02) !default;
$transparentWhite           : rgba(255, 255, 255, 0.08) !default;
$strongTransparentWhite     : rgba(255, 255, 255, 0.15) !default;