$subtle-transparent-black: rgba(0, 0, 0, 0.03) !default;
$subtle-transparent-black02: rgba(0, 0, 0, 0.02) !default;
$transparent-black: rgba(0, 0, 0, 0.05) !default;
$strong-transparent-black: rgba(0, 0, 0, 0.1) !default;
$very-strong-transparent-black: rgba(0, 0, 0, 0.15) !default;

$subtle-transparent-white: rgba(255, 255, 255, 0.02) !default;
$transparent-white: rgba(255, 255, 255, 0.08) !default;
$strong-transparent-white: rgba(255, 255, 255, 0.15) !default;
